<template>
  <div>
    <div class="text-center"><h2>Galerías</h2></div> 
    <div class="table">
      <table class="table table-hover">
        <thead>
          <tr>
            <td colspan="2">
              <b-row>
                <b-col sm="12" lg="6" v-if="crear">
                  <b-input-group prepend="Nueva galería" >
                    <b-form-input type="text" v-model="nuevaGaleria"></b-form-input>

                    <b-input-group-append>
                      <b-btn variant="success" @click="nueva"><icon name="check"></icon></b-btn>
                      <b-btn variant="danger" @click="cancelar"><icon name="close"></icon></b-btn>
                    </b-input-group-append>
                  </b-input-group>
                </b-col>
                <b-col v-if="!crear">
                  <b-button variant="primary" @click="crear = true">
                    <icon name="plus"></icon>
                  </b-button>
                </b-col>
              </b-row>
            </td>    
          </tr>
          <tr>
            <th>
              Galería
            </th>
            <th width="200">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr align="center" v-show="cargando"><td colspan="8"><icon name="refresh" scale="5" spin></icon></td></tr>
          <crud-component v-for="(item, index) in filtro" :item="item" :key="item.id" @update="actualizar($event)" @delete="tipoAccion('eliminar', $event)"></crud-component>
      </tbody>
    </table>
    <Paginate :pagination="pagination" @pagina="getItems"></Paginate>
    <component :is="modal" @accion="acciones" :formulario="formulario" :select="select" :key="select.id"></component>
  </div>
</div>
</template>

<script>



import EventBus from '../../../helpers/event-bus.js';
import Icon from 'vue-awesome/components/Icon';
import Paginate from '../../layouts/paginate.vue';
import Buscador from '../../extras/buscador.vue';
import funciones from '../../../helpers/funciones';
import crud from './EditGaleria.vue';
import deleteGaleria  from './FormGaleria.vue';

export default {
  components: {
    'icon': Icon,
    'crud-component': crud,
    'buscador-component':Buscador,
    'app-form' : deleteGaleria,
    Paginate
  },
  mixins: [funciones],
  data: ()=>({

    pageUrl: 'glrs',
    items: [],
    crear: false,
    nuevaGaleria: null,
    pagination: [],
    cargando: false,
    //formulario
    modal:'',
    select:[],
    formulario:'',
    //busqueda
    busqueda: '',
    columnaActiva: '',
      
  }),
  created() {
    this.getItems();
  },

  computed: {
    filtro(){ 
      if(this.items.length) {
        return this.items;
      }
    },
  },
  methods:{
    nueva(){
      axios.post(this.pageUrl, {galeria: this.nuevaGaleria}).then(response =>{
        
        response.data.status == 'success'? (toastr.success(response.data.msg), this.nuevaGaleria =  null, this.getItems()): toastr.warning(response.data.msg);
           
      }, (error) => {
        console.error(error.response);
      })
    },
    cancelar(){
      this.crear = false;
      this.nuevaGaleria =  null;
    },
    
    tipoAccion(action, data = []){
      this.select = data;
      this.modal = 'app-form'; 
      this.formulario = 2;
      EventBus.$emit('openModal','open'); //mando abrir el modal al seleccionar un elemento
    },
    getItems(){
      this.cargando = true;
           
      axios.get(`${this.pageUrl}`).then(response =>{
        this.items = response.data;
      }, error => {
        console.log(error.data);
      })

      this.cargando = false;
    },
    acciones(item){
      switch(item.accion){
        case 'editar':
          this.actualizar(item.objeto);
          break;
        case 'eliminar':
          this.eliminar(item.objeto);
          break;
      };
    },
    eliminar(eliminar){
      axios.delete(this.pageUrl + "/" + eliminar.nombre).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);
      }, (error) => {
        console.error(error.response);
      })
   
    },
    actualizar(actualizar){
    
      axios.patch(this.pageUrl + '/' + actualizar.old.nombre, actualizar).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);
      }, (error) => {
        console.log(error.response);
      })
    },
    
  }
  
}
</script>

<style scoped>

  .active{
    color: #fff;
    background: #0275d8;
  }
  .click{
    cursor: url("/image/puntero.png"), pointer;
  }

</style>
