<template> 
   <b-container fluid class="mb-5">
    
    
      <div class="text-center">
        <h2>
          Partidas {{ fechaCabecera }}
          
        </h2>
      </div>
   

    
      <div class="mb-2">
        <b-input-group>
            <b-input-group-prepend>
              <div class="input-group-text">
                <icon name="calendar"></icon>
              </div>
            </b-input-group-prepend>   
            <partidaPicker :partida.sync="fecha" :item="actual"></partidaPicker>
            
          </b-input-group>

      </div>
    
    
    
      
    
        <table class="table">
            <thead>
              <tr>
                <th v-for="pista in pistas" :style="[patrocinada[pista] == null ? { background: '#999', width: anchoColumna} : { background: `url('${patrocinada[pista]}') no-repeat center / 100% 100%`, width: anchoColumna}]">
                  <h2 :class="[patrocinada[pista] != null ? 'patrocinada' : 'no-patrocinada']">Pista {{pista}}</h2>
                </th>
              </tr>
              <tr class="fixed" :style="{top: isMobil}" v-if="isVisible">
                <th v-for="pista in pistas" :style="[patrocinada[pista] == null ? { background: '#999', width: ancho} : { background: `#fff url('${patrocinada[pista]}') no-repeat center /100% 100%`, width: ancho}]">
                  <h2 :class="[patrocinada[pista] != null ? 'patrocinada' : 'no-patrocinada']">Pista {{pista}}</h2>
                </th>
              </tr>

            </thead>
            <tbody>

                <tr v-for="(hora, key) in listadoHoras[cantidadFilas]">
                  
                  <td v-for="i in pistas" :key="i" >
                    
                    
                  <template v-if="listadoHoras[i - 1][key] != null">

                    <div :class="listadoHoras[i - 1][key].class" v-if="listadoHoras[i - 1][key].mensaje == null" :style="{width: anchoColumna, margin:'auto', display:'block'}">
                        <template v-if="listadoHoras[i - 1][key].observaciones == null && listadoHoras[i - 1][key].class != 'equipo'">
                          <div class="candado" v-if="listadoHoras[i - 1][key].class == 'hot'">
                            <b-img src="/img/cerrada.png" fluid center/>
                          </div>
                          <div class="position-relative">
                            <div class="avatar-top float-left">
                              <b-img :src="listadoHoras[i - 1][key].avatares[0].avatar" fluid rounded center/>
                              <span class="normal">{{ listadoHoras[i - 1][key].jugadoresPartida[0].pala }}</span>
                              <span class="hover" v-if="listadoHoras[i - 1][key].avatares[0].nivel">
                                {{ listadoHoras[i - 1][key].avatares[0].nivel }}
                              </span>
                            </div>
                            <div class="avatar-top float-right">
                              <b-img :src="listadoHoras[i - 1][key].avatares[1].avatar" fluid rounded center/>
                              <span class="normal">{{ listadoHoras[i - 1][key].jugadoresPartida[0].pala2 }}</span>
                              <span class="hover">
                                {{ listadoHoras[i - 1][key].avatares[1].nivel }}
                              </span>
                            </div>
                          </div>
                          <div class="position-relative">
                              <div class="avatar-bottom float-left">
                                <b-img :src="listadoHoras[i - 1][key].avatares[2].avatar" fluid rounded center/>
                                <span class="normal">{{ listadoHoras[i - 1][key].jugadoresPartida[0].pala3 }}</span>
                                <span class="hover">
                                  {{ listadoHoras[i - 1][key].avatares[2].nivel }}
                                </span>
                              </div>
                              <div class="avatar-bottom float-right">
                                <b-img :src="listadoHoras[i - 1][key].avatares[3].avatar" fluid rounded center/>
                                <span class="normal">{{ listadoHoras[i - 1][key].jugadoresPartida[0].pala4 }}</span>
                                <span class="hover">
                                  {{ listadoHoras[i - 1][key].avatares[3].nivel }}
                                </span>
                              </div>
                          </div>
                        </template>
                        <template v-if="listadoHoras[i - 1][key].class == 'equipo'">
                          <div class="logo">
                            <b-img :src="listadoHoras[i - 1][key].logo" center fluid rounded="circle"/>
                            <span>{{ listadoHoras[i - 1][key].observaciones }}</span>
                          </div>
                        </template>
                      </div>
                    <div v-else :class="listadoHoras[i - 1][key].class" :style="{ background: `url('${listadoHoras[i - 1][key].cartel}') no-repeat center / 100% 100%`, width: anchoColumna}">
                      <div class="mr-auto px-2">
                          
                          <span class="normal">{{ listadoHoras[i - 1][key].mensaje }}</span>
                          <span class="hover">
                            {{ listadoHoras[i - 1][key].avatares[3].nivel }}
                          </span>
                        </div>
                    </div>

                    <span class="piePista" :style="{width: anchoColumna}"> {{ listadoHoras[i - 1][key].hora }} </span>
                  </template>                 

                  </td>
                </tr> 
            </tbody>
          </table>
        
   </b-container>

</template>

<script>

import funciones from '../../../helpers/funciones';
import partidaPicker from '../../extras/datePicker.vue';
import Icon from 'vue-awesome/components/Icon';

var isMobile = {
    Android: function() {
        return navigator.userAgent.match(/Android/i);
    },
    BlackBerry: function() {
        return navigator.userAgent.match(/BlackBerry/i);
    },
    iOS: function() {
        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
    },
    Opera: function() {
        return navigator.userAgent.match(/Opera Mini/i);
    },
    Windows: function() {
        return navigator.userAgent.match(/IEMobile/i);
    },
    any: function() {
        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
    }
};
export default {
  props:['datos', 'partidas'],
  mixins: [funciones],
  components: {   
   partidaPicker,
   'icon': Icon,
  },
  origen:'crear',
  data: ()=>({
    pageUrl: 'api/partidas',
    items: [],
    item: {lvm_start: "", lvm_end: "", fsm_start: "", fsm_end: "", fm_start: "", fm_end: "", lvt_start: "", lvt_end: "",fst_start: "", fst_end: "", ft_start: "",ft_end: ""},
    resources: [],
    pistas: 1,
    patrocinada: {1: "../img/noticias/noticia1.jpg", 2: "../img/noticias/noticia2.jpg"},
    listadoHoras: [],
    isVisible: false,
    windowWidth: 0,
    pistaReservadas: [],

    cargando: true,
    
    modal:'',
    select:[],
    formulario:'',
    emisor: false,
    status:{
      lv: false,
      ld: false,
      ldmt: false,
      fs: false,
      f: false,
    },
    //partidasSemana
    actual: moment(),
    fecha: moment(),
    primerDia: '',
    ultimoDia:'',
    contadorDias : 0,
    vista: 'agenda',
    partidasSemana: '',
  }),

  created() {
      this.pistas = this.datos.club[0].pistas;
      this.partidasSemana = moment().format('YYYY-MM-DD') + 'agenda';
      console.log(this.datos.club[0]);
      this.cargarResources(this.pistas);
      this.getItems();
      this.getPatrocinadores();
      
  },

  mounted(){
    const me = this;
    let horarios = this.datos.club[0].horario.split('|');
    
    horarios.forEach((horario)=>{

    me.desgloasarHorarioEditar(horario);
      
    })
    this.$nextTick( () => {
          this.initToTopButton();
          window.addEventListener('resize', this.getWindowWidth);
          this.getWindowWidth();
    });
   
  },
  watch:{
    '$route': 'getItems',
    vista(item){
        this.partidasSemana = moment(value, 'DD-MM-YYYY').format('YYYY-MM-DD') + 'agenda';
        this.getItems();
      
    },
    fecha(value){
      this.partidasSemana = moment(value, 'DD-MM-YYYY').format('YYYY-MM-DD') + 'agenda';
      this.getItems();
    }
  },
  computed:{
    isMobil(){
      if(isMobile.any() ){
        return '180px';
      }else{
        return '120px';
      }

    },
    cantidadFilas(){
      let largo = [];
      let tamanyo = [];
      let posicion = 0;
      this.listadoHoras.forEach(e => {
       
        tamanyo.push(e.length);
        largo.push(e.length);
      })
      
      let valorBuscado = largo.sort((a, b) => b - a)[0];
      posicion = tamanyo.indexOf(valorBuscado);
      
      return posicion;
    },


    fechaCabecera(){
     
      return moment(this.fecha, 'DD-MM-YYYY').format("dddd DD MMMM YYYY");
    },
    columnas(){
      return Math.floor(12/this.pistas);
    },
    horario(){
      let horario = {inicio: "09:00", fin: "24:00"};
      
      if(this.datos.club[0].horario == '' || this.datos.club[0].horario == ''){
        return horario;
      }
      
      return this.datos.club[0].horario;
    },
    ancho(){
      return (this.windowWidth - 60)/this.pistas + 'px';
    },
    
    anchoColumna(){
      return (this.windowWidth - 100)/this.pistas + 'px';
    }
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.getWindowWidth);
  },
  methods:{

    getWindowWidth(event) {
      this.windowWidth = document.documentElement.clientWidth;
    },
    getItems(){
      let id = this.datos.club[0].id;
      this.cargando = true;
      axios.get(`${this.pageUrl}?semana=${this.partidasSemana}&club_id=${id}`).then((response)=>{
        this.items = response.data;
        this.arrayHora();
        this.getPatrocinadores();
      }, (error) => {
        console.log(error.response);
      })
      this.cargando = false;
    },
    getPatrocinadores(){
      axios.get(`api/patrocinadores/${this.datos.club[0].id}`).then( (response) => {
        if(response.data.length){
          const patrocinadas = response.data.map((patron) =>{
            this.patrocinada[patron.patrocina] = patron.imagen;
          });
        }
      }, (error) => {
        console.log(error.response.data)
      }).catch((err) => {
            console.log(err.data);
          });
    },   
    cargarResources(pistas){
      let resources =   [];
      let pista = '';
      for(let x = 0; x < pistas; x++){
        pista = x + 1;
          resources[x] = {"id": pista, "name" : "Pista " + pista}; 
      };
      
      this.resources = resources;
    },

    arrayHora(){
      const laboral = ['lunes', 'martes', 'miércoles', 'jueves', 'viernes'];
      const finSemana = ['sábado', 'domingo'];
      let pistas = [];
      let ininterrumpido = true;
      
      let cierre = moment("00:00", 'kk:mm').add(-90, 'minutes').format('kk:mm');
      let apertura = moment("07:30", 'kk:mm').format('kk:mm');
      let inicioComida = moment("14:00", 'kk:mm').add(-90, 'minutes').format('kk:mm');
      let finComida = moment("15:30", 'kk:mm').format('kk:mm');
      
      //horario partido de lunes a viernes
      if(this.item.lvm_start && this.item.lvt_start && this.item.fsm_start && laboral.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd'))){
        //console.log("partido de lunes a viernes")
        ininterrumpido = false;
        apertura = moment(this.item.lvm_start, 'kk:mm').format('kk:mm');
        inicioComida = moment(this.item.lvm_end, 'kk:mm').add(-90, 'minutes').format('kk:mm');
        finComida = moment(this.item.lvt_start, 'kk:mm').format('kk:mm');
        cierre = moment(this.item.lvt_end, 'kk:mm').add(-90, 'minutes').format('kk:mm');
      }

      //horario partido fin de semana
      if(this.item.fsm_start && this.item.fst_start && finSemana.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd'))){
        //console.log("partido fin de semana")
        ininterrumpido = false;
        apertura = moment(this.item.fsm_start, 'kk:mm').format('kk:mm');
        inicioComida = moment(this.item.fsm_end, 'kk:mm').add(-90, 'minutes').format('kk:mm');
        finComida = moment(this.item.fst_start, 'kk:mm').format('kk:mm');
        cierre = moment(this.item.fst_end, 'kk:mm').add(-90, 'minutes').format('kk:mm');
      }

      //horario partido de lunes a domingo  
      if(this.item.lvm_start && this.item.lvt_start && !this.item.fsm_start && (laboral.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd')) || finSemana.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd')))){
        //console.log("partido de lunes a domingo")
        ininterrumpido = false;
        apertura = moment(this.item.lvm_start, 'kk:mm').format('kk:mm');
        inicioComida = moment(this.item.lvm_end, 'kk:mm').add(-90, 'minutes').format('kk:mm');
        finComida = moment(this.item.lvt_start, 'kk:mm').format('kk:mm');
        cierre = moment(this.item.lvt_end, 'kk:mm').add(-90, 'minutes').format('kk:mm');

      }

      //horario ininterrumpido de lunes a viernes
      if(this.item.lvm_start && !this.item.lvt_start && laboral.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd'))){
        //console.log("ininterrumpido de lunes a viernes")
        apertura = moment(this.item.lvm_start, 'kk:mm').format('kk:mm');
        cierre = moment(this.item.lvm_end, 'kk:mm').add(-90, 'minutes').format('kk:mm');
      }

       //horario ininterrumpido de fin de semana
      if(this.item.fsm_start && !this.item.fst_start && finSemana.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd'))){
        //console.log("ininterrumpido de fin de semana")
        apertura = moment(this.item.fsm_start, 'kk:mm').format('kk:mm');
        cierre = moment(this.item.fsm_end, 'kk:mm').add(-90, 'minutes').format('kk:mm');
      }

      //horario ininterrumpido de lunes a domingo
      if(this.item.lvm_start && !this.item.lvt_start  && !this.item.fsm_start && (laboral.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd')) || finSemana.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd')))){
        //console.log("ininterrumpido de lunes a domingo")
        apertura = moment(this.item.lvm_start, 'kk:mm').format('kk:mm');
        cierre = moment(this.item.lvm_end, 'kk:mm').add(-90, 'minutes').format('kk:mm');
      }


      
      for(let n = 0; n < this.pistas; n++){
        pistas[n] = [];
        pistas[n][0] = this.inicio(apertura, n);

        for(let i = 0; i <= 15; i++){
         //horario ininterrumpido meto todas las horas
          if(ininterrumpido){
            if(moment(pistas[n][i]['hora'], 'kk:mm').add(90,'minutes').format('kk:mm') >= apertura && moment(pistas[n][i]['hora'], 'kk:mm').add(90,'minutes').format('kk:mm') <= cierre){
              let datosPartida = this.comprobarPista(pistas[n][i]['hora'], n)
              
              pistas[n][i+1]= datosPartida;

            }else{
              break;
            }
          //horario partido 
          }else{
            //
            if(moment(pistas[n][i], 'kk:mm').add(90,'minutes').format('kk:mm') <= inicioComida && moment(pistas[n][i], 'kk:mm').add(90,'minutes').format('kk:mm') >= apertura && moment(pistas[n][i], 'kk:mm').add(90,'minutes').format('kk:mm') <= finComida){
              
              pistas[n][i+1] = this.comprobarPista(pistas[n][i], n);
              
            }else if (moment(pistas[n][i], 'kk:mm').format('kk:mm') <= finComida && moment(pistas[n][i], 'kk:mm').format('kk:mm') != finComida && moment(pistas[n][i], 'kk:mm').add(90,'minutes').format('kk:mm') <= cierre){
              
              pistas[n][i+1] = finComida;
              
            }else if(moment(pistas[n][i], 'kk:mm').add(90,'minutes').format('kk:mm') >= finComida && moment(pistas[n][i], 'kk:mm').add(90,'minutes').format('kk:mm') <= cierre){
              
              pistas[n][i+1] = this.comprobarPista(pistas[n][i], n)
            }else{
              
              break;
            }
          }
          
        }
      }
      console.log(pistas);
      this.listadoHoras = pistas;
      
      /*pistas.forEach( e => {
        for(let i = 0; i < Object.keys(e).length; i++){
        //console.log(e[i])
      }
       
      })*/

    },
   
    inicio(hora, pista){
      pista = pista + 1;
      
      let partidas = this.items;
      let salida = [];

      for(let index in partidas){

        if(pista == partidas[index].pistas_id && ((moment(partidas[index].start).format('kk:mm') == moment(hora, 'kk:mm').add(90,'minutes').format('kk:mm')) || moment(partidas[index].start).format('kk:mm') == moment(hora, 'kk:mm').add(60,'minutes').format('kk:mm') || moment(partidas[index].start).format('kk:mm') == moment(hora, 'kk:mm').add(-60,'minutes').format('kk:mm') || moment(partidas[index].start).format('kk:mm') == moment(hora, 'kk:mm').add(30,'minutes').format('kk:mm') || moment(partidas[index].start).format('kk:mm') == moment(hora, 'kk:mm').add(-30,'minutes').format('kk:mm'))) {
            hora = moment(partidas[index].start).format('kk:mm');
            
            let i = 0;
            let classe = 'abierta'
            let palas = partidas[index].jugadoresPartida[0];
              for(let pala in palas){
                if(pala.substring(0,4) == 'pala')  {
                    if(palas[pala] != '' && palas[pala] != null){
                      i ++
                     
                }
              }
            };

            switch(i){
              case 1: 
                  classe = 'cold';
                  break;
              case 2:
                  classe = 'temp';
                  break;
              case 3:
                  classe = 'temp';
                  break;
              case 4:
                  classe = 'hot';
                  break;
            }
            if(partidas[index].equipo == "SI"){
              classe = 'equipo';
              partidas[index].logo = this.datos.club[0].logo;
            };

            if(partidas[index].mensaje){
              partidas[index].logo = "/img/pistas/pista.png";
            }

            partidas[index]['hora'] = hora;
            partidas[index]['class'] = classe;  
           
            
            return partidas[index];
        }
      }
     
      return {'hora': hora, 'jugadoresPartida': [[]], 'avatares': [{'avatar': '', 'nivel':'', 'posicion': ''},{'avatar': '', 'nivel':'', 'posicion': ''},{'avatar': '', 'nivel':'', 'posicion': ''},{'avatar': '', 'nivel':'', 'posicion': ''}], 'class': "cold", 'observaciones': ''};
    },

    comprobarPista(hora, pista){
      pista = pista + 1;
      //hora = hora[0];
      let partidas = this.items;
      let salida = [];
      
        for(let index in partidas){
          salida = [];
          if(pista == partidas[index].pistas_id && ( moment(partidas[index].start).format('kk:mm') == moment(hora, 'kk:mm').add(120,'minutes').format('kk:mm') || moment(partidas[index].start).format('kk:mm') == moment(hora, 'kk:mm').add(150,'minutes').format('kk:mm') || moment(partidas[index].start).format('kk:mm') == moment(hora, 'kk:mm').add(90,'minutes').format('kk:mm'))  ) {
            
            hora = moment(partidas[index].start).format('kk:mm');
            
            let i = 0;
            let classe = 'abierta'
            let palas = partidas[index].jugadoresPartida[0];
              for(let pala in palas){
                if(pala.substring(0,4) == 'pala')  {
                    if(palas[pala] != '' && palas[pala] != null){
                      i ++
                     
                }
              }
            };

            switch(i){
              case 1: 
                  classe = 'cold';
                  break;
              case 2:
              case 3:
                  classe = 'temp';
                  break;
              case 4:
                  classe = 'hot';
                  break;
            }

            if(partidas[index].equipo == "SI"){
              classe = 'equipo';
              partidas[index].logo = this.datos.club[0].logo;
            };

            if(partidas[index].mensaje){
              partidas[index].cartel = "/img/pistas/pista.png";
            }

            partidas[index]['hora'] = hora;
            partidas[index]['class'] = classe;  
           
            
            return partidas[index];
         
          }
          
        }
        
       return {'hora': moment(hora, 'kk:mm').add(90,'minutes').format('kk:mm'), 'jugadoresPartida': [[]], 'avatares': [{'avatar': '', 'nivel':'', 'posicion': ''},{'avatar': '', 'nivel':'', 'posicion': ''},{'avatar': '', 'nivel':'', 'posicion': ''},{'avatar': '', 'nivel':'', 'posicion': ''}], 'class': 'cold', 'observaciones': ''};
   
    
    },
    initToTopButton() {
        $(document).bind('scroll', function() {
          var backToTopButton = $('.fixed');
          if ($(document).scrollTop() > 125) {
            backToTopButton.addClass('isVisible');
            this.isVisible = true;
          } else {
            backToTopButton.removeClass('isVisible');
            this.isVisible = false;
          }
        }.bind(this));
      },
        
  }
}

</script>


   

<style scoped>

  .active{
    color: #fff;
    background: #0275d8;
  }
  .click{
    cursor: url("/image/puntero.png"), pointer;
  }
  .flecha{
    color: #0275d8;
    padding: 0 15px;
  }
  .flecha:hover{
    color: #fff;
  }
  .piePista{
    background-color: red;
    width: 100%;
    text-align: center;
    border-top: 1px solid #fff;
    font-size: 2rem;
    font-weight: 900;
    color: #fff;
    text-shadow: -2px 5px 7px #000;
    letter-spacing: 3px;
    line-height: 3rem;
    margin: auto auto 2%;
    display: block;
   
  }
  .espera{
    width: 100%;
    text-align: center;
  }

  .avatar-top{
    top: 10px;
  }
  .avatar-bottom{
    bottom: 25px;
  }
  .avatar-top, .avatar-bottom{
    max-width: 45%;
    height: 50%;
    margin: auto;
    padding: 2%;
  }
  .avatar-top span, .avatar-bottom span{
    position: relative;
    bottom: 0px;
    text-align: center;
    display: block;
    color: #000;
    font-weight: 800;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    overflow-wrap: break-word;
  }

  .hoverable {
    cursor:default;
    color:#000;
    text-decoration:none;
  }
  .avatar-top .hover, .avatar-bottom .hover {
    display:none;
  }
  .avatar-top:hover .normal, .avatar-bottom:hover .normal {
    display:none;
  }
  .avatar-top:hover .hover, .avatar-bottom:hover .hover {
    display:block;  /* CHANGE IF FOR BLOCK ELEMENTS */
  }

  .logo{
    height: 100%;
    position:relative;
    
  }
  .logo img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    box-shadow: 0px 0px 16px 3px #000, 1px 1px 29px 2px #fff;
    background-color: #fff;
  }

  .logo span{
    font-size: 1.7rem;
    color: #fff;
    text-align: center;
    padding-top: 10%;
    background-color: #113ca9b0;
    font-weight: 700;
  }

  .candado{
    position: relative;
  }
  .candado img{
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    width: 20%;
    z-index: 99;
  }

  .no-patrocinada, .patrocinada{
      color: white;
      text-shadow: 2px 2px 4px #000000;
      font-family: helvetica, arial;
      line-height: 0.88em;
      font-weight: 800;
      white-space: nowrap;
  }
  .no-patrocinada{
    text-align: center;
  }
  .patrocinada{
    font-size: 1em;
    text-align: right;
    margin-top: -40px;
  }

  th{
    background-color: #999;
    border-right: 2px solid #fff;
  }
  th:last-child{
    border-right: none;
  }
  
  .fixed{
    position:fixed;
    margin-left: -2px;
  }
  .fixed th{
    position: relative;
    padding: 0.75rem;
    box-shadow: -3px -3px 9px -1px #5f5f5f;
  }
  .isVisible {
    z-index: 999;
    transition: all .2s ease-in;
  }
  
table td{
  padding: 0px !important;
}


  @media screen and (max-width: 1700px) {
    
  }
  @media screen and (max-width: 1600px) {
    .candado img{
      top: 130px;
    }
  }
  @media screen and (max-width: 1500px) {
    .logo span{
      font-size: 1.3rem;
    }
   
  }

  @media screen and (max-width: 1375px) {
    .avatar-top span, .avatar-bottom span{
      font-size: .8rem;
    }

    .logo span{
      font-size: 1rem;
    }
    .candado img{
      top: 110px;
    }
  
  }
  @media screen and (max-width: 1220px) {
    .candado img{
        top: 100px;
      }
  }

   @media screen and (max-width: 1150px) {
    .candado img{
        top: 107px;
      }
  }
  @media screen and (max-width: 995px) {
    .no-patrocinada{
      font-size: 1.7rem;
     
    }
    .logo span{
      font-size: 0.8rem;
    }
    .candado img{
        top: 110px;
      }

  }
  @media screen and (max-width: 875px) {
    .no-patrocinada{
      font-size: 1.1rem;
     
    }
    .patrocinada{
      font-size: .8em;
      margin-top: -32px;
    }
    .piePista{
      font-size: 1.1rem;
    }
    .avatar-top span, .avatar-bottom span{
      font-size: .6rem;
      text-shadow: none;
      font-weight: none;
    }
    .candado img{
        top: 80px;
      }
    
  }
  @media screen and (max-width: 700px) {
    .no-patrocinada, .patrocinada{
      font-size: 1.3rem;
      margin: auto;
      
    }
    .logo span{
      font-size: .7rem;
    }

    
  }
  @media screen and (max-width: 610px) {
    .no-patrocinada, .patrocinada{
      font-size: 1rem;
      
    }
    
  }
  @media screen and (max-width: 535px) {
    .piePista{
      font-size: 2vw;
      text-shadow: 1px 1px 1px #000;
      line-height: 7vw;
    }
    .no-patrocinada, .patrocinada{
      padding-top: 15%;
      font-size: .6rem;
    }
    .fixed{
      margin-left: 0px;
    }
    .logo span{
      font-size: .5rem;
    }
    .candado img{
        top: 85px;
      }
    
  }




</style>

    