<template> 
   <b-container fluid class="mb-5">
    
        <div class="text-center"><h2>Partidas</h2></div>
        <calendar-component :droppable="false" :editable="false" :header="header" :pistas="resources" :partidas="items"></calendar-component>
      
   </b-container>

</template>

<script>

import calendar from '../../extras/calendarioPartidas';


export default {
 props:['datos', 'partidas'],
  
  components: {   
    'calendar-component': calendar,
  },
  data: ()=>({
    pageUrl: 'api/partidas',
    items: [],
    resources: [],
    header: {
      left: 'today prev,next',
      center: 'title',
      right: 'agendaWeek,resourceDay'
    },
    cargando: true,
    modal:'',
    select:[],
    formulario:'',
    emisor: false,
    //partidasSemana
    primerDia: '',
    ultimoDia:'',
    contadorDias : 0,
    vista: 'agenda',
    partidasSemana: '',
  }), 
  created() {
      this.primerDia = moment().startOf('week').format('dddd') + " " + moment().startOf('week').format('DD') + " de " + moment().startOf('week').format('MMMM');
      this.ultimoDia = moment().endOf('week').format('dddd') + " " + moment().endOf('week').format('DD') + " de " + moment().endOf('week').format('MMMM');
      this.partidasSemana = moment().format('YYYY-MM-DD') + 'agenda';
      
      this.cargarResources(this.datos.club[0].pistas);
      this.getItems();
  },

  mounted(){
    
  },
  watch:{
    '$route': 'getItems',
    vista(item){
        this.partidasSemana = moment().startOf('week').format('YYYY-MM-DD') + 'semana';
        this.primerDia = moment().startOf('week').format('dddd') + " " + moment().startOf('week').format('DD') + " de " + moment().startOf('week').format('MMMM');
        this.ultimoDia = moment().endOf('week').format('dddd') + " " + moment().endOf('week').format('DD') + " de " + moment().endOf('week').format('MMMM');
        this.getItems();
      
    },
  },
  computed:{
    
  },
  methods:{
    getItems(){
      let id= this.datos.club[0].id;
      this.cargando = true;
      axios.get(`${this.pageUrl}?semana=${this.partidasSemana}&club_id=${id}`).then((response)=>{
        this.items = response.data;
      }, (error) => {
        console.log(error.response);
      })
      this.cargando = false;
    },    
    cargarResources(pistas){
      let resources =   [];
      let pista = '';
      for(let x = 0; x < pistas; x++){
        pista = x + 1;
          resources[x] = {"id": pista, "name" : "Pista " + pista}; 
      };
      
      this.resources = resources;
    },
        
  }
}

</script>

<style scoped>

  .active{
    color: #fff;
    background: #0275d8;
  }
  .click{
    cursor: url("/image/puntero.png"), pointer;
  }
  .flecha{
    color: #0275d8;
    padding: 0 15px;
  }
  .flecha:hover{
    color: #fff;
  }


</style>