<template>  
	<tr> 
		<template v-if="isEdit">
			<td>
				<b-form-input type="number" v-model.number="edit_.postal" disabled></b-form-input>

			</td>
			<td>
				
				<b-form-input type="text" v-model.trim="edit_.nombre" aria-describedby="nombreFeedback" :state="nameState" @keydown.enter.native="update"></b-form-input>
				<b-form-invalid-feedback id="nombreFeedback">
					 {{ errores.nombre }}
				</b-form-invalid-feedback>
						
			</td>
			<td>
				<b-form-input type="text" v-model="edit_.provincia" disabled></b-form-input>
			</td>
			<td>
				<b-button-group>
	              <b-btn variant="success" @click="update"><icon name="check"></icon></b-btn>
	              <b-btn variant="danger" @click="cancelar"><icon name="close"></icon></b-btn>
	            </b-button-group>
			</td>
		</template>
		<template v-else>
		
           	<td>{{item.postal}}</td>
           	<td>{{item.nombre}}</td>
           	<td>{{item.provincia}}</td>
           	<td >
            	<b-button-group>
              		<b-btn variant="info" @click="showBtn"><icon name="eye"></icon></app-fa></b-btn>
              		<b-btn variant="success" @click="editBtn"><icon name="pencil"></icon></b-btn>
              		<b-btn variant="danger" @click="deleteBtn"><icon name="trash-o"></icon></b-btn>
            	</b-button-group>
         	</td>
       	</template>
	</tr>
</template>
<script>
	import Icon from 'vue-awesome/components/Icon';
	import EventBus from '../../helpers/event-bus.js';
	import validaciones from '../../helpers/validaciones';
	import funciones from '../../helpers/funciones';

	export default{
		components: {
		   
		    'icon': Icon,
		  
		},
		props: ['item'],
		mixins: [validaciones],
  		origen:'editar',
   		data: ()=>({
			edit_: null,
			isEdit: false,
			errores:  {
				nombre: '',
			},
		}),
		
		mounted(){

			this.edit_ = _.clone(this.item);
		},
		computed: {
			nameState () {
        	    return this.validarNombre(); 
		    },
		},	
		methods:{
			editBtn(){
				this.isEdit = !this.isEdit
			},
			cancelar(){
		        this.isEdit = false;
		        this.edit_ = _.clone(this.item);
		    },
			update(){
				this.edit_.slug = Slug(this.edit_.nombre);
				if(this.validarNombre()){
	      			this.$emit('update', this.edit_);
					this.isEdit = false;
				}
		    },
			deleteBtn(){
				this.$emit('delete', this.edit_);
			},
			showBtn(){
				this.$emit('show', this.item);
			}

		}
	}
</script> 