<template>  

	<b-modal v-model="modalShow" hide-footer :title="titulo" size="lg" centered>
		<template v-if="formulario == 1 || formulario == 3">
			<b-row>
				<b-col>
					<b-form-group label="Código Postal:">
						<b-form-input type="number" placeholder="Código Postal" aria-describedby="postalFeedback" v-model.number="item.postal" :state="postalState" pattern=".{4,5}" title="cuatro o cinco números" :disabled="!isEdit"></b-form-input>
						<b-form-invalid-feedback id="postalFeedback">
							{{ errores.postal }}
						</b-form-invalid-feedback>
					</b-form-group>
				</b-col>
				
				<b-col>
					<b-form-group label="Población:">
						<b-form-input type="text" placeholder="Población" aria-describedby="nombreFeedback" v-model="item.nombre" :state="nameState" :disabled="!isEdit"></b-form-input>
						<b-form-invalid-feedback id="nombreFeedback">
							{{ errores.nombre }}
						</b-form-invalid-feedback>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group label="Provincia:"> 
						<b-form-select v-model.number="item.provincia_id" aria-describedby="provinciaFeedback" :options="combo" class="mb-3" disabled/>
					</b-form-group>
					
				</b-col>
			</b-row>
			<!--latitud y longitud-->
			<b-row class="mb-1">
				<b-col>
					<b-form-group label="Latitud:">
						<b-form-input type="number" placeholder="Latitud (128,85)"aria-describedby="latitudFeedback" v-model.number="item.latitud" :state="latitudState" :disabled="!isEdit"></b-form-input>
						<b-form-invalid-feedback id="latitudFeedback">
							{{ errores.latitud }}
						</b-form-invalid-feedback>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group label="Longitud:">
						<b-form-input type="number" placeholder="Longitud (-8,85)" aria-describedby="longitudFeedback" v-model.number="item.longitud" :state="longitudState" :disabled="!isEdit"></b-form-input>
						<b-form-invalid-feedback id="longitudFeedback">
							{{ errores.longitud }}
						</b-form-invalid-feedback>
					</b-form-group>
				</b-col>
			</b-row>
			<b-form-group label="Slug:" description="">
				<b-form-input type="text" placeholder="Slug" :value="item.nombre | lowercase | stringSlug" disabled ref="slug"></b-form-input>
			</b-form-group>
		</template>
		<div class="float-right">
			<template v-if="formulario == 1"><b-btn class="mt-3" variant="outline-primary" @click="crear">Guardar</b-btn></template>
			<template v-if="formulario == 2"><b-btn class="mt-3" variant="outline-danger" @click="eliminar">Eliminar</b-btn></template>
			<template v-if="formulario == 3 && !isEdit"><b-btn class="mt-3" variant="outline-success" @click="clonar">Editar</b-btn></template>
			<template v-if="formulario == 3 && isEdit"><b-btn class="mt-3" variant="outline-success" @click="actualizar">Actualizar</b-btn></template>
			
			<b-btn class="mt-3" variant="outline-primary" @click="cerrar">Cancelar</b-btn>
		</div>
	</b-modal>
	
</template>

<script>

import EventBus from '../../helpers/event-bus.js';
import validaciones from '../../helpers/validaciones';
import funciones from '../../helpers/funciones';

export default {

	props:['select', 'formulario', 'erroresS'],
	mixins: [validaciones,funciones],
  	origen:'crear',
	mounted(){
		this.abrir();
		this.combo = this.$store.state.provincias;
	},
	data: ()=>({

		item: {postal: null, nombre: null, slug: null, provincia_id: 0, latitud: null, longitud: null},
		isEdit: false,
		combo: [],
		errores: [],
		titulo:"",
		modalShow: true,
		erroresServidor: null,

	}),
	watch:{
		select(mostrar){
			if(this.formulario != 1) this.item = mostrar;
		},
		erroresS(errores){
			this.erroresServidor = errores;
		},
		'item.postal'(newPostal, oldPostal){
			if(newPostal != oldPostal && this.erroresServidor != null){
				this.erroresServidor.nombre = '';
				this.erroresServidor.postal = '';
			};
		},
		'item.nombre'(newNombre, oldNombre){
			if(newNombre != oldNombre && this.erroresServidor != null){
				this.erroresServidor.nombre = '';
				this.erroresServidor.postal = '';
			};
		}
		/*item: {
            handler(item) {
            	if(item.postal != null){
            		item.postal.toString().length == 5? this.item.provincia_id = item.postal.toString().substring(0,2): this.item.provincia_id = item.postal.toString().substring(0,1);
            	}
            },
            deep: true
        }*/
	},
	computed: {
		nameState () {
          	return this.validarNombre();
	    },
		postalState(){
			return this.validarPostal();
		},
		longitudState(){
			return this.validarLongitud();
		},
		latitudState(){
			return this.validarLatitud();
		}	
	},	
	created(){
	    EventBus.$on('openModalPoblacion', (modal) => (//dejo un canal de comunicacion abierto con el padre
		      modal=='open'?this.abrir():this.cerrar() //evaluo los datos que me envia el padre.
	    	)
	    ); 
	},
   	methods: {
      	validar(){
      		if(!this.validarPostal() && this.item.postal == null){this.item.postal = ''}
      		if(!this.validarLatitud() && this.item.latitud != null){this.item.latitud = ''}
      		if(!this.validarLongitud() && this.item.longitud != null){this.item.longitud = ''}
      		if(this.validarNombre() && this.validarPostal() && this.validarLongitud() != false && this.validarLatitud() != false){
      			return true;
      		}else{
      			return false;
      		}
      	},
   		cabeceraModal(){
   			
   			switch(this.formulario){
		        case 1:
			        this.titulo = 'Crear Población';
			        this.isEdit = true;
			        break;
		        case 2:
		        	this.titulo= 'Eliminar «' + this.select.nombre + '»';
			        break;
			    case 3:
			    	this.item = this.select;
			    	this.titulo= 'Datos de «' + this.select.nombre + '»';
			        break;
			}
	    },   		
		clonar(){
			this.isEdit = !this.isEdit;
			this.item = _.clone(this.select)
		},
		crear(){
	    	this.item.slug = this.$refs.slug.value;
   			if(this.item.longitud != null) this.item.longitud = this.item.longitud.toString().replace(',' , '.');
   			if(this.item.latitud != null) this.item.latitud = this.item.latitud.toString().replace(',' , '.');
	        this.item.nombre != null? this.item.nombre = this.item.nombre.charAt(0).toUpperCase() + this.item.nombre.slice(1).toLowerCase(): this.item.nombre = '';
	        
	        if(this.validar()){
	        	this.$emit('accion',{accion: 'crear', objeto: this.item}); //envio al padre la accion y el elemento.
	        }
	    },
		eliminar(){
			this.$emit('accion',{accion: 'eliminar', objeto: this.select}); //envio al padre la accion y el elemento.
	    },
	    actualizar(){
	    	this.$emit('accion',{accion: 'actualizar', objeto: this.item});
	    },

	    abrir(){
	    	this.cabeceraModal();
	    	this.modalShow = true;
	    },
	    cerrar(){
	    	this.item = {postal: null, nombre: null, slug: null, provincia_id: 0, latitud: null, longitud: null};
	    	this.erroresServidor = null;
	    	this.titulo = "";
	    	this.isEdit = false;
	      	this.modalShow = false;
	    },
	}
}
</script>