<template>
  <div>
    <div class="text-center"><h2>Clubs</h2></div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <td colspan="4">
              <b-row>
                <b-col sm="12" lg="6">

                  <b-input-group>
                    <b-form-input type="text" v-model="busqueda" placeholder="Buscar..." v-on:keyup.13="getItems()"></b-form-input>

                    <b-input-group-append>
                      <b-button variant="primary" @click.prevent="getItems()"><!--llamamos a la funcion editar pasando el objeto-->
                        <icon name="search"></icon>
                      </b-button>
                      <b-button variant="primary" @click.prevent="resetBusqueda"><!--llamamos a la funcion editar pasando el objeto-->
                        <icon name="refresh"></icon>
                      </b-button>
                    </b-input-group-append>
                  </b-input-group>
                  
                </b-col> 
                <b-col sm="12" lg="5">
                  <b-button @click="seleccionado('crear')" variant="primary" class="float-right">
                    <icon name="plus"></icon>
                  </b-button>
                </b-col>
              </b-row>
            </td>    
          </tr>
          <tr>
            <th width="30">#</th>
            <th>Nombre</th>
            <th>Responsable</th>
            <th>Teléfono</th>
            <th>Población</th>
            <th width="200">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr align="center" v-show="cargando"><td colspan="3"><icon name="refresh" scale="5" spin></icon></td></tr>
          <tr v-for="(item, index) in filtro">
           <td>{{item.id}}</td>
           <td>{{item.nombre}}</td>
           <td>{{item.responsable}}</td>
           <td>{{item.telefono}}</td>
           <td>{{item.poblacion.nombre}}</td>
           <td >
            <div class="btn-group" role="group" >
              <router-link class="btn btn-info btn-xs" v-bind:to="{name: 'ShowClub', params: {id: item.id, slug: item.slug}}"><icon name="eye"></icon></router-link>
              <button class="btn btn-success btn-xs" @click="seleccionado('editar', item)"><icon name="pencil"></icon></button>
              <button class="btn btn-danger btn-xs" @click="seleccionado('eliminar', item)"><icon name="trash-o"></icon></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <Paginate :pagination="pagination" @pagina="getItems"></Paginate>
    <component :is="modal" @accion="acciones" :formulario="formulario" :select="select.id" :key="select.id"></component>
  </div>
 </div>

</template>

<script>

import Formulario from './FormClubs.vue'
import EventBus from '../event-bus.js'
import Icon from 'vue-awesome/components/Icon'
import Paginate from '../layouts/paginate.vue'

export default {
  components: {
    'app-form' : Formulario,
    'icon': Icon,
    Paginate
  },
  data: ()=>({
      
    pageUrl: 'clbs',
    items: [],
    pagination: [], 
    cargando: false,
    busqueda: '',
    modal:'',
    select:[],
    formulario:'',

  }),
  watch:{

  },

  created: function() {
    this.getItems();
  },
  computed: {
    filtro: function(){ 
      if(this.items.length) {
        return this.items;
      }
    },
  },
  methods:{
    seleccionado(action, data = []){
      this.formulario = '';
      this.select = data;
      this.modal = 'app-form';
      switch(action){
        case 'crear':
        this.formulario = 1;
        break;
        case 'editar':
        this.formulario = 2;
        break;
        case 'eliminar':
        this.formulario = 3;
        break;
        case 'ver':
        this.formulario = 4;
        break;  
        
      }

      EventBus.$emit('openModal','open'); //mando abrir el modal al seleccionar un elemento
      

    },
    getItems(page){
      this.cargando = true;
      axios.get(this.pageUrl +'?page=' + page + '&busqueda=' + this.busqueda ).then((response) => {
      	console.log(response.data.items.data);
        console.log(this.$store.state.id);
      	this.items = response.data.items.data;
        this.pagination = response.data.pagination;
      }, (error) => {
        console.log(error.response);
      })
      this.cargando = false;
    },
    resetBusqueda(){
      this.busqueda = '';
      this.getItems();
    },
    acciones(item){
      switch(item.accion){
        case 'crear':
        this.crear(item.objeto);
        break;
        case 'editar':
        this.actualizar(item.objeto);
        break;
        case 'eliminar':
        this.eliminar(item.objeto);
        break;
      };

      

    },

    crear(nuevo){
      axios.post(this.pageUrl, nuevo).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);

      }, (error) => {
        console.log(error.response);
      })
    },

    eliminar(eliminarId){
      axios.delete(this.pageUrl + "/" + eliminarId.id).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);
      }, (error) => {
        console.error(error.response);
      })
    },
    actualizar(actualizar){
      axios.patch(this.pageUrl + '/' + actualizar.id, actualizar).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);
      }, (error) => {
        console.log(error.response);
      })
    },
    
  }
  
}
</script>