<template>
	
	<b-container fluid>
		<uploadFile></uploadFile>
		<b-jumbotron class="text-center">
			<template slot="header">
				<b-img :src="logo" fluid rounded width="75" height="75"/>
				<span class="align-middle"> {{ item.nombre }}   </span><hr>
				<h5><span class="float-right"><b>{{ item.web }}</b></span></h5>
			</template>
		</b-jumbotron>
		<b-row>
			<b-col>
				<router-link class="btn btn-primary float-left" v-bind:to="'/partidas'">Partidas</router-link>
			</b-col>
			<b-col>
				<router-link class="btn btn-primary float-right" v-bind:to="'/clubs'">Back to post list</router-link>
			</b-col>
		</b-row>
		
		<b-card-group>
			<b-card  header-tag="header">
        		<h5 slot="header" class="mb-0">Datos fiscales:</h5>
        		<b-row>
        			<b-col>
	                	<b-form-group label="CIF:">
	    					<p class="form-control-plaintext">{{ item.cif | nif}}</p>
	 					</b-form-group>
	 				</b-col>
	 				<b-col>
						<b-form-group label="Dirección:">
        					<p class="form-control-plaintext">{{ item.direccion }}</p>
     					</b-form-group>
     				</b-col>
	 				<b-col>
	 					<b-form-group label="Gerente:">
	    					<p class="form-control-plaintext">{{ item.responsable }}</p>
	 					</b-form-group>
	 				</b-col>
 				</b-row>
	        </b-card>
	        <b-card  header-tag="header">
        		<h5 slot="header" class="mb-0">Datos de contacto:</h5>
            	<b-row>	
					<b-col>
						<b-form-group label="Teléfono:">
        					<p class="form-control-plaintext">{{ item.telefono }}</p>
     					</b-form-group>
     				</b-col>
     				<b-col>
						<b-form-group label="Móvil:">
        					<p class="form-control-plaintext">{{ item.movil }}</p>
     					</b-form-group>
     				</b-col>
     				<b-col>
						<b-form-group label="Correo-e:">
        					<p class="form-control-plaintext">{{ item.email }}</p>
     					</b-form-group>
     				</b-col>
     			</b-row>
			</b-card>
        </b-card-group>
        <b-card-group>
        	<b-card  header-tag="header">
        		<h5 slot="header" class="mb-0">Datos de localización:</h5>
        		<b-row>	
					<b-col>
						<b-form-group label="Código Postal:">
        					<p class="form-control-plaintext">{{ poblacion.postal }}</p>
     					</b-form-group>
     				</b-col>
     				<b-col>
						<b-form-group label="Población:">
        					<p class="form-control-plaintext">{{ poblacion.nombre }}</p>
     					</b-form-group>
     				</b-col>
     				<b-col>
						<b-form-group label="Provincia:">
        					<p class="form-control-plaintext">{{ provincia.nombre }}</p>
     					</b-form-group>
     				</b-col>
     			</b-row>
        	</b-card>
        	<b-card  header-tag="header">
        		<h5 slot="header" class="mb-0">Servicios:</h5>
        		<b-row>
					<b-col>
						<b-form-group label="Pistas:">
		        			<p class="form-control-plaintext">{{  item.pistas }}</p>
		     			</b-form-group>
					</b-col>
					<b-col>
						<b-form-group label="Instalaciones:">
							<template v-for="(instalacion, index) in instalaciones">
								<p class="form-control-plaintext">{{ instalacion.nombre }}</p>
		        			</template>
		     			</b-form-group>
					</b-col>
				</b-row>
        	</b-card>
		</b-card-group>
	</b-container>
</template>

<script>
import uploadFile from '../extras/uploadFile.vue';
import Icon from 'vue-awesome/components/Icon'

   export default {
   	components: {
	    uploadFile,
	    'icon': Icon,

  	},
   data: ()=>({
	   
      pageUrl: 'clbs',
      item: [],
      logo: '',
      poblacion: [],
      provincia:[],
      instalaciones:[],
      pagination: [], 
      cargando: false,
      busqueda: '',
      modal:'',
      select:[],
      formulario:'',

  	}),

 	created(){
		let id = 0;
		this.$route.params.id == null? id = this.$store.state.id  :  (id = this.$route.params.id, this.$store.commit('nuevo', this.$route.params.id));
		axios.get(this.pageUrl + "/" + id).then((response) => {

	   		this.item = response.data.club;
	    	this.poblacion = response.data.poblacion;
	    	this.provincia = response.data.poblacion.provincia;
	    	this.logo = response.data.club.logo;
	    	this.instalaciones = response.data.club.instalaciones;
	   });
	   
	},
	methods: {
	    increment() {
	      this.$store.commit('increment',5);
	    },
	    decrement() {
	      this.$store.commit('decrement');
	    }
	  }
	
 }
</script>	

<style component>
	.fieldset{
		border: 1px solid #e9ecef;
	}

	.form-control-plaintext{
		color: #0031ff;
	}
</style>