<template>
    <b-modal v-model="modalShow" hide-footer hide-header title="titulo" centered body-bg-variant="fondoModalUser">
        <b-row class="mr-auto px-0">
            
            <b-col cols="12" class="user-img">
                <b-img src="../img/avatar/face.png" fluid rounded center />
            </b-col>

            <b-col cols="12">
                
                <b-form class="form-horizontal">
                    <b-form-group class="mb-5 ico1">
                        <b-form-input type="email" ref="email" name="email" v-model="item.email" placeholder="Email" aria-describedby="emailFeedback" :state="emailState" @blur.native="validEmail" ></b-form-input>
                        <b-form-invalid-feedback id="emailFeedback">
                            <span v-for="(error, key) in errores.email"> {{ error }} </span>
                        </b-form-invalid-feedback>
                        <template v-if="authError">
                            <p class="error">
                            {{ authError }}
                            </p>
                        </template>
                    </b-form-group>
                    <b-form-group class="mb-5 ico2">
                        <b-form-input type="password" name="password" id="password" v-model="item.password" placeholder="Password" ></b-form-input>
                        
                            <span class="help-block">
                              <strong></strong> 
                            </span>
                      
                    </b-form-group>
                    <b-btn @click="authenticate" variant="success" class="mb-2">Login</b-btn>
                </b-form>
            
            </b-col>
            <b-col cols="6" class="forgot">
                <b-link @click="registro">¿Registrarse?</b-link>
            </b-col>
            <b-col cols="6" class="forgot">
                <b-link @click="recuperarPass">¿Recuperar contraseña?</b-link>
            </b-col>
              
        </b-row>
    </b-modal>
</template>

<script>
    import Icon from 'vue-awesome/components/Icon';
    import funciones from '../../../helpers/funciones';
    import EventBus from '../../../helpers/event-bus.js';
    import {login} from '../../../helpers/auth';

    export default{
        props:['datos'],
        components: {
            'icon': Icon,
        },
        mixins: [funciones],
        created(){
            EventBus.$on('openModal', (modal) => (//dejo un canal de comunicacion abierto con el padre
                modal=='open'?this.abrir():this.cerrar() //evaluo los datos que me envia el padre.
              )
            ); 
        },
        mounted(){
            this.abrir();
        },
        data: ()=>({
            pageUrl: 'auth/login',    
            item: {email: null, password: null},
            errores: [],
            error: null,
            modalShow: true,
        }),
        watch:{
            'item.email'(value){
              
            }
        },
        computed:{
            emailState(){
                return this.error;
            },
            authError(){
                return this.$store.getters.authError;
            }
        },
        methods:{
            authenticate(){
                this.item.clubs_id = this.datos.id;
                this.$store.dispatch('login');
                login(this.$data.item).then((res) => {
                     console.log(response.data);
                    this.modalShow = false;
                    this.$store.commit("loginSuccess", res);
                    this.$router.push({path: '/'});
                }).catch((error) => {
                    this.$store.commit("loginFailed", {error});
                });
            },
            validEmail() {
                const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if(this.item.email != null){
                    !re.test(this.item.email)? (this.error = false, this.errores.email = ["El campo email debe ser una dirección de correo válida."], this.$refs.email.focus()) : (this.error = true, this.errores.email = '');
                }
                
            },      
            enviar(){
                this.item.clubs_id = this.datos.id;

                axios.post(this.pageUrl, this.item).then((response)=>{
                    this.item = {email: null, password: null},
                    this.error = null;
                    //window.location.reload();
                    //this.$router.push({name: 'layout'});
                    //window.location = 'dashboard'
                    console.log(response.data)                  
                }, (error) => {
                    this.error = false;
                    this.errores = error.response.data.errors;
                    console.log(error.response.data);
                })
                   
            },
            recuperarPass(){
                window.location = "password/reset";
            },
            registro(){
                 this.$router.push({name: 'registrarUsuario'});
                 this.modalShow = false;
            },
            abrir(){
                this.$store.commit('resErrorAuth');
                this.$refs.email.focus();
                this.modalShow = true;
            },
            cerrar(){
              this.item = [];
              this.modalShow = false;
            },
        }
    }
</script>

<style scoped>
    .error{
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #dc3545;
        position: absolute;
        text-align: center;
    }
    .user-img img{
        height: 120px;
        width: 120px;
    }
    .user-img{
        margin-top: -60px;
        margin-bottom: 45px;
    }
    .form-group input{
        font-size: 18px;
        letter-spacing: 2px;
        padding-left: 54px;
    }
    .ico1::before, .ico2::before{
        font-family: "Ionicons";
        content: "\f3d9";
        position: absolute;
        font-size: 22px;
        left: 28px;
        padding-top: 4px;
        color: #555e60;
    }
    .ico2::before{
        content: "\f1af";
    }
    .form-input button{
        width: 40%;
        margin: 5px 0 25px;
    }
    .btn-success{
        background-color: #1c6288;
        font-size: 19px;
        border-radius: 5px;
        padding: 7px 14px;
        border: 1px solid #daf1ff;
    }
    .btn-success:hover{
        background-color: #13445e;
        border: 1px solid #daf1ff;
    }
    .forgot{
        padding: 5px 0 25px;
        text-align: center;
    }
    .forgot a{
        color: #fff;
    }
    .invalid-feedback{
        color: #fff;
    }
    .btn-success{
        width: 100%;
    }


</style>


<!--
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
</style>
</head>
<body>



<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>
-->