<template>
	<div class="wrapper" >
		<!-- Sidebar Holder -->
		<nav id="sidebar" :class="cssClase">
			<div class="sidebar-header">
				<router-link :to="{name: 'layout'}" tag="div" class="click">
					<h3 class="titulo"><b>uN</b>PaDeL</h3>
					<strong>UP</strong>
				</router-link>
			</div>
			<div class="list-unstyled components">
				
				<router-link :to="{name: 'localizacionAdmin'}" title="Localización">
					<icon name="location-arrow" :scale="escalaIcon"></icon><span>Localización</span>
				</router-link>
				<router-link to="/roles" title="Roles">
					<icon name="odnoklassniki" :scale="escalaIcon"></icon><span>Roles</span>
				</router-link>
				<router-link to="/niveles" title="Niveles">
					<icon name="level-up" :scale="escalaIcon"></icon><span>Niveles</span>
				</router-link>
				<router-link to="/partidas" title="Partidas">
					<icon name="calendar" :scale="escalaIcon"></icon><span>Partidas</span>
				</router-link>
				<div class="dropdown">
					<a href="#clubsSubmenu" data-toggle="collapse" aria-expanded="false" title="Clubs">
						<icon name="building" :scale="escalaIcon"></icon><span>Clubes</span>
						
					</a>
					<div class="collapse list-unstyled " id="clubsSubmenu">
						<router-link to="/clubs" title="Clubes">
							<icon name="home" :scale="escalaIcon2"></icon><span>Clubes</span>
						</router-link>
						<router-link to="/pistas" title="Pistas">
							<icon name="superpowers" :scale="escalaIcon2"></icon><span>Pistas</span>
						</router-link>
						<router-link to="/instalaciones" title="Instalaciones">
							<icon name="coffee" :scale="escalaIcon2"></icon><span>Instalaciones</span>
						</router-link>
					</div>
				</div>
				<div class="dropdown">
					<a href="#usersSubmenu" data-toggle="collapse" aria-expanded="false" title="Jugadores">
						<icon name="users" :scale="escalaIcon"></icon><span>Jugadores</span>
						
					</a>
					<div class="collapse list-unstyled " id="usersSubmenu">
						<router-link to="/jugadores" title="Jugadores">
							<icon name="user-circle" :scale="escalaIcon2"></icon><span>Jugadores</span>
						</router-link>
					</div>
				</div>

				
			</div>

			<!--ul class="list-unstyled CTAs">
				<li><a href="" class="download">Download source</a></li>
				<li><a href="" class="article">Back to article</a></li>
			</ul-->
		</nav>
		<!-- Page Content Holder -->
		<b-container fluid id="content">
			<div class="my-navbar navbar-light bg-faded">
				<b-nav class="container-fluid" tag="div">
					<b-button class="navbar-toggler mr-auto" variant="outline-primary" @click="sidebarCollapse">
						<span class="navbar-toggler-icon"></span>
					</b-button>
					<b-nav tag="div" class="ml-auto">
						
						<!--b-nav-item-dropdown text="Lang" tag="div" right>
							<b-dropdown-item href="#">EN</b-dropdown-item>
							<b-dropdown-item href="#">ES</b-dropdown-item>
							<b-dropdown-item href="#">RU</b-dropdown-item>
							<b-dropdown-item href="#">FA</b-dropdown-item>
						</b-nav-item-dropdown-->
						<b-nav-item-dropdown text="Admin" right>
							<b-card title="Cuenta Administrador"
							footer-tag="footer"
							:img-src="avatar"
							img-alt="Image"
							img-top
							tag="article"
							style="max-width: 20rem;min-width:15rem"
							class="mb-2">
							<p class="card-text">
								No tengas miedo a fracasar, ten miedo a no intentarlo.
							</p>
							<b-card-footer style="background-color: #fff">
								<div class="d-flex flex-row justify-content-around">
									<b-button @click="salir" variant="outline-danger">Cerrar sesión</b-button>
								</div>
							</b-card-footer>
							
						</b-card>
					</b-nav-item-dropdown>
					
				</b-nav>	
			</b-nav>
		</div>	
		<b-container fluid>

			<b-row>
				<b-col>
					<transition name="slide-fade" mode="out-in" appear>
						<router-view :datos="admin"></router-view>
					</transition>
				</b-col>
			</b-row>
			<b-row>
				<b-col>
					<transition name="slide-fade" mode="out-in" appear>
						<router-view name="seisA" :datos="admin"></router-view>
					</transition>
				</b-col>
				<b-col>
					<transition name="slide-fade" mode="out-in" appear>
						<router-view name="seisB" :datos="admin"></router-view>
					</transition>
				</b-col>
			</b-row>
		</b-container>
	</b-container>
	
</div>

</template>

<script>
import Icon from 'vue-awesome/components/Icon';
import webcam from './extras/webCam2.vue';
import uploadfile from './extras/uploadFile.vue';
import funciones from '../helpers/funciones';

export default{
	props:['datos'],
	components: {
		'icon': Icon,
	},
	mixins: [funciones],
	created(){

	},
	mounted(){
		this.getComboProvincias();
		this.getComboInstalaciones();
		this.getNiveles();
	},
	computed: {	
    	admin(){
    		return this.datos;
    	}
    },
	data: ()=>({ 
		cssClase: '',
		escalaIcon: 1,
		escalaIcon2: 1,
		linkActivo: '',
		avatar: '../img/avatar/avatarH.png',
	}),
	
	methods:{
		sidebarCollapse(){
			this.cssClase == '' ? (this.cssClase = 'active', this.escalaIcon = 3, this.escalaIcon2 = 2) : (this.cssClase='', this.escalaIcon2 = this.escalaIcon = 1);
		},
		salir(){
			window.location = "logout";

			/*axios.get(`logout`).then((response)=>{
				
				this.$router.push({name: 'logout'});
				//window.location = "iniciarSesion";
				//window.location.reload();
			}, (error) => {
		        console.log(error.response);
		    })*/
		}	

	}

}

</script>

<style scoped>
.my-navbar{
	padding: 15px 10px;
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0.5rem 1rem;
}
.titulo{
	background: #1c47ff !important;
	padding: 20px !important;
	color: #fcfcfc !important;
	text-align: center !important;
	text-shadow: 0px 0px 5px #0275d8, 1px 1px 5px #0275d8, -1px -1px 5px #0275d8, 1px -1px 5px #1e9faf, -1px 1px 5px #0275d8 !important;
	font-family: 'Lobster Two', cursive !important;
}
.sidebar-header strong{
	background: #1c47ff !important;
}
.click{
    cursor: url("/image/puntero.png"), pointer;
}
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #0031ff;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}
#sidebar.active span{
    display: none;
}
#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: -5px;
    right: 58%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1c47ff;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #0031ff;
    background: #0275d8;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] { 
    color: #fff;
    background: #0275d8;
} 


#sidebar a[aria-expanded="false"]::before, #sidebar a[aria-expanded="true"]::before {
    content: '\f3d0';
    display: block;
    position: absolute;
    right: 20px;
    font-family: "Ionicons";
    font-size: 1em;
}
#sidebar a[aria-expanded="true"]::before {
    content: '\f3d8';
}

#sidebar div a {
    text-align: left;
}

#sidebar.active div a {
    padding: 10px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active div a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active div div a {
    padding: 10px !important;
}
#sidebar div.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}
#sidebar div a{
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar div a:hover {
    color: #0031ff;
    background: #0275d8;
}
#sidebar div a svg {
    margin-right: 10px;
}
#sidebar .router-link-active, .router-link-active[aria-expanded="true"] {
    color: #fff;
    background: #0275d8;
} 
a[data-toggle="collapse"] {
    position: relative;
}
#sidebar div div div a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1c47ff;
}

div a[aria-expanded="false"]::before, div a[aria-expanded="true"]::before {
    content: '\f3d0';
    display: block;
    position: absolute;
    right: 3px;
    font-family: "Ionicons";
    font-size: 1em;
}
div a[aria-expanded="true"]::before {
     content: '\f3d8';
}

.dropdown-toggle::after {
    display:none
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1c47ff;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #0031ff;
}

a.article, a.article:hover {
    background: #1c47ff !important;
    color: #fff !important;
}

@media (max-width: 1300px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

</style>