<template>
	<div>
		<b-container fluid>
			<navbar-component :datos="club"></navbar-component>
			<b-row>
				<b-col>
					<transition name="slide-fade" mode="out-in" appear>
						<router-view :datos="club" :partidas="partidas"></router-view>
					</transition>
				</b-col>
			</b-row>
		</b-container>
		<footer-component :datos="club"></footer-component>
		
		<b-button class="goTop" v-if="isVisible" @click="backToTop">
       		<i class="fa fa-angle-up" aria-hidden="true"></i>
   		</b-button>
	</div>
</template>
<script>

import navBar from "./home/navBar.vue";
import footer from "./home/footer.vue";



import partidas from "./extras/calendarioPartidas.vue";

  var date = new Date();
  var d = date.getDate();
  var m = date.getMonth();
  var y = date.getFullYear();

export default{
	//props:['datos', 'partidas'],
	props: {
 		datos: {
	  		type: Array/Object,
	  		default: () => []
	  	},
	  	partidas: {
	  		type: Array/Object,
	  		default: () => []
	  	},
	    user: {
	      type: String,
	      default: '',
	    },
  	},
	components: {
		'navbar-component': navBar,
		'footer-component': footer,
	},
	data: ()=>({
		isVisible: false,

	}),
	created(){
		
	},
	mounted(){
		
		this.$nextTick( () => {
      		this.initToTopButton();
    	});
    },
	watch:{
          
    },
    computed:{
        club(){
        	return this.datos;
        }
    },
    methods:{
        initToTopButton() {
	      $(document).bind('scroll', function() {
	        var backToTopButton = $('.goTop');
	        if ($(document).scrollTop() > 250) {
	          backToTopButton.addClass('isVisible');
	          this.isVisible = true;
	        } else {
	          backToTopButton.removeClass('isVisible');
	          this.isVisible = false;
	        }
	      }.bind(this));
	    },
	    backToTop() {
	      $('html,body').stop().animate({
	        scrollTop: 0
	      }, 'slow', 'swing');
	    }
    }
}

	
</script>

<style scoped>
#contenido{
	min-height: calc(100vh - 130px);
}
.goTop {
  border-radius: 5px;
  background-color: rgb(1,14,27);
  background-color: rgba(1, 14, 27, .7);
  position: fixed;
  width: 45px;
  height: 45px;
  display: block;
  right: 15px;
  bottom: 15px;
  border: none;
  opacity: 0;
  z-index: -1;
 
  }
  .goTop:hover {
    opacity: 1;
    background-color: rgb(1,14,27);
    background-color: rgba(1, 14, 27, .9);
  }
 .goTop .fa {
    color: white;
    font-size: 22px;
}

.isVisible {
  opacity: .8;
  z-index: 4;
  transition: all .4s ease-in;
}
</style>