<template>
	<b-container fluid v-cloak>
		<b-button @click="cerrar" variant="outline-danger" class="float-right"><icon name="close"></icon></b-button>
		<h4 class="text-center my-4">Galería de imágenes «{{ nombreGaleria }}»</h4>
		
		<!--b-row>
 			<b-col style="min-height: 100px">
				<router-link class="btn btn-primary float-right mb-3" :to="{name: 'galeria'}">Volver a listado de galerías</router-link>
 			</b-col>
 		</b-row-->
 		<b-card-group>
			<b-row>
				<template v-for="item in items">
					<b-col sm="6" lg="4" class="d-flex align-items-stretch">
						<b-card img-top>
							<a @click="abrirImagen($event)" class="click">
								<b-card-img :src="item"></b-card-img>
							</a>
						</b-card>
					</b-col>
				</template>
			</b-row>
		</b-card-group>

		<!-- modal -->
		<component :is="modal" :imagen="imagen"></component>
	</b-container>
</template>

<script>
import Icon from 'vue-awesome/components/Icon';
import Formulario from '../../home/modalImagen.vue';
import EventBus from '../../../helpers/event-bus.js';

export default{
	props: ['nombreGaleria'],
	components: {
		'icon': Icon,
	},
	data: ()=>({
		pageUrl: 'api/glrs',
		//galeriaActiva: '',
		items: [],
		//galeria: null,
		imagen: null,
		modal: null,
	}),
	created(){
   		/*this.$route.params.galeria == null? this.galeriaActiva = JSON.parse(localStorage.getItem('galeria'))  :  (this.galeriaActiva = this.$route.params.galeria, localStorage.setItem('galeria', JSON.stringify(this.$route.params.galeria)));*/
   		
	},
	mounted(){
		this.getGaleria();
    },
	watch:{
        nombreGaleria(){
        	this.getGaleria();
        }    
    },
    computed:{
    },
    methods:{
    	getGaleria(){
    		axios.get(`${this.pageUrl}/${this.nombreGaleria}`).then(response =>{
    			if(response.data.length){
    				this.items = response.data;
    			}
		       
		    }, error => {
		        console.log(error.data);
		    })
    	},
       	abrirImagen(img){
	       	this.imagen = img.srcElement.src;
	       	this.modal = Formulario;
	       	EventBus.$emit('openModal','open');
       	},
       	cerrar(){
       		this.$emit('cerrar', '');
       	}
    }
}
</script>

<style scoped>
	[class*="col-"] {
      padding: 1rem;
  	}
  	.trush{
  		position: absolute;
  		right: 0;
  		bottom: -8px;
  	}
</style>

