<template>
  <div class="wrapper">
    <div class="text-center"><h2>Galería de fotos</h2> {{ welcome }} </div> 
     <b-row>
      <b-col :class="clase">
       <b-container>
          <b-row align-h="center">

            <template v-for="item in items">
              <b-col sm="4" lg="3">
                <div class="tile" @click="getGallery(item.nombre)">
                  <span>
                    <b-img src="../img/galeria/carpeta.jpg"></b-img>
                  </span>
                  <a class="click">
                    <h2>{{ item.nombre }}</h2>
                  </a>
                </div>
              </b-col>
            </template>
          </b-row>
          
      </b-container>
      </b-col>
      <b-col v-if="selectGaleria" :class="clase">
      <b-container fluid>
          <galeria :nombre-galeria="selectGaleria" @cerrar="cerrarGaleria()"></galeria>
       
              
      </b-container>
    </b-col>
    </b-row>
  </div>
</template>

<script>



import EventBus from '../../../helpers/event-bus.js';
import Icon from 'vue-awesome/components/Icon';
import Paginate from '../../layouts/paginate.vue';
import Buscador from '../../extras/buscador.vue';
import funciones from '../../../helpers/funciones';
import galeria from './Galeria.vue';


export default {
  props:['datos'],
  components: {
    'icon': Icon,
    'buscador-component':Buscador,
     Paginate,
     galeria
  },
  mixins: [funciones],
  data: ()=>({

    pageUrl: 'api/galeria',
    items: [],
    selectGaleria: '',
    crear: false,
    pagination: [],
    cargando: true,
    clase: '',
    //formulario
    modal:'',
    select:[],
    formulario:'',
    //busqueda
    busqueda: '',
    columnaActiva: '',
      
  }),
  created() {
    this.getItems();
  },

  computed: {
    filtro(){ 
      if(this.items.length) {
        return this.items;
      }
    },
    club(){
      return this.datos.club[0];
    },
    welcome(){
      return this.$store.getters.welcome;
    }
  },
  methods:{
    getItems(){
      this.cargando = true;
     
      axios.get(`${this.pageUrl}/${this.club.id}`).then(response =>{
        this.items = response.data;
      }, error => {
        console.log(error.data);
      })

      this.cargando = false;
    },
    getGallery(galeria){
      this.clase = "entra";
      this.selectGaleria = galeria;
      //this.$router.push({name: 'galeria', params: {galeria: galeria}})
    },
    cerrarGaleria(galeria){
      this.clase = "sale";
      this.selectGaleria = '';
    }
    
  }
  
}
</script>

<style scoped>
  .wrapper {
      min-height: calc(100vh)
  }
  .active{
    color: #fff;
    background: #0275d8;
  }
  .entra{
  -webkit-transition: all 30s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  -moz-transition: all 30s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  -o-transition: all 30s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  transition: all 30s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.sale{
  -webkit-transition: all 30s ease-out;
    -moz-transition: all 30s ease-out;
    -o-transition:all 30s ease-out;
    transition: all 30s ease-out;
}

.tile {
  margin: 1.25em .25em 0em;
  border-radius: 6px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  overflow: hidden;
  transition: background-color 0.5s ease, transform 0.5s ease;
  position: relative;
}
.tile span {
  transition: transform 0.5s ease;
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}
.tile span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #14353f;
  opacity: .6;
  transition: background-color 0.5s ease, opacity 0.5s ease;
}
.tile img {
  width: 100%;
  display: block;
  transition: transform 3s ease;
}
.click{
  cursor: url("/image/puntero.png"), pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex-flow: column wrap;
  text-align: center;
  color: white;
}
.tile h2 {
  font-size: 20px;
  margin: 0;
  line-height: 0;
  font-weight: 400;
}
.tile:hover {
  transform: scale(1.1);
}
.tile:hover span::after {
  opacity: 0;
}
.tile:hover img {
  transform: scale(1.2);
}
.tile:hover h2 {
  text-decoration: underline;
}

</style>
