<template>
	<div class="my-navbar navbar-light bg-faded">
		<b-nav class="container-fluid" tag="div">
			<b-button class="navbar-toggler mr-auto" variant="outline-primary" @click="sidebarCollapse">
				<span class="navbar-toggler-icon"></span>
			</b-button>
			<b-nav tag="div" class="ml-auto">
				
				<b-nav-item-dropdown text="Lang" tag="div" right>
					<b-dropdown-item href="#">EN</b-dropdown-item>
					<b-dropdown-item href="#">ES</b-dropdown-item>
					<b-dropdown-item href="#">RU</b-dropdown-item>
					<b-dropdown-item href="#">FA</b-dropdown-item>
				</b-nav-item-dropdown>
				<b-nav-item-dropdown text="Admin" right>
					<b-card title="Cuenta Administrador" footer-tag="footer" :img-src="avatar" img-alt="Image" img-top tag="article" style="max-width: 20rem; min-width:15rem" class="mb-2">
						<p class="card-text">
							No tengas miedo a fracasar, ten miedo a no intentarlo.
						</p>
						<em slot="footer">
							<div class="d-flex flex-row justify-content-around">
								<b-button @click="salir" variant="outline-danger">Cerrar sesión</b-button>
							</div>
						</em>
					</b-card>
				</b-nav-item-dropdown>
			</b-nav>	
		</b-nav>
	</div>	
</template>

<script>
import Icon from 'vue-awesome/components/Icon';
import funciones from '../../../helpers/funciones';
import EventBus from '../../../helpers/event-bus.js';

export default{
	components: {
		'icon': Icon,
	},
	props:['club'],
	mixins: [funciones],
	created(){
	
	},
	mounted(){
		
	},
	data: ()=>({
		cssClase: '',
		escalaIcon: 1,
		escalaIcon2: 1,
		linkActivo: '',
		avatar: '../img/avatar/avatarH.png',
	}),
	
	methods:{
		sidebarCollapse(){
			this.cssClase == '' ? this.cssClase = 'active' : this.cssClase='';

			EventBus.$emit('clase', this.cssClase);
		},
		salir(){
			window.location = "logout";

		}	

	}

}

</script>

<style scoped>
.my-navbar{
	padding: 15px 10px;
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0.5rem 1rem;
}

.click{
    cursor: url("/image/puntero.png"), pointer;
}

a[aria-expanded="true"] { 
    color: #fff;
    background: #0275d8;
} 

.router-link-active[aria-expanded="true"] {
    color: #fff;
    background: #0275d8;
} 
a[data-toggle="collapse"] {
    position: relative;
}

div a[aria-expanded="false"]::before, div a[aria-expanded="true"]::before {
    content: '\f3d0';
    display: block;
    position: absolute;
    right: 3px;
    font-family: "Ionicons";
    font-size: 1em;
}
div a[aria-expanded="true"]::before {
     content: '\f3d8';
}

.dropdown-toggle::after {
    display:none
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1c47ff;
}



a.article, a.article:hover {
    background: #1c47ff !important;
    color: #fff !important;
}

@media (max-width: 1300px) {
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
}

</style>