<template>
	<!-- Sidebar Holder -->
	<nav id="sidebar" :class="cssClase">
		<div class="sidebar-header">
			<router-link to="" tag="div" class="click">
				<h3 class="titulo"><b>uN</b>PaDeL</h3>
				<strong>UP</strong>
			</router-link>
		</div>
		<b-nav tag="div" vertical class="list-unstyled components">
		  <b-nav-item href="/club/partidas" active>
		  	<icon name="calendar" :scale="escalaIcon"></icon><span>Partidas</span>
		  </b-nav-item>
		  <b-nav-item href="/club/jugadores">
		  	<icon name="user-circle" :scale="escalaIcon2"></icon><span>Jugadores</span>
		  </b-nav-item>
		  <b-nav-item>Another Link</b-nav-item>
		  <b-nav-item disabled>Disabled</b-nav-item>
		</b-nav>
		<!--div class="list-unstyled components">
			
			<router-link title="Partidas" @click="partidas">
				<icon name="calendar" :scale="escalaIcon"></icon><span>Partidas</span>
			</router-link>
			
				
			<router-link to="/jugadores2" title="Jugadores">
				<icon name="user-circle" :scale="escalaIcon2"></icon><span>Jugadores</span>
			</router-link>
		</div>

		<!--ul class="list-unstyled CTAs">
			<li><a href="" class="download">Download source</a></li>
			<li><a href="" class="article">Back to article</a></li>
		</ul-->
	</nav>
</template>
<script>
import Icon from 'vue-awesome/components/Icon';
import funciones from '../../../helpers/funciones';
import EventBus from '../../../helpers/event-bus.js';


export default{
	components: {
		'icon': Icon,
	},
	props:['club'],
	mixins: [funciones],
	created(){
		EventBus.$on('clase', (clase) => (
			this.cssClase = clase
  			
			)
		);		 
	},
	mounted(){

		this.getComboProvincias();
		this.getComboInstalaciones();
		this.getNiveles();
	},
	data: ()=>({
		cssClase: '',
		escalaIcon: 1,
		escalaIcon2: 1,
		linkActivo: '',
		avatar: '../img/avatar/avatarH.png',
	}),
	watch:{
		cssClase(value){
			value != '' ? (this.escalaIcon = 3, this.escalaIcon2 = 2) : (this.escalaIcon2 = this.escalaIcon = 1);
		}
	},
	
	methods:{
		partidas(){
			console.log('entra')
			window.location = '/partidas';
		}
	}

}

</script>

<style scoped>
.titulo{
	background: #1c47ff !important;
	padding: 20px !important;
	color: #fcfcfc !important;
	text-align: center !important;
	text-shadow: 0px 0px 5px #0275d8, 1px 1px 5px #0275d8, -1px -1px 5px #0275d8, 1px -1px 5px #1e9faf, -1px 1px 5px #0275d8 !important;
	font-family: 'Lobster Two', cursive !important;
}
.sidebar-header strong{
	background: #1c47ff !important;
}
.click{
    cursor: url("/image/puntero.png"), pointer;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #0031ff;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}
#sidebar.active span{
    display: none;
}
#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: -5px;
    right: 58%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1c47ff;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #0031ff;
    background: #0275d8;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] { 
    color: #fff;
    background: #0275d8;
} 


#sidebar a[aria-expanded="false"]::before, #sidebar a[aria-expanded="true"]::before {
    content: '\f3d0';
    display: block;
    position: absolute;
    right: 20px;
    font-family: "Ionicons";
    font-size: 1em;
}
#sidebar a[aria-expanded="true"]::before {
    content: '\f3d8';
}

#sidebar div a {
    text-align: left;
}

#sidebar.active div a {
    padding: 10px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active div a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active div div a {
    padding: 10px !important;
}
#sidebar div.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}
#sidebar div a{
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar div a:hover {
    color: #0031ff;
    background: #0275d8;
}
#sidebar div a svg {
    margin-right: 10px;
}
#sidebar .router-link-active, .router-link-active[aria-expanded="true"] {
    color: #fff;
    background: #0275d8;
} 
a[data-toggle="collapse"] {
    position: relative;
}
#sidebar div div div a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1c47ff;
}

div a[aria-expanded="false"]::before, div a[aria-expanded="true"]::before {
    content: '\f3d0';
    display: block;
    position: absolute;
    right: 3px;
    font-family: "Ionicons";
    font-size: 1em;
}
div a[aria-expanded="true"]::before {
     content: '\f3d8';
}

.dropdown-toggle::after {
    display:none
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1c47ff;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #0031ff;
}

a.article, a.article:hover {
    background: #1c47ff !important;
    color: #fff !important;
}

@media (max-width: 1300px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

</style>