  /* Popover Header */
  .popover-title {
      background-color: #3a87ad; 
      color: #FFFFFF; 
      font-size: 28px;
      text-align:center;
      
  }
  /* Popover Body */
  .popover-content {
      background-color: #3a87ad;
      color: #FFFFFF;
      padding-left: 25px;
  }
  .popover-content li{
      list-style: url(/image/paddel.ico);
   }
  
  /* Popover Arrow */
  .arrow {
      border-top-color: green !important;
  }
  .fc-palas, .popover-content li{
      text-transform: capitalize;
  }
 /*.url{cursor:url(http://falconmasters.com/img/cursor.gif), auto;}*/

 /*transicion entrada vista*/
.slide-fade-leave-active{
    transition: all .3s ease;
}

.slide-fade-leave-active{
    transition: all .3s cubic-bezier(.17,.67,.83,.67);
}
.slide-fade-enter, .slide-fade-leave-to{
    transform: translate(800px);
    opacity:0;
}


.hot, .temp, .cold, .equipo, .torneo{
    height: 400px;

}
.hot{
 background:url('/img/pistas/rojo.png') no-repeat center;
}
.temp{
 background:url('/img/pistas/naranja.png') no-repeat center;
}
.cold{
 background:url('/img/pistas/verde.png') no-repeat center;
}
.equipo{
 background:url('/img/pistas/azul.png') no-repeat center;
}

/*
    Estilo del back
*/
.bg-fondoModalUser{
    background-color: #434e5a !important;
}
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

[v-cloak] {
  display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
.click{
    cursor: url("/image/puntero.png"), pointer;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.user-menu{
  width: 200px;
  height: 25px;
}

i, span {
    display: inline-block;
}

.entra{
  -webkit-transition: all 30s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  -moz-transition: all 30s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  -o-transition: all 30s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  transition: all 30s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.sale{
  -webkit-transition: all 30s ease-out;
    -moz-transition: all 30s ease-out;
    -o-transition:all 30s ease-out;
    transition: all 30s ease-out;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

@media screen and (max-width: 1700px) {
    
  }
@media screen and (max-width: 1600px) {
  .hot, .temp, .cold, .equipo, .torneo{
    height: 350px;

  }
  
}
@media screen and (max-width: 1375px) {
  .hot, .temp, .cold, .equipo, .torneo{
    height: 300px;

  }
}

@media screen and (max-width: 1220px) {
  .hot, .temp, .cold, .equipo, .torneo{
    height: 275px;

  }
}
  @media screen and (max-width: 1030px) {
    
  }
  @media screen and (max-width: 995px) {
    .hot, .temp, .cold, .equipo, .torneo{
      //height: 250px;
    }
  }
  @media screen and (max-width: 875px) {
     .hot, .temp, .cold, .equipo, .torneo{
      height: 200px;
    }
  }
  @media screen and (max-width: 700px) {
    body {
      /*font-size: 6px;*/
    }
  }
  @media screen and (max-width: 535px) {
    
  }
  
