<template> 

  <b-modal v-model="modalShow" hide-footer :title="titulo" centered>
    <template v-if="formulario == 1">
      <b-form-group label="Nombre:">
        <b-form-input type="text" placeholder="Rol" aria-describedby="nombreFeedback" v-model.trim="item.nombre" :state="nameState" required></b-form-input>
        <b-form-invalid-feedback id="nombreFeedback">
           {{ errores.nombre }}
        </b-form-invalid-feedback>
      </b-form-group>
    </template>
    <div class="float-right">
      <template v-if="formulario == 1"><b-btn class="mt-3" variant="outline-primary" @click="crear">Guardar</b-btn></template>
      <template v-if="formulario == 2"><b-btn class="mt-3" variant="outline-danger" @click="eliminar">Eliminar</b-btn></template>
      <b-btn class="mt-3" variant="outline-primary" @click="cerrar">Cancelar</b-btn>
    </div>
  </b-modal>
  
</template>

<script>

import EventBus from '../../helpers/event-bus.js' 

export default {

  props:['select', 'formulario'],
  mounted(){
    this.abrir();
  },

  data: ()=>({
    
    item: {nombre: null, slug: ''},
    errores:  {
        nombre: null,
      },
    titulo:"",
    modalShow: true,
  
  }),
  computed: {
    nameState () {
      return this.validarNombre();
    },
  },  
  created(){
    EventBus.$on('openModal', (modal) => (//dejo un canal de comunicacion abierto con el padre
	      modal=='open'?this.abrir():this.cerrar()
    	)
    ); 
  },
  methods: {
    validarNombre(){
      if( this.item.nombre != null){
        if (this.item.nombre.trim() == ''){
          this.errores.nombre = "No puede estar vacio";
          return false
        } 
      }
                
      return this.item.nombre == null? null: true;  
    },
    cabeceraModal(){
      switch(this.formulario){
        case 1:
          	this.titulo= 'Crear rol';
          	break;
        case 2:
        	this.item = this.select; 
          	this.titulo= 'Eliminar «' + this.select.nombre + '»';
          	break;
    	}
    },

    crear(){
    	this.item.nombre != null? this.item.nombre = this.item.nombre.toUpperCase() : this.item.nombre = '';
      	this.item.slug = Slug(this.item.nombre);
	    if(this.validarNombre()){
	    	this.$emit('accion',{accion: 'crear', objeto: this.item}); //envio al padre la accion y el elemento.
	    }
    },
    eliminar(){
    	this.$emit('accion',{accion: 'eliminar', objeto: this.select}); //envio al padre la accion y el elemento.
    },

    abrir(){
    	this.cabeceraModal();
      	this.modalShow = true;
    },
    cerrar(){
      this.item = {nombre: null, slug: ''};
      this.modalShow = false;
    },
    
  }
}
</script>