<template>
  <div>
  	<div class="text-center"><h2>Roles</h2></div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <td colspan="2">
              <b-row>
                <b-col sm="11" lg="6">
                  <buscador-component @search="search($event)"></buscador-component>
                </b-col> 
                <b-col sm="1" lg="5">
                  <b-button @click="tipoAccion('crear')" variant="primary" class="float-right">
                    <icon name="plus"></icon>
                  </b-button>
                </b-col>
              </b-row>
            </td>    
          </tr>
          <tr>
           	<th width="60">#</th>
          	<th>Nombre</th>
          	<th width="200">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr align="center" v-show="cargando"><td colspan="3"><icon name="refresh" scale="5" spin></icon></td></tr>
          <crud-component v-for="(item, index) in filtro" :item="item" :key="item.id" @update="actualizar($event)" @delete="tipoAccion('eliminar', $event)"></crud-component>
        </tbody>
    </table>
    <Paginate :pagination="pagination" @pagina="getItems"></Paginate>
    <component :is="modal" :formulario="formulario" :select="select" :key="select.id" @accion="acciones"></component>
  </div>

</div>

</template>

<script>

import Formulario from './FormRoles.vue';
import crud from './EditRol.vue';
import EventBus from '../../helpers/event-bus.js';
import Icon from 'vue-awesome/components/Icon';
import Paginate from '../layouts/paginate.vue';
import Buscador from '../extras/buscador.vue';

export default {
  components: {
    'app-form' : Formulario,
    'crud-component': crud,
    'icon': Icon,
    'buscador-component':Buscador,
    Paginate
  },
  data: ()=>({
    
    pageUrl: 'rls',
    items: [],
    pagination: [], 
    cargando: false,
    modal:'',
    select:[],
    formulario:'',
    busqueda: '',
        
  }),
  created() {
    this.getItems();
  },
  computed: {
    filtro(){ 
      if(this.items.length) {
        return this.items;
      }
    },
  },
  methods:{
    search(busqueda){
      this.busqueda = busqueda;
      this.getItems();
    },
    tipoAccion(action, data = []){
      this.formulario = '';
      this.select = data;
      this.modal = 'app-form';
      switch(action){
        case 'crear':
          this.formulario = 1;
          break;
        case 'eliminar':
          this.formulario = 2;
          break;
      }

        EventBus.$emit('openModal','open'); //mando abrir el modal al seleccionar un elemento
    },
    getItems(page){
      this.cargando = true;
      axios.get(`${this.pageUrl}?page=${page}&busqueda=${this.busqueda}`).then((response)=>{
        this.items = response.data.items.data;
        this.pagination = response.data.pagination;
      });
      this.cargando = false;
    },
    resetBusqueda(){
      this.busqueda = '';
      this.getItems();
    },
    acciones(item){
      switch(item.accion){
        case 'crear':
      this.crear(item.objeto);
          break;
        case 'eliminar':
          this.eliminar(item.objeto);
          break;
      };

    },

    crear(nuevo){
      axios.post(this.pageUrl, nuevo).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);

      }, (error) => {
        console.log(error.response);
      })
    },

    eliminar(eliminarId){
      axios.delete(this.pageUrl + "/" + eliminarId.id).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);
      }, (error) => {
        console.log(error.response);
      })
    },
    actualizar(actualizar){
      axios.patch(this.pageUrl + '/' + actualizar.id, actualizar).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);
      }, (error) => {
        console.log(error.response);
      })
    },
    
 }
   
}
</script>