<template>
    <b-input-group>
        <div class="input-group-prepend">
          <span class="input-group-text">
            <icon name="search"></icon>
          </span>
        </div>
        <b-form-input type="text" v-model.trim="busqueda" placeholder="Buscar..."></b-form-input>

        <b-input-group-append>
          <b-button variant="primary" @click.prevent="resetBusqueda">
            <icon name="refresh"></icon>
          </b-button>
        </b-input-group-append>
      </b-input-group>
</template>

<script>
import Icon from 'vue-awesome/components/Icon';

export default {
	components: {
		'icon': Icon,
	},
	data:()=>({
		busqueda: '',
	}),
	watch:{
		busqueda(search){
			(search.length > 3 || !isNaN(parseInt(search)) || search == '')? this.$emit('search', search) : '';
			
		},
	},
	methods:{
		resetBusqueda(){
			this.$emit('cancelar');
			this.busqueda = '';
	    },

	},

}
</script>