<template>
    
        <b-row>
        	<b-col sm="12" md="4" lg="" v-if="vista">
		        <b-form-group label="Club:">
					<b-form-input type="text" v-model.trim="busqueda['club']" placeholder="Club..."></b-form-input>
				</b-form-group>
			</b-col>
        	<b-col sm="12" md="4" lg="">
		        <b-form-group label="Nivel:">
					<b-form-select v-model.trim="busqueda['nivel']" :options="comboNiveles" class="mb-3"/>
				</b-form-group>
			</b-col>
			<b-col sm="12" md="4" lg="">
		        <b-form-group label="Posición:">
					<b-form-select v-model.number="busqueda['posicion']" :options="comboPosiciones" class="mb-3"/>
				</b-form-group>
			</b-col>
			<b-col sm="12" md="4" lg="">
		        <b-form-group label="Código Disponibilidad:">
					<b-form-input type="text" v-model.trim="busqueda['dispon']" placeholder="disponibilidad..."></b-form-input>
				</b-form-group>
			</b-col>
			<b-col sm="12" md="4" lg="">
		        <b-form-group label="Población:">
					<b-form-input type="text" v-model.trim="busqueda['poblacion']" placeholder="Poblacion..."></b-form-input>
				</b-form-group>
			</b-col>
			<b-col sm="12" md="4" lg="">
		        <b-form-group label="Provincia:">
					<b-form-input type="text" v-model.trim="busqueda['provincia']" placeholder="Provincia..."></b-form-input>
				</b-form-group>
			</b-col>
			<b-col sm="12" md="2" lg="">
				<b-form-group label="..." style="color: #ff000000">
	              <b-btn variant="warning" @click="buscar" title="buscar"><icon name="search"></icon></b-btn>
	              <b-btn variant="primary" @click="resetBusqueda" title="cancelar"><icon name="refresh"></icon></b-btn>
	            </b-form-group>
			</b-col>
		</b-row>
		
    
</template>

<script>
import Icon from 'vue-awesome/components/Icon';

export default {
	props:['vista'],
	components: {
		'icon': Icon,
	},
	data:()=>({
		busqueda: {nivel: 'TODOS', posicion: 'TODAS'},
		comboNiveles: [],
 		comboClubs: [],
		comboPosiciones: [{value: 'TODAS', text: 'TODAS'}, {value:'REVÉS',text:'REVÉS'},{value: 'DERECHA', text: 'DERECHA'},{value: 'INDIFERENTE', text: 'INDIFERENTE'}],
		comboDesplazamientos: [{value:5,text:'5 Km'},{value: 10, text: '10 Km'},{value: 15, text: '15 Km'},{value: 20, text: '20 Km'},{value: 25, text: '25 Km'},{value: 30, text: '30 Km'},{value: 35, text: '35 Km'},{value: 40, text: '40 Km'}],
		comboDias: ['Lunes','Martes','Miércoles','Jueves','Viernes','Sábado','Domingo'],
		disponibilidad: {'Lunes' : null ,'Martes': null, 'Miércoles': null ,'Jueves': null,'Viernes': null,'Sábado': null,'Domingo': null},
	}),
	created(){
 		this.comboNiveles = this.$store.state.niveles;
 		this.comboNiveles.unshift({value:'TODOS' , text: 'TODOS' });
 		this.comboClubs = this.$store.state.clubs;
 	},
	methods:{
		resetBusqueda(){
			this.busqueda = [];
			this.$emit('cancelar', false);
	    },
	    buscar(){
	    	//console.log(this.busqueda);
	    	this.$emit('search', this.busqueda);
	    	//this.busqueda = [];
	    },

	},

}
</script>