<template>
	<b-container fluid>
		<b-row v-if="emisor && partidas.length">
			<b-col class="text-center">
				<h2>Partidas de <span style="color: blue" class="text-uppercase"><strong>{{partidas[0].nick}}</strong></span></h2>
			</b-col>
		</b-row>
		<b-row>
			<b-col>
				<div ref="calendario"></div>
			</b-col>
		</b-row>
   		<template>
			<b-modal v-model="modalShow" hide-footer title="¿Modificar partida?" centered>
		    	<div class="float-right">
			      	<b-btn class="mt-3" variant="outline-primary" @click="confirm('si')">Modificar</b-btn>
			      	<b-btn class="mt-3" variant="outline-danger" @click="confirm('no')">Cancelar</b-btn>
		    	</div>
		  	</b-modal>
		</template>
   	</b-container>

</template>

<script>


import Icon from 'vue-awesome/components/Icon';
import calendar from './fullcalendar.js';

export default {
 // props:['club'],
 	props: {
 		emisor: {
 			type: Boolean,
 			default: false,
 		},
 		club: {
	  		type: Array/Object,
	  		default: () => []
	  	},
	  	pistas: {
	  		type: Array,
	  	},
	    partidas: {
	      type: Array,
	    },
	    editable: {
	        type: Boolean,
	        default: true
	    },
	    droppable: {
	        type: Boolean,
	        default: true
	    },
	    header: {
	    	type: Array/Object,
	    	default: () => [],
	    },
  	},
 	components: {   
    	'icon': Icon,
  	},
  	data: ()=>({
  		isDblClicked: false,
  		isClicked: false,
  		fechaDblClick: '',
  		modalShow: false,
  		modificar: false,
  		evento: '',
  		vista: '',
  		datos: [],
  		pista: '',
  		cal: null,
	    args: {
	        aspectRatio: 1.8,
	        header: {
	            left: 'today prev,next',
	            center: 'title',
	            right: 'agendaWeek,resourceDay'
	        },
	        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
	        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
	        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
	        buttonText: {
	          week: 'Semana',
	          day: 'Día',
	         // month: 'Mes',
	          today: 'Hoy'
	        },
	        timeFormat: 'HH:mm', //mostrar la hora en modo 24h en eventos, con los ceros de la hora en punto. Sin ceros = timeFormat: 'H(:mm)'
	        scrollTime: '07:00:00',
	        slotDuration: '00:30:00',
	        defaultView: 'resourceDay',
	        firstDay:1,
	        allDaySlot: false, //mostrar la fila todo el dia
	        defaultDate: new Date(),
	        axisFormat: 'HH:mm', //vista de la hora en el evento
	        //eventOverlap: this.eventoverlap, //solapar eventos
	        slotEventOverlap: false, //divide el tamaño del evento para posicionarlos en el mismo hueco.
	        editable: true, //editar eventos
	        droppable: true, //arrastrar y soltar*/
	        defaultTimedEventDuration: '01:30:00',
	        minTime: '07:00',
	        maxTime: '24:30',
	        firstHour: '08:00',
	        resources: this.pistas,
	        events: this.partidas,
	    }
	}),
  	created() {
	 	
  	},

  	mounted(){
  		this.args.scrollTime = '08:00';//this.club.horario.substring(1,5);
        this.args.maxTime = '24:30';//this.club.horario.substring(6,11);
        this.args.droppable = this.droppable;
        this.args.editable = this.editable;
        this.args.resources = this.pistas;
        this.args.events = this.partidas;
        this.args.header = this.header;
        this.cargarCal();
		
    },
    
  	watch:{
  		isDblClicked(value){
  			if(!this.isClicked && value && this.vista == 'agenda' && this.evento == "dia"){
  				this.isDblClicked = false;
  				this.$emit('crear', {fecha: this.fechaDblClick, pista: this.pista.data.name});
  			}
  			if(!this.isClicked && value && this.evento == "evento"){
  				this.isDblClicked = false;
  				this.$emit('abrir', this.datos);
  			}

  		},
	    partidas(eventos){
	    	this.args.scrollTime = '08:00';//this.club.horario.substring(1,5);
	        this.args.maxTime = '24:30';//this.club.horario.substring(6,11);
	        this.args.droppable = this.droppable;
	        this.args.editable = this.editable;
	        this.args.resources = this.pistas;
	        this.args.events = eventos;
	        this.args.header = this.header;
	        this.cargarCal();
	    },
    
	},
	computed: {
	    
	},
  	methods:{
  		confirm(value){
  			switch(value){
  				case 'si':
  					this.modificar =  true;
  					break;
  				case 'no':
  					this.modificar =  false;
  					break;
  			}
  		},
	    palas(jugadores){

	    	let palas = [];
	      	for(let pala in jugadores){
	        	if(pala.substring(0,4) == 'pala')  {
	        		if(jugadores[pala] != '' && jugadores[pala] != null){
	            		palas.push(jugadores[pala]);
	          		}
	        	}
	      	};

	      	return palas;
	    },
        cargarCal(){
            
            const me = this;
            me.cal = $(me.$refs.calendario);
            
            
            if (me.editable){
                me.args.eventRender = (event, element) => {
                	let jugadores = me.palas(event.jugadoresPartida[0]);
                	let Npalas = jugadores.length;
                	
                	
                    element.find(".fc-event-title")
                        .append(`<div class='fc-palas ui-revert'>${Npalas} Palas <br>Nivel ${event.nivel} / Pista ${event.resources}</div>`);
                    element.find(".fc-palas")
                        .popover({
                        	animation:true,
              				delay: 300,
                            container: "body",
                            html : true, //habilito el paso de etiquetas html
                            title: `<b>Palas</b><b-button class="close" aria-label="Close" onClick="$(this).parents('.popover').popover('hide')"><span aria-hidden="true">×</span></b-button>`,
                            placement: "top",
                            trigger:"hover",
                            content: palas =>{
                                let listadoPalas = `<ul style='margin-left:-20%'>`;
                                    for (let x = 0; x < Npalas; x++){
                                        listadoPalas += `<li>${jugadores[x]}</li>`;
                                     }
                                    listadoPalas += `</ul>`;
                                    return listadoPalas;
                            },
                        });
                        /*.click( e => {
                        	e.preventDefault(); 
                    		$(me).focus(); 
                		});*/
                	
                };
				/*me.args.eventDragStart = (event, jsEvent, ui, view) => {
					//console.log(event.resources)
				};*/
                me.args.eventDrop = ( event, delta, revertFunc, jsEvent, ui, view ) => {
                	
                	if (me.isOverlapping(event)) {
                		
					    revertFunc();
				
               	 	}else{
               	 		let startHour = '';
               	 		let endHour = '';
               	 		
               	 		if(view.name == "agendaWeek"){
							startHour = moment(event.end._d).format("YYYY-MM-DD") +" " + ui.helper["0"].innerText.substring(0,5)+":00";
		            		endHour = moment(event.end._d).format("YYYY-MM-DD") +" " + ui.helper["0"].innerText.substring(8,13)+":00";
               	 		}else{
               	 			startHour = moment(event.start._i).format("YYYY-MM-DD") +" " + ui.helper["0"].innerText.substring(0,5)+":00";
		            		endHour = moment(event.end._i).format("YYYY-MM-DD") +" " + ui.helper["0"].innerText.substring(8,13)+":00";
               	 		}	
               	 		
						

			            let item = {id: event.id, pistas_id: event.resources[0], inicio_alquiler: startHour, fin_alquiler: endHour};

			            me.update(item);
                    }
                	
            	};
            	/*me.args.eventDragStop = (event, jsEvent, ui, view) => {//cuando sale de un elemento solapado
            		
            		if (me.isOverlapping(event)) {

                    }else{
                       //	me.update(event);
                    }
            	};*/
            	/*me.args.drop = (date, jsEvent, ui, resourceId) => {
            		
	                //me.update(event);
	            };*/
	            me.args.eventResizeStop = ( event, jsEvent, ui, view )=> { //evento cuando se amplia el horario de la partida
	            	let startHour = '';
           	 		let endHour = '';
           	 		me.modalShow = true;
           	 		console.log(me.Modificar)
           	 		if(me.modificar){
           	 			console.log('2ntra')
	           	 		if(view.name == "agendaWeek"){
	           	 			
							startHour = moment(event.end._d).format("YYYY-MM-DD") +" " + ui.element["0"].innerText.substring(0,5)+":00";
		            		endHour = moment(event.end._d).format("YYYY-MM-DD") +" " + ui.element["0"].innerText.substring(8,13)+":00";
	           	 		}else{

	           	 			startHour = moment(event.start._i).format("YYYY-MM-DD") +" " + ui.element["0"].innerText.substring(0,5)+":00";
		            		endHour = moment(event.end._i).format("YYYY-MM-DD") +" " + ui.element["0"].innerText.substring(8,13)+":00";
	           	 		}	
	          			

			            let item = {id: event.id, pistas_id: event.resources[0], inicio_alquiler: startHour, fin_alquiler: endHour};
		            	me.update(item);
		            
		            	me.modalShow = false;
		            	me.modificar = false;
		            	
		            }else{

		            }

		            
                  
	            };
	            me.args.eventResize = ( event, delta, revertFunc, jsEvent, ui, view ) => { 
	            	if (me.isOverlapping(event)) {
                		
                		revertFunc();
					    
               	 	}else{
                       me.update(event);
                    }
	            };
	            /*me.args.eventMouseover =  (event, jsEvent, view) => {
		
			    },
			    me.args.eventMouseout = () => {
			      
			    }
			    me.args.dayRender = (date, cell) => {
			    	console.log(date);
			    	console.log(cell);
			    };*/
	            me.args.eventClick =  (calEvent, jsEvent, view) =>{
	            	if(me.isClicked){
	            		me.evento = "evento";
			    		me.datos = calEvent;
			    		me.isDblClicked = true;
				        me.isClicked = false;

					}else{
					    me.isClicked = true;
					}
					setTimeout(() => {
					    me.isClicked = false;
					}, 250)
			   	};
			    me.args.dayClick = (date, jsEvent, view, resourceObj) =>{//emite informacion hacia el componente calendario y me lleva al dia pulsado.
			    	
			    	if(view.name == 'resourceDay'){
 						
			    		if(me.isClicked){
			    			me.evento = "dia";
			    			me.pista = jsEvent;
			    			me.fechaDblClick = date.format();
					        me.isDblClicked = true;
					        me.isClicked = false;
					    }
					    else{
					        me.isClicked = true;
					    }
					    setTimeout(() => {
					        me.isClicked = false;
					    }, 250)
			    	}
			    	
			    	//console.log(date);
		            //me.$emit('day::clicked', date);
		            //me.cal.fullCalendar('gotoDate', date.start);
		            //me.cal.fullCalendar('changeView', 'agendaDay');

			    },
			    /*me.args.select =  (start, end, jsEvent) => { //mustra el contenido de una hora al pulsarla
			    	
			    	if(me.isClicked ){
			    		me.isDblClicked = true;
				        me.isClicked = false;
					}else{
					    me.isClicked = true;
					}
					setTimeout(() => {
					    me.isClicked = false;
					}, 250)
			      console.log(start);
			      console.log(end);
			      console.log(jsEvent.data); // resources
			    };*/
			   /*me.args.eventReceive = (event) => {
			        me.$emit('event::received', event);
			    };*/
			    //al seleccionar una hora sale pintada en el calendario y con el selecHelper muestra la hora.
			    me.args.selectable = true; 
    			me.args.selectHelper = true;
            } else{
                me.args.eventRender = (event, element) => {
                	let jugadores = me.palas(event.jugadoresPartida[0]);
                	let Npalas = jugadores.length;
                	
                	element.find(".fc-event-inner").dblclick( e =>{
                		me.$emit('abrir', event.source.events[0]);
                	});
                    element.find(".fc-event-title")
                        .append(`<div class='fc-palas ui-revert'>${Npalas} Palas <br>Nivel ${event.nivel} / Pista ${event.resources}</div>`);
                    element.find(".fc-palas")
                        .popover({
                            container: "body",
                            html : true, //habilito el paso de etiquetas html
                            title: `<b>Palas</b><b-button class="close" aria-label="Close" onClick="$(this).parents('.popover').popover('hide')"><span aria-hidden="true">×</span></b-button>`,
                            placement: "top",
                            trigger:"hover",
                            content: palas =>{
                                let listadoPalas = `<ul style='margin-left:-20%'>`;
                                    for (let x = 0; x < Npalas; x++){
                                        listadoPalas += `<li>${jugadores[x]}</li>`;
                                     }
                                    listadoPalas += `</ul>`;
                                    return listadoPalas;
                            },
                        }).click( e => {
                        	e.preventDefault(); 
                    		$(me).focus(); 
                		});
                	
                };
            }
           me.args.viewRender = (view, element) =>{
            	let vista = view.name == 'resourceDay'? 'agenda' : 'semana';
            	this.vista = vista;
            	//let currentdate = view.intervalStart;
            	//me.$emit('fecha', view.intervalStart._d); //fecha cambio de día
            	//me.$emit('fecha', view.intervalStart._i); //día actual con la hora actual
            	//me.$emit('vista', vista);
            }
           
            me.cal.fullCalendar('setResources', me.pistas);//cargo las pistas del club
            me.cal.fullCalendar('removeEvents'); //elimino los eventos del calendario
            me.cal.fullCalendar('render');//renderizo el calendario
            me.cal.fullCalendar('addEventSource', me.partidas);//cargo los eventos
            me.cal.fullCalendar(me.args);
    
        },
        
        update(item){
        	this.$emit('posicion', item);
        },

        isOverlapping(event){
        	const me = this;
            me.cal = $(me.$refs.calendario);
		   	let array = me.cal.fullCalendar('clientEvents');
			   for(let i in array){
			       if(array[i]._id != event._id){

			       		if(parseInt(array[i].resources) == parseInt(event.resources)){

			       			if(!(array[i].start.format() >= event.end.format() || array[i].end.format() <= event.start.format())){

			               		return true;
			           		}
			       		}
			           
			       }
			    }
			    return false;
		},
		
    }
    
  
}
</script>

<style>

.fc-event-time{
	font-size: 0.8rem !important;
	text-align: center;
}

</style>