<template>
	<div  style="height:400px">
  		<chart-pie :data='chartData' :config='chartConfig'></chart-pie>
  		<!--chart-sankey :data = 'chartData2' :config = 'chartConfig2'></chart-sankey-->
  		<!--generator :generator = 'legendGenerator' :data = 'legendData' :config = 'legendConfig'></generator-->
    </div>
</template>

<script>
	import { ChartPie } from 'vue-d2b'
	import { ChartSankey } from 'vue-d2b'
	import { legend } from 'd2b'
  	import { Generator } from 'vue-d2b'

	export default {
		props: ['items'],
		components: {
		    'chart-pie': ChartPie,
		    'chart-sankey': ChartSankey,
		    'generator': Generator,
		    
		  },
		data: ()=>({
			chartData: [],
			chartConfig(chart){
        		chart.donutRatio(0)
      		},

//-----------------------------------
      		/*chartData2: {
	          nodes: [
	            {name: 'Node A'},
	            {name: 'Node B'},
	            {name: 'Node C'},
	            {name: 'Node D'},
	            {name: 'Node E'}
	          ],
	          links: [
	            {source: 'Node A', target: 'Node E', value: 2},
	            {source: 'Node A', target: 'Node C', value: 2},
	            {source: 'Node B', target: 'Node C', value: 2},
	            {source: 'Node B', target: 'Node D', value: 2},
	            {source: 'Node C', target: 'Node D', value: 2},
	            {source: 'Node C', target: 'Node E', value: 2},
	            {source: 'Node D', target: 'Node E', value: 4}
	          ]
        },
 
	        // There are many configuration options for each chart type, checkout
	        // the d2bjs.org docs for more information.
	        chartConfig2 (chart) {
	          chart
	            // returns the d2b svg sankey generator
	            .sankey()
	            // returns the d3 sankey generator
	            .sankey()
	            // now configure the d3 sankey generator through method chaining
	            .nodePadding(50)
	        },*/
 //--------------------------------
			/*legendGenerator: legend(),
			 
	        legendData: [
	          { html: 'Lemon' },
	          { html: 'Lime' },
	          { html: 'Grapefruit' },
	          { html: 'Orange' }
	        ],
	 
	        legendConfig (legend) {
	          legend
	            .clickable(true)
	            .dblclickable(true)
	        }*/
		}),
		watch:{
			items(value){
				this.chartData = value;
			}
		},
	}	

</script>
