
<!--https://codepen.io/CSWApps/pen/vmbNVp-->
<!--template>
  <div class="ckeditor">
    <div class="document-editor">
    <div class="document-editor__toolbar"></div>
    <div class="document-editor__editable-container">
        <div class="document-editor__editable">
            <p>The initial editor data.</p>
        </div>
    </div>
</div>
    <!--b-form-textarea name="content" id="editor" placeholder="Contenido de la noticia" @:input="updateValue($event.target.value)"></b-form-textarea-->

  <!--/div>
</template>

<script>
import esp from '@ckeditor/ckeditor5-build-classic/build/translations/es.js';
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import Uploadadapter from '@ckeditor/ckeditor5-adapter-ckfinder/src/uploadadapter';
import Autoformat from '@ckeditor/ckeditor5-autoformat/src/autoformat';
import BlockQuote from '@ckeditor/ckeditor5-block-quote/src/blockquote';
import EasyImage from '@ckeditor/ckeditor5-easy-image/src/easyimage';
import Heading from '@ckeditor/ckeditor5-heading/src/heading';
import ImagePlugin from '@ckeditor/ckeditor5-image/src/image';
import ImageCaption from '@ckeditor/ckeditor5-image/src/imagecaption';
import ImageStyle from '@ckeditor/ckeditor5-image/src/imagestyle';
import ImageToolbar from '@ckeditor/ckeditor5-image/src/imagetoolbar';
import ImageUpload from '@ckeditor/ckeditor5-image/src/imageupload';
import Link from '@ckeditor/ckeditor5-link/src/link';
import List from '@ckeditor/ckeditor5-list/src/list';
import Paragraph from '@ckeditor/ckeditor5-paragraph/src/paragraph';

import Essentials from '@ckeditor/ckeditor5-essentials/src/essentials';
import Bold from '@ckeditor/ckeditor5-basic-styles/src/bold';
import Italic from '@ckeditor/ckeditor5-basic-styles/src/italic';
import FontSize from '@ckeditor/ckeditor5-font/src/font';
import FontFamily from '@ckeditor/ckeditor5-font/src/fontfamily';
import Underline from '@ckeditor/ckeditor5-basic-styles/src/underline';
import Strikethrough from '@ckeditor/ckeditor5-basic-styles/src/strikethrough';
import GFMDataProcessor from '@ckeditor/ckeditor5-markdown-gfm/src/gfmdataprocessor';

// Simple plugin which loads the data processor.
function Markdown(editor) {
    editor.data.processor = new GFMDataProcessor();
}

  export default {
    data: ()=>({
      instance: null,
      content: '',
      plugins: [Essentials,Paragraph,Bold,Italic,BlockQuote,EasyImage,Heading,Image,ImageCaption,ImageStyle,ImageToolbar,ImageUpload,Link,List,Autoformat,Uploadadapter,FontSize,FontFamily,Markdown],
      toolbar:  ['heading','|','bold','italic','fontFamily', 'fontSize','|', 'alignment:left', 'alignment:right', 'alignment:center', 'alignment:justify','|','link','|','bulletedList','numberedList','|','imageUpload','imageTextAlternative','imageStyle:full','imageStyle:side', 'blockQuote','|','undo','redo','|'],
      fontFamily: ['default','Ubuntu, Arial, sans-serif','Ubuntu Mono, Courier New, Courier, monospace'],
      fontSize: [9, 11,13,'default',17,19,21],
      alignment:[ 'left', 'right','center'] 

    }),
    created(){
      ClassicEditor.build.plugins.map( plugin => console.log(plugin.pluginName ));
      
    },
    mounted(){
      this.crearCkeditro(this.plugins, this.toolbar);
    },
    methods: {
      crearCkeditro(plugs, toolb){

          ClassicEditor
            .create(this.$el, {
                Plugins: plugs,
                fontFamily: {options: this.fontFamily},
                fontSize: {options: this.fontSize},
                heading: {
                  options: [
                    { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                    { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                    { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                    { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                  ]
                },
                alignment: {options: this.alignment},
                cloudServices: {
                    tokenUrl: window.Laravel.token,
                    uploadUrl: 'https://your-organization-id.cke-cs.com/easyimage/upload/'
                },
                toolbar: toolb,//["undo", "redo", "bold", "italic", "blockQuote", "imageTextAlternative", "imageUpload", "heading", "imageStyle:full", "imageStyle:side", "link", "numberedList", "bulletedList"],
                image: {
                    toolbar: [
                        'imageStyle:full','imageStyle:side','|', 'imageTextAlternative'
                    ]
                },
                language: 'es',

          } )
          .then( editor => {
              console.log( editor );
              console.log(Array.from( editor.ui.componentFactory.names() ))
          })
          .catch( error => {
            console.error( error );
          });
        },
        updateValue: function (value) {
          console.log(value);
          //this.$emit('input', value)
        }
      },

  }
  
</script>

<style scoped>
  .text-tiny {
    font-size: 0.7em;
}

.text-small {
    font-size: 0.85em;
}

.text-big {
    font-size: 1.4em;
}

.text-huge {
    font-size: 1.8em;
}
</style>


<!--https://docs.ckeditor.com/ckeditor5/latest/builds/guides/integration/advanced-setup.html-->








<!--template>
    <textarea name="content" id="editor" :value="value"
         v-on:input="updateValue($event.target.value)" >
    </textarea>
</template>

<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

export default {
    data: function () {
        return {
            instance: null
        }
    },
    props: ['value'],
    mounted(){
        ClassicEditor
            .create( this.$el, {
                toolbar: [ 'bold', 'italic', 'link']
            } )
            .then( editor => {
                this.instance = editor;
            } )
            .catch( error => {
                console.error( error );
            } );
    },
    watch: {
        value: function(){
            let html = this.instance.getData();
            if(html != this.value){
                this.instance.setData(this.value)
            }
        }
    },
    updated(){
        this.instance.setData(this.value)
    },
    methods: {
        updateValue: function (value) {
            this.$emit('input', value)
        }
    }
}
</script> 
<style scoped>

</style-->

<!--
"@ckeditor/ckeditor5-adapter-ckfinder": "^10.0.0",
    "@ckeditor/ckeditor5-autoformat": "^10.0.0",
    "@ckeditor/ckeditor5-basic-styles": "^10.0.0",
    "@ckeditor/ckeditor5-block-quote": "^10.0.0",
    "@ckeditor/ckeditor5-build-classic": "^10.0.0",
    "@ckeditor/ckeditor5-dev-utils": "^9.0.0",
    "@ckeditor/ckeditor5-easy-image": "^10.0.0",
    "@ckeditor/ckeditor5-editor-classic": "^10.0.0",
    "@ckeditor/ckeditor5-essentials": "^10.0.0",
    "@ckeditor/ckeditor5-font": "^10.0.0",
    "@ckeditor/ckeditor5-heading": "^10.0.0",
    "@ckeditor/ckeditor5-link": "^10.0.0",
    "@ckeditor/ckeditor5-list": "^10.0.0",
    "@ckeditor/ckeditor5-markdown-gfm": "^10.0.0",
    "@ckeditor/ckeditor5-paragraph": "^10.0.0",
    "@ckeditor/ckeditor5-theme-lark": "^10.0.0",
-->