<template>
  <div id="individual-club-map"></div>
</template>

<script>
  export default {
    props:['club'],
    data: ()=>({
      infoWindows: [],
      datos: null,    
    }),
    /*mounted(){
     //console.log(this.$store.state.clubAdmin);
        axios.get(`clbs/${this.$store.state.clubAdmin.club}`).then( (response) => {
          this.club = response.data.club[0];
          
        },(error) => {
          console.error(error.response);
        });
    },*/
    watch:{
      club(value){
        this.datos = value;
        this.displayIndividualCLubMap(); 

        }
    },
    methods: {
      
      displayIndividualCLubMap(){
        this.map = new google.maps.Map(document.getElementById('individual-club-map'), {
          center: {lat: parseFloat( this.datos.latitud ), lng: parseFloat( this.datos.longitud )},
          zoom: 13
        });

        let image = '/img/coffee-marker.png';

        let marker = new google.maps.Marker({
          position: { lat: parseFloat( this.datos.latitud ), lng: parseFloat( this.datos.longitud )},
          map: this.map,
          //icon: image
        });
        let contentString = 
          `<div style="display: block">
              <div style="color: red;text-align: center"><strong>${this.datos.nombre}</strong></div>
                    <div style="font-size: 12px;">
                        <span style="display: block">${this.datos.direccion}, ${this.datos.poblacion}(${this.datos.provincia}) </span>
                        <span style="display: block">${this.datos.pistas} pistas</span>
                        <span style="display: block">telf. ${this.datos.telefono}</span>
                        <span style="display: block">horario: ${this.datos.horario}</span>
                        <span class="text-center mt-4 d-block" style="color: purple;font-weight: bold"><a href="${this.datos.web}">Visitar</a></span>
          </div>
                </div>`;

        let infoWindow = new google.maps.InfoWindow({
            content: contentString

        });

        this.infoWindows = infoWindow;
        
        //agrego un listener a cada club para abrir sus detalles. 
        marker.addListener('click', function() {
          infoWindow.open(this.map, this);
        });


      }
    }
  }
</script>

<style>

  div#individual-club-map{
    width: 700px;
    height: 500px;
    margin: auto;
    margin-bottom: 200px;
  }
</style>