<style scoped>
  div#club-map{
    width: 50%;
    height: 400px;
  }
  	div.club-info-window, div.club-name{
        display: block;
        text-align: center;
        color: red;
        font-family: 'Josefin Sans', sans-serif;
    }
	div.club-direcion{
    display: block;
    text-align: center;
    margin-top: 5px;
    color: $grey;
    font-family: 'Lato', sans-serif;
	}
    span.calle{
      	font-size: 14px;
      	display: block;
    }
    span.pistas{
      font-size: 12px;
    }
    span.telefono{
      font-size: 12px;
    }
    span.horario{
      font-size: 12px;
      display: block;
    }
    a{
      color: purple;
      font-weight: bold;
    }
</style>

<template>
  
    <div id="club-map">

    </div>

</template>

<script>
  export default {
    props: {
      'latitud': {
        type: Number,
        default: function(){
          return 40.407802
        }
      },
      'longitud': {
        type: Number,
        default: function(){
          return -3.623106
        }
      },
      'zoom': {
        type: Number,
        default: function(){
          return 5.5
        }
      }
    },

    data: ()=>({
		markers: [],
		infoWindows: [],
      
    }),
    computed:{
	  	clubs(){
	  		
	  		return this.$store.state.clubs;
	  	}
	},
	watch:{
		clubs(){

			this.clearMarkers();
			this.buildMarkers();
		}
	},
	mounted(){
		
        axios.get(`api/cmbClubs`).then((response) => {
			this.$store.commit('clubs', response.data);
		});
  
	
   	    this.map = new google.maps.Map(this.$el, {
        	center: {lat: this.latitud, lng: this.longitud},
        	zoom: this.zoom
      	});
      	this.clearMarkers();
		    this.buildMarkers();
    },
    methods:{
    	buildMarkers(){
			this.markers = [];

		  	for( let i = 0; i < this.clubs.length; i++ ){
		  		
		  		//creo todas las marcas de los clubs en el mapa
		  		let marker = new google.maps.Marker({
		      		position: { lat: parseFloat( this.clubs[i].latitud ), lng: parseFloat( this.clubs[i].longitud ) },
		      		map: this.map
		    	});

		    	this.markers.push( marker );

		    	//diseño la ventana para mostrar los datos
		    	let contentString = 
		    	`<div style="display: block">
		    	    <div style="color: red;text-align: center"><strong>${this.clubs[i].nombre}</strong></div>
                    <div style="font-size: 12px;">
                        <span style="display: block">${this.clubs[i].direccion}</span>
                        <span style="display: block">${this.clubs[i].pistas} pistas</span>
                        <span style="display: block">telf. ${this.clubs[i].telefono}</span>
                        <span style="display: block">horario: ${this.clubs[i].horario}</span>
						  <span class="text-center mt-4 d-block" style="color: purple;font-weight: bold"><a href="${this.clubs[i].web}">Visitar</a></span>
					</div>
                </div>`; 

		    	//creo ventana ade info en cada club
		  		let infoWindow = new google.maps.InfoWindow({
  					content: contentString
				});

				this.infoWindows.push( infoWindow );
				
				//agrego un listener a cada club para abrir sus detalles. 
				marker.addListener('click', function() {
				  infoWindow.open(this.map, this);
				});
		  }
		},
		clearMarkers(){
			for( let i = 0; i < this.markers.length; i++ ){
		    	this.markers[i].setMap( null );
		  	}
		},
    }
  }
</script>