<template>
	<div>
		<input type="text" v-model="newData.color" placeholder="color">
		<input type="text" v-model="newData.name" placeholder="name">
		<button @click="createButton">Create</button>
	</div>
</template>
<script>
	export default{
		data: ()=>({
			newData:{
				id: null,
				color: null,
				name: null,
			}
		}),
		methods:{
			createButton(){
				var vm = this;
				vm.$emit('data-recieve', vm.newData)
			}
		}
	}
</script>