<template>
	<div>
		<div v-if="isEdit">
			<input type="text" v-model="edit_.color">
			<input type="text" v-model="edit_.name">
			<button @click="update">Update</button>
			<button @click="isEdit=false">Close</button>
		</div>
		<div v-else>
			{{ crud.color }}
			{{ crud.name }}
			<button @click="deleteBtn">Delete</button>
			<button @click="editBtn">Edit</button>
		</div>
	</div>
</template>
<script>
	export default{
		props: ['crud'],
		data: ()=>({
			edit_: null,
			isEdit: false,
		}),
		mounted(){
			var vm = this;
			vm.edit_ = _.clone(vm.crud)
		},
		methods:{
			editBtn(){
				var vm = this;
				vm.isEdit = !vm.isEdit
			},
			update(){
				var vm = this;
				vm.$emit('update', vm.edit_);
				vm.isEdit = false;
			},
			deleteBtn(){
				var vm = this;
				vm.$emit('delete', vm.edit_.id);
			},
		}
	}
</script>