<template>
	<b-container fluid v-cloak>
		<h1 class="text-center display-4 my-4">Galería de imágenes «{{galeria}}»</h1>
		<b-row>
 			<b-col style="min-height: 100px">
				<router-link class="btn btn-primary float-right mb-3" :to="{name: 'galeria'}">Volver a listado de galerías</router-link>
 			</b-col>
 		</b-row>
 		<upload-component :page="pageUrl" :folder="galeria" @cargadas="getGaleria"></upload-component> 	
		<b-card-group>
			<b-row>
				<template v-for="item in items">
					<b-col sm="6" lg="4" class="d-flex align-items-stretch">
						<b-card img-top>
							<a @click="abrirImagen($event)" class="click">
								<b-card-img :src="item"></b-card-img>
							</a>
							<div class="trush"><b-button size="sm" variant="link" @click="deleteBtn(item)"><icon name="trash-o"></icon></b-button></div>
						</b-card>
					</b-col>
				</template>
			</b-row>
		</b-card-group>

		<!-- modal -->
		<component :is="modal" :imagen="imagen"></component>
	</b-container>
</template>

<script>
import Icon from 'vue-awesome/components/Icon';
import Formulario from './modalImagen.vue';
import EventBus from '../../helpers/event-bus.js';
import mUpload from './multipleUpload.vue';

export default{
	components: {
		'icon': Icon,
		'upload-component': mUpload,
	},
	data: ()=>({
		pageUrl: 'glrs',
		items: [],
		galeria: null,
		imagen: null,
		modal: null,
	}),
	created(){
   		/*this.$route.params.galeria == null? this.galeria = this.$store.state.galeria  :  (this.galeria = this.$route.params.galeria, this.$store.commit('galeria', this.$route.params.galeria));*/

   		this.$route.params.galeria == null? this.galeria = JSON.parse(localStorage.getItem('galeria'))  :  (this.galeria = this.$route.params.galeria, localStorage.setItem('galeria', JSON.stringify(this.$route.params.galeria)));
   		
	},
	mounted(){
		this.getGaleria();
    },
	watch:{
            
    },
    computed:{
        
    },
    methods:{
    	getGaleria(){
    		
    		axios.get(`${this.pageUrl}/${this.galeria}`).then(response =>{
		       this.items = response.data;
		    }, error => {
		        console.log(error.data);
		    })
    	},
    	deleteBtn(item){
    		let imagen = item.split('\\').pop();
    		let galeria = this.galeria;
			axios.delete(`${this.pageUrl}/${galeria}/${imagen}`).then((response) => {
				response.data.status == 'success' ? (this.getGaleria(), toastr.success(response.data.msg)): toastr.warning(response.data.msg);
      		}, (error) => {
        		console.error(error.response);
      		})
		},
       	abrirImagen(img){
	       	this.imagen = img.srcElement.src;
	       	this.modal = Formulario;
	       	EventBus.$emit('openModal','open');
       	}
    }
}
</script>

<style scoped>
	[class*="col-"] {
      padding: 1rem;
  	}
  	.trush{
  		position: absolute;
  		right: 0;
  		bottom: -8px;
  	}
</style>

