<template>
    
    <div class="modal-dialog text-center">
        <b-row>
            <b-col sm="9" lg="12" class="mr-auto px-0 main-section">
                <b-row class="modal-content">
                    <b-col cols="12" class="user-img">
                        <b-img src="../img/avatar/face.png" fluid rounded center />
                    </b-col>

                    <b-col cols="12">
                        <b-form class="form-horizontal">
                            <b-form-group class="mb-5 ico1">
                                <b-form-input type="email" ref="email" name="email" v-model="item.email" placeholder="Email" aria-describedby="emailFeedback" :state="emailState" @blur.native="validEmail" required></b-form-input>
                                <b-form-invalid-feedback id="emailFeedback">
                                    <span v-for="(error, key) in errores.email"> {{ error }} </span>
                                </b-form-invalid-feedback>
                                
                            </b-form-group>
                            <b-form-group class="mb-5 ico2">
                                <b-form-input type="password" name="password" id="password" v-model="item.password" placeholder="Password" @keydown.enter.native="enviar" required></b-form-input>
                                
                                    <span class="help-block">
                                      <strong></strong> 
                                    </span>
                              
                            </b-form-group>
                            <b-btn @click="enviar" variant="success" class="mb-2">Login</b-btn>
                        </b-form>
                    </b-col>
                    <b-col cols="12" class="forgot">
                        <b-link @click="recuperarPass">¿Recuperar contraseña?</b-link>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
    </div>

</template>

<script>
    import Icon from 'vue-awesome/components/Icon';
    import funciones from '../../helpers/funciones';
    

    export default{
        props:['recuperarpass','dashboard'],
        components: {
            'icon': Icon,
        },
        mixins: [funciones],
        mounted(){
            this.$refs.email.focus();
        },
        data: ()=>({
           item: {email: null, password: null},
           errores: [],
           error: null,
        }),
        watch:{
            'item.email'(value){
              
            }
        },
        computed:{
            emailState(){

                return this.error;
            }
        },
        methods:{

            validEmail() {
                const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if(this.item.email != null){
                    !re.test(this.item.email)? (this.error = false, this.errores.email = ["El campo email debe ser una dirección de correo válida."], this.$refs.email.focus()) : (this.error = true, this.errores.email = '');
                    return true;
                }
                
            },      
            enviar(){
                if(this.item.email != null && this.item.password != null && this.validEmail()){
                    console.log('ennra');
                    axios.post(`iniciarSesion`, this.item).then((response)=>{
                    this.item = {email: null, password: null},
                    this.error = null;
                    
                    window.location = 'dashboard'
                                      
                    }, (error) => {
                        this.error = false;
                        this.errores = error.response.data.errors;
                        console.log(error.response);
                    })

                }
                
                   
            },
            recuperarPass(){
                window.location = this.recuperarpass;
            }
        }
    }
</script>

<style scoped>
    .main-section{
        margin-top: 130px;
    }
    .modal-content{
        background-color: #434e5a;
        opacity: .8;
        padding: 0 18px;
        border-radius: 10px;
    }
    .user-img img{
        height: 120px;
        width: 120px;
    }
    .user-img{
        margin-top: -60px;
        margin-bottom: 45px;
    }
    .form-group input{
        font-size: 18px;
        letter-spacing: 2px;
        padding-left: 54px;
    }
    .ico1::before, .ico2::before{
        font-family: "Ionicons";
        content: "\f3d9";
        position: absolute;
        font-size: 22px;
        left: 28px;
        padding-top: 4px;
        color: #555e60;
    }
    .ico2::before{
        content: "\f1af";
    }
    .form-input button{
        width: 40%;
        margin: 5px 0 25px;
    }
    .btn-success{
        background-color: #1c6288;
        font-size: 19px;
        border-radius: 5px;
        padding: 7px 14px;
        border: 1px solid #daf1ff;
    }
    .btn-success:hover{
        background-color: #13445e;
        border: 1px solid #daf1ff;
    }
    .forgot{
        padding: 5px 0 25px;
    }
    .forgot a{
        color: #fff;
    }
    .invalid-feedback{
        color: #fff;
    }
</style>


<!--
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
</style>
</head>
<body>

<h2>Modal Login Form</h2>

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/action_page.php">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>
-->