<template>
    <b-container fluid>
        <b-row>
            <b-col sm="10" lg="4">
                <b-form-file placeholder="Haz click aquí para subir imágenes" @change="uploadMultipleImagen" id="items" multiple="multiple" accept="image/*"></b-form-file>
            </b-col>
            <b-col sm="2" lg="4" v-show="items.length > 0">
                <b-button variant="success" @click.prevent="enviar"><Icon name="cloud-upload"></Icon><span class="d-none d-sm-inline"> Upload</span></b-button>
            </b-col>
        </b-row>
        <b-row class="mt-4 d-flex flex-xl-nowrap flex-sm-wrap">
            <b-col v-if="items.length > 0" class="order-sm-1 order-lg-0" sm="12" lg="6">
                <b-form-group label="Subir imágenes a la galería">
                    <div class="table"  style="height: 19rem; overflow:auto">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Tamaño
                                    </th>
                                    <th width="100">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-cloak v-for="(item, index) in items">     
                                    <td @click.prevent="ver(item)" class="click">
                                        {{ item.name.split('.').slice(0,item.name.split('.').indexOf(item.name.split('.').pop())).join('.') }}
                                    </td>
                                    <td @click.prevent="ver(item)" class="click">
                                        {{ Number((item.size / 1024 / 1024).toFixed(1)) + 'MB' }}
                                    </td>
                                    <td align="right">
                                        <b-button variant="danger" @click.prevent="eliminar(item)"><Icon name="trash-o"></Icon><span class="d-none d-sm-inline"></span></b-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </b-form-group>
             </b-col>
             <b-col class="order-sm-0 order-lg-1" sm="12" lg="6">
                <b-img :src="imagen" style="max-height: 350px" center fluid rounded/>
            </b-col>
        </b-row>
    </b-container >
</template>
<script>
import Icon from 'vue-awesome/components/Icon';
import EventBus from '../../helpers/event-bus.js';
    export default {
        components: {
            Icon
        },
        props: [
            'page',
            'folder'
        ],
        data() {
            return {
                // You can store all your files here
                items: [],
                imagen: null,
                // Each file will need to be sent as FormData element
                data: new FormData(), 
                errors: {
                },
                percentCompleted: 0, // You can store upload progress 0-100 in value, and show it on the screen
            }
        },
        methods: {
            uploadMultipleImagen(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                for (let i = files.length - 1; i >= 0; i--) {
                    this.items.push(files[i]);
                }
                this.ver(this.items[0]);
                document.getElementById("items").value = [];
            },

            getImagenSize() {
                this.upload_size = 0; // Reset to beginningƒ
                this.items.map((item) => { this.upload_size += parseInt(item.size); });
                
                this.upload_size = Number((this.upload_size).toFixed(1));
                this.$forceUpdate();
            },
            ver(image){
                if (!image) return '';
                let reader = new FileReader();
                reader.readAsDataURL(image);
                reader.onload = e =>{
                    this.imagen = e.target.result;
                };
            },

            prepareFields() {
                
                if (this.items.length > 0) {
                    for (let i = 0; i < this.items.length; i++) {
                        let item = this.items[i];
                        this.data.append('items[]', item);
                    };
                    
                }

            },
            eliminar(item) {
                this.items.splice(this.items.indexOf(item), 1);
                this.items.length > 0? this.ver(this.items[0]) : this.imagen = null;
                this.getImagenSize();
            },

            enviar(){
                this.prepareFields();
                this.data.append('folder', this.folder);

                let config = {
                    headers: { 'Content-Type': 'multipart/form-data' } ,
                    onUploadProgress: function(progressEvent) {
                        this.percentCompleted = Math.round( (progressEvent.loaded * 100) / progressEvent.total );
                        this.$forceUpdate();
                    }.bind(this)
                };
                // Make HTTP request to store announcement
                axios.post(`${this.page}/subirImagenes`, this.data, config)
                .then(function (response) {
                    if (response.data.success) {
                        toastr.success(response.data.msg);
                        this.resetData();
                        this.$emit('cargadas');
                    } else {
                        this.errors = response.data.errors;
                    }
                }.bind(this)) // vincular el objeto Vue Component a esta función para que podamos manejarlo y llamar a sus otros métodos
                .catch(function (error) {
                    console.log(error);
                });
            },
            // We want to clear the FormData object on every upload so we can re-calculate new files again.
            // Keep in mind that we can delete files as well so in the future we will need to keep track of that as well
            resetData() {
                this.data = new FormData(); // Reset it completely
                this.items = [];
                this.imagen = null;
            },
            
        },
        
    }
</script>
<style>
    .custom-file-input:lang(es)~.custom-file-label::after {
        display: none;
        background-color: #007bff;
        border-color: #007bff;
        color: #fff;
        font-family: FontAwesome;
        content: '\f07c';
    }
    .custom-file-label{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }


</style>