<!--template>
  
  
    <b-form-textarea :id="id" :value="value"></b-form-textarea>
 

</template>

<script>
import {ckeditor}     from 'ckeditor/ckeditor.js' 
import {lang}         from 'ckeditor/lang/es.js'
import {moono}        from 'ckeditor/skins/moono-lisa/editor.css'
import {styles}       from 'ckeditor/styles.js'


import {styleDialog}  from 'ckeditor/skins/moono-lisa/dialog.css'
import {dialog_ie}  from 'ckeditor/skins/moono-lisa/dialog_ie.css'
import {dialog_ie8}  from 'ckeditor/skins/moono-lisa/dialog_ie8.css'
import {dialog_iequirks}  from 'ckeditor/skins/moono-lisa/dialog_iequirks.css'
import {editorDialog}  from 'ckeditor/skins/moono-lisa/editor.css'
//import {a}            from 'ckeditor/plugins/tableselection/styles/tableselection.css'

//ventanas modales de los botones js
import {linkdialog}   from 'ckeditor/plugins/link/dialogs/link.js'
//selector de color del texto
import {colordialog}   from 'ckeditor/plugins/colordialog/dialogs/colordialog.js'
import {colordialogcss}   from 'ckeditor/plugins/colordialog/dialogs/colordialog.css'
//tabla
import {table}          from 'ckeditor/plugins/table/dialogs/table.js'
//imagen
import {imagedialog}    from 'ckeditor/plugins/image/dialogs/image.js'
import {image2}    from 'ckeditor/plugins/image2/plugin.js'
import {easyimagealt}  from 'ckeditor/plugins/easyimage/dialogs/easyimagealt.js'
//import {imguploader}  from 'ckeditor/plugins/imguploader/dialogs/easyimagealt.js'
//ventanas modales de los botones css
import {button}       from 'ckeditor/plugins/forms/dialogs/button.js'
import {btbutton}       from 'ckeditor/plugins/btbutton/dialogs/btbutton.js'
//

//import {configjst}        from 'ckeditor/config.js?t=I3I8' 


//import {tableselection}        from 'ckeditor/plugins/tableselection/styles/tableselection.css'
//import {defaultcss}        from 'ckeditor/plugins/balloontoolbar/skins/default.css'
//import {balloontoolbar}        from 'ckeditor/plugins/balloontoolbar/skins/moono-lisa/balloontoolbar.css'
//import {copyformatting}        from 'ckeditor/plugins/copyformatting/styles/copyformatting.css'
//import {imagebase}        from 'ckeditor/plugins/imagebase/styles/imagebase.css'
//import {balloonpanel}        from 'ckeditor/balloonpanel/skins/moono-lisa/balloonpanel.css'
//import {easyimage}        from 'ckeditor/plugins/easyimage/styles/easyimage.css'
//import {contents}        from 'ckeditor/contents.css?t=I3I8'


CKEDITOR.editorConfig = function( config ) {
    //config.skin = 'bootstrapck';
    // Define changes to default configuration here. For example:
    config.language = 'es';
    //config.uiColor = '#AADC6E';
   config.toolbar = [
      { name: 'document', items: [ 'Source', '-', 'Save', 'NewPage', 'Preview', 'Print'] },
      { name: 'clipboard', items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
      { name: 'editing', items: ['Scayt' ] },
      { name: 'forms', items: ['Button', 'ImageButton'] },
      '/',
      { name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline', 'Strike','-', 'CopyFormatting', 'RemoveFormat' ] },
      { name: 'paragraph', items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' ] },
      { name: 'links', items: [ 'Link', 'Unlink'] },
      { name: 'insert', items: [ 'Image','Table', 'HorizontalRule', 'PageBreak' ] },
      '/',
      { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
      { name: 'colors', items: [ 'TextColor', 'BGColor' ] },
      { name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] },
      { name: 'about', items: [ 'About' ] }
      ];
      
      config.extraPlugins= 'print,format,font,colorbutton,justify,uploadimage',
      config.uploadUrl= '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files&responseType=json',

      // Configure your file manager integration. This example uses CKFinder 3 for PHP.
      config.filebrowserBrowseUrl = 'boton ver servidor',
      config.filebrowserImageBrowseUrl= '1',
      config.filebrowserUploadUrl= '2',
      config.filebrowserImageUploadUrl= '3',

      config.height= 300,

      config.removeDialogTabs= 'image:advanced;link:advanced'
};

  export default {
    props: {
      value: {
        type: String
      },
      id: {
        type: String,
        default: 'editor'
      },
      height: {
        type: String,
        default: '90px',
      },
      toolbar: {
        type: Array,
        default: () => [
          ['Undo','Redo'],
          ['Bold','Italic','Strike'],
          ['NumberedList','BulletedList'],
          ['Cut','Copy','Paste'],
          ['list','link'],
        ]
      },
      language: {
        type: String,
        default: 'es'
      },
      extraplugins: {
        type: String,
        default: '',
      }
    },
    data: ()=>({
      content: '',

    }),
    beforeUpdate () {
      /*const ckeditorId = this.id
      if (this.value !== CKEDITOR.instances[ckeditorId].getData()) {
        CKEDITOR.instances[ckeditorId].setData(this.value)
      }*/
    },
    mounted () {
      const ckeditorId = this.id
      //console.log(CKEDITOR.dialog.openDialog)
      CKEDITOR.replace(ckeditorId)
      /*CKEDITOR.instances[ckeditorId].setData(this.value)
      CKEDITOR.instances[ckeditorId].on('change', () => {
        let ckeditorData = CKEDITOR.instances[ckeditorId].getData()
        if (ckeditorData !== this.value) {
          this.$emit('input', ckeditorData)
        }
      })*/
    },
    destroyed () {
     /* const ckeditorId = this.id
      if (CKEDITOR.instances[ckeditorId]) {
        CKEDITOR.instances[ckeditorId].destroy()
      }*/
    }

  }
  
</script-->
