<template>
	<div>
		
	    <b-card-group deck class="mb-3">
	        <b-card bg-variant="primary" text-variant="white" header="Clubs" class="text-center" v-if="club_id == null">
	            <h2 class="card-text"> {{ clubs }} </h2>
	        </b-card>
	        <b-card bg-variant="warning" text-variant="white" header="Partidas" class="text-center">          
	        	<h2 class="card-text"> {{ partidas }} </h2>
	        </b-card>
	        <b-card bg-variant="success" text-variant="white" header="Socios" class="text-center">
	            <h2 class="card-text"> {{ socios }} </h2>
	        </b-card>
	        <b-card bg-variant="danger" text-variant="white" header="Hora caliente" class="text-center">
	            <h2 class="card-text"> {{ horaCaliente }}</h2>
	        </b-card>	
	    </b-card-group>
	    <b-card-group deck class="mb-3">
	        
	        <b-card header-bg-variant="info" text-variant="white" header="Top 5 Hora" class="text-center">
	            <!--h3 class="card-text text-left" v-for="(hora, key) in top5"> {{ key + 1 }}: {{ hora.label }} </h3-->
	            <chart :items="top5"></chart>
	        </b-card>
	        <b-card header-bg-variant="dark" text-variant="white" header="Top 5 Jugadores" class="text-center">
	           <!--h3 class="card-text text-left" style="color:red" v-for="(user, key) in top5jugadores"> {{ key + 1 }}: {{ user.label }} ({{ user.value }} partidas) </h3-->
	           <chart :items="top5jugadores"></chart>
	        </b-card>
	        <b-card header-bg-variant="secondary" text-variant="white" header="Top 5 Clubs" class="text-center" v-if="club_id == null">
	           <!--h3 class="card-text text-left" v-for="(club, key) in top5clubs"> {{ key + 1 }}: {{ club.label }} ({{ club.value }} partidas) </h3-->
	           <chart :items="top5clubs"></chart>
	        </b-card>
	    </b-card-group>
    

	</div>
</template>

<script>
import Icon from 'vue-awesome/components/Icon';
import webcam from './webCam2.vue';
import uploadfile from './uploadFile.vue';
import chart from './chart.vue';
import funciones from '../../helpers/funciones';

export default{
	props: {
	  	datos: {
	  		type: Object,
	  		default: () => []
	  	},
  	},
	components: {
		'icon': Icon,
		'chart': chart,
	},
	data: ()=>({
		club_id: null,
		socios: null,
		clubs: null,
		partidas: null,
		horaCaliente: null,
		top5: [],
		top5clubs: [],
		top5jugadores: [],
		
	}),
	watch:{
		
	},
	created(){
	},
	mounted(){
		this.club_id = Object.keys(this.datos).length == 2 ? this.datos.club[0].id : null;
		this.getDatos();
	},
	methods:{
		getDatos(){

			axios.get(`api/stats?club_id=${this.club_id}`).then(response => {
				this.socios = response.data.Nsocio;
				this.clubs = response.data.Nclubs;
				this.partidas = response.data.Npartidas;
				this.horaCaliente = response.data.top5hora[0].label;
				this.top5 = response.data.top5hora;
				this.top5clubs = response.data.top5clubs;
				this.top5jugadores = response.data.top5jugadores;
			}, (error) => {
        		console.log(error.response);
      		})
		}
	}


}

</script>