<template>
	<b-container fluid class="imagenContenedor">
		
		<b-img v-if="ver" :src="avatar" alt="" fluid rounded center max-width="300" max-height="300" />
		
		<b-form-file placeholder="Haz click aquí y selecciona una imágen" :state="stateImage" @change="GetImage" ref="uploadImage" accept="image/*"></b-form-file>

		<div v-if="cargado" class="text-md-right text-sm-center botonImagen">
			<b-button class="btn-success" @click.prevent="upload"><Icon name="cloud-upload"></Icon><span class="d-none d-sm-inline"> Upload</span></b-button>
			<b-button class="btn-danger" @click.prevent="cancelar"><Icon name="times"></Icon><span class="d-none d-sm-inline"> Cancelar</span></b-button>
		</div>

	</b-container>

</template>

<script>
import Icon from 'vue-awesome/components/Icon';
import EventBus from '../../helpers/event-bus.js';
export default{
	props: ['ver', 'direccion', 'botones'], 
	components: {
		Icon
	},
	data: ()=>({
		pageUrl: '',
		avatar: null, 
		file: null,
		cargado: false,
		img: null,
	
	}),
	created(){
		this.pageUrl = this.direccion;
		EventBus.$on('vaciar', (img) => (
			this.$refs.uploadImage.reset()
			)
		)
	},
	computed:{
		stateImage(){
			return this.file == null ? null : true;
		},	
	},
	methods:{
		GetImage(e){
			this.botones == true? this.cargado = true: this.cargado = false;
			let image = e.target.files[0];
			this.read(image);
			let form = new FormData();
			form.append('image', image);
			this.file = form;
		},
		upload(){
			if(this.validarImagen()){
				axios.post(this.pageUrl, this.file).then((response) => {
					response.data.status == 'success'? (toastr.success(response.data.msg),this.cancelar()): toastr.error(response.data.msg)
				})
			}else{
				toastr.warning("Formato de archivo inconrrecto");
			}		
		},
		read(image){
			if (!image) return '';
			let reader = new FileReader();
			reader.readAsDataURL(image);
			reader.onload = e =>{
				this.avatar = e.target.result;
				//this.$emit('img', this.avatar);
				this.$emit('imagen', {img: e.target.result, file: image});
			};
		},
		cancelar(){
			this.$refs.uploadImage.reset();
			this.avatar = null;
			this.file = null;
			this.cargado = false;
			this.$emit('imagen', {img: null, file: null});
		},
		validarImagen(){
			//this.avatar.split("/")[0].split(":")[1] 
			console.log();
			return this.avatar.match("image") ? true: false;
		},
	}

}	
</script>

<style>
	.imagenContenedor{
		max-width: 600px;
	}
	.botonImagen{
		padding-top: 1%;
	}
	.custom-file-input:lang(es)~.custom-file-label::after {
		display: none;
		background-color: #007bff;
		border-color: #007bff;
		color: #fff;
		font-family: FontAwesome;
    	content: '\f07c';
	}
	.custom-file-label{
		text-overflow: ellipsis;
		white-space: nowrap;
	  	overflow: hidden;
	}


</style>