<!-- 
import video from '../extras/video-bg.vue';
<video-bg :sources="['http://thenewcode.com/assets/videos/polina.mp4']" img=""></video-bg>

-->
<template>
  <section class="VideoBg">
    <video autoplay loop muted ref="video">
      <source v-for="source in sources" :src="source" :type="getMediaType(source)">
    </video>
    <div class="VideoBg__content">
      <slot></slot>
    </div>
  </section>
</template>

<script>
	export default {
		props: {
    		sources: {
      			type: Array,
      			required: true
    		},
	    	img: {
	     	 	type: String
	    	}
  		},
  		data: ()=>({

  			videoRatio: null
    		
  		}),

  		mounted () {
		    this.setImageUrl()
		    this.setContainerHeight()
		    
		    if (this.videoCanPlay()) {
		      this.$refs.video.oncanplay = () => {
		        if (!this.$refs.video) return
		        
		        this.videoRatio = this.$refs.video.videoWidth / this.$refs.video.videoHeight
		        this.setVideoSize()
		        this.$refs.video.style.visibility = 'visible'
		      }
		    }
		    
		    window.addEventListener('resize', this.resize)
		},

		beforeDestroy () {
    		window.removeEventListener('resize', this.resize)
  		},

  		methods: {
    resize () {
      this.setContainerHeight()
      
      if (this.videoCanPlay()) {
        this.setVideoSize()
      }
    },
    
    videoCanPlay () {
      return !!this.$refs.video.canPlayType
    },
    
    setImageUrl () {
      if (this.img) { //si tenemos imagen
        this.$el.style.backgroundImage = `url(${this.img})`
      }
    },
    
    setContainerHeight () {
      this.$el.style.height = `${window.innerHeight}px` //establecemos el tamaño del contenedor del video
    },
    
    setVideoSize () {
      let width, height, containerRatio = this.$el.offsetWidth / this.$el.offsetHeight
      
      if (containerRatio > this.videoRatio) {
        width = this.$el.offsetWidth
      } else {
        height = this.$el.offsetHeight
      }
      
      this.$refs.video.style.width = width ? `${width}px` : 'auto'
      this.$refs.video.style.height = height ? `${height}px` : 'auto'
    },
    
    getMediaType (src) {
      return 'video/' + src.split('.').pop()
    }
  }

}

</script>

<style scoped>
	.VideoBg {
	  max-height: 400px;
	}

	.VideoBg__content {
	  text-align: center;
	  background-color: rgba(52, 72, 92, 0.7);
	}

	* {
	  margin: 0;
	}

	img {
	  width: 200px;
	  margin-top: 120px;
	}

	h1, h4 {
	  cursor: default;
	}

	a {
	  text-decoration: none
	}

	h1 {
	  margin: 40px 0;
	  font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', sans-serif;
	  font-weight: 300;
	  font-size: 4em;
	  color: #ebebeb;
	}

	h4, a {
	  font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
	  font-weight: 400;
	  font-size: 15px;
	  color: #7f8c8d;
	}
	.VideoBg {
	  position: relative;
	  background-size: cover;
	  background-position: center;
	  overflow: hidden;
	}
	.VideoBg video {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  visibility: hidden;
	  transform: translate(-50%, -50%);
	}
	.VideoBg__content {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}
</style>