<template>
	<tr>
		<template v-if="isEdit">
			<td>
				<b-form-input type="text" v-model.trim="edit_.nombre" aria-describedby="nombreFeedback":state="nameState"  @keydown.enter.native="update" required></b-form-input>
				<b-form-invalid-feedback id="nombreFeedback">
				  {{ errores.nombre }}
				</b-form-invalid-feedback>
			</td>
			<td>
				<b-button-group>
	              <b-btn variant="success" @click="update"><icon name="check"></icon></b-btn>
	              <b-btn variant="danger" @click="cancelar"><icon name="close"></icon></b-btn>
	            </b-button-group>
			</td>
		</template>
		<template v-else>
			
	           <td>{{item.nombre}}</td>
	           <td>
		            <b-button-group>
		              <b-btn variant="success" @click="editBtn"><icon name="pencil"></icon></b-btn>
		              <b-btn variant="danger" @click="deleteBtn"><icon name="trash-o"></icon></b-btn>
		            </b-button-group>
	          </td>
			
		</template>
	</tr>
</template>
<script>
	import Icon from 'vue-awesome/components/Icon'
	export default{
		components: {
		   
		    'icon': Icon,
		  
		},
		props: ['item'],
		data: ()=>({
			edit_: null,
			isEdit: false,
			errores:  {
				nombre: '',
			},
		}),
		mounted(){
			this.edit_ = _.clone(this.item)
		},
		computed: {
			nameState () {
        		return this.validarNombre();
		    },
		},
		methods:{
			validarNombre(){
				if( this.edit_.nombre != null){
					if (this.edit_.nombre.trim() == ''){
			          this.errores.nombre = "No puede estar vacio";
			          return false
			        }	
				}
					        
		        return this.edit_.nombre == null? null: true;  
			},
			cancelar(){
		        this.isEdit = false;
		        this.edit_ = _.clone(this.item);
		    },
			editBtn(){
				this.isEdit = !this.isEdit
			},
			update(){
				this.edit_.slug = Slug(this.edit_.nombre);
				if(this.validarNombre()){
					this.$emit('update', this.edit_);
					this.isEdit = false;
				}
			},
			deleteBtn(){
				this.$emit('delete', this.edit_);
			},
		}
	}
</script>