<template> 

  <b-modal v-model="modalShow" hide-footer :title="titulo" centered>
    <template v-if="formulario == 1">
      <b-form-group>  
        <b-form-input type="text" placeholder="Pista" aria-describedby="nombreFeedback" v-model.trim="item.nombre" :state="nameState" required></b-form-input>
        <b-form-invalid-feedback id="nombreFeedback">
          {{ errores.nombre }}
        </b-form-invalid-feedback>
      </b-form-group>
    </template>
    <div class="float-right">
      <template v-if="formulario == 1"><b-btn class="mt-3" variant="outline-primary" @click="crear">Guardar</b-btn></template>
      <template v-if="formulario == 2"><b-btn class="mt-3" variant="outline-danger" @click="eliminar">Eliminar</b-btn></template>
      <b-btn class="mt-3" variant="outline-primary" @click="cerrar">Cancelar</b-btn>
    </div>
  </b-modal>
  
</template>

<script>

import EventBus from '../../helpers/event-bus.js' 

export default {

  props:['select', 'formulario'],
  mounted(){
    this.abrir();

  },
  data: ()=>({

    item: {nombre: 'Pista ', slug: ''},
    errores:  {
      nombre: null,
    },
    titulo:"",
    modalShow: true,
      
  }),
  computed: {
    nameState () {
      return this.validarNombre();
    },
  },  
  created(){
    EventBus.$on('openModal', (modal) => (//dejo un canal de comunicacion abierto con el padre
        modal=='open'?this.abrir():this.cerrar(), //evaluo los datos que me envia el padre.
        this.titulo = ''
      )
    ); 
  },
  methods: {
    validarFloat(numero){
      const patron = /[.,]/;
      return patron.test(numero);
    },
    validarNombre(){
      if( this.item.nombre != null){
        if (this.item.nombre.trim() == ''){
          this.errores.nombre = "No puede estar vacio";
          return false
        }
        if(this.item.nombre.substring(0,5) != "Pista" && this.item.nombre.substring(0,5) != "pista"){
          this.errores.nombre = "Debe comenzar con la palabra Pista";
          return false
        }

        if(this.validarFloat(this.item.nombre.split(' ')[1])){
          this.errores.nombre = "Debe ser un número entero";
          return false
        }

      }
                
      return this.item.nombre == null? null: true;  
    },

    cabeceraModal(){
      this.titulo = "";
      switch(this.formulario){
        case 1:
        this.titulo= 'Crear Pista';
        break;
        case 2:
        this.titulo= 'Eliminar «' + this.select.nombre + '»';
        break;
      }
    },
    crear(){
      this.item.slug = this.$refs.slug.value;
      this.item.nombre != null? this.item.nombre = this.item.nombre.charAt(0).toUpperCase() + this.item.nombre.slice(1).toLowerCase(): this.item.nombre = '';
      
      if(this.validarNombre()){
        this.$emit('accion',{accion: 'crear', objeto: this.item}); //envio al padre la accion y el elemento.
      }
    },
    eliminar(){
      this.$emit('accion',{accion: 'eliminar', objeto: this.select}); //envio al padre la accion y el elemento.
    },
    
    abrir(){
      this.cabeceraModal();
      this.modalShow = true;
    },
    cerrar(){
      this.item = {nombre: 'Pista ', slug: ''};
      this.modalShow = false;
    },
    
  }
}
</script>