<template>
  <div>
    <div class="text-center"><h2>Partidas</h2></div>
      <div class="text-center">
        <span class="flecha d-inline-block" @click="cambio('+1')">&laquo;</span>
        
        <h5 class="form-control-static d-inline-block">
            <template v-if="vista == 'semana'">Del {{primerDia | capitalize}} al {{ultimoDia | capitalize}}</template>
            <template v-if="vista == 'agenda'">{{primerDia | capitalize}}</template>
        </h5>
        
        <span class="flecha d-inline-block" @click="cambio('-1')">&raquo;</span>
      </div>      
      
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <td colspan="8">
              <b-row>
                <b-col sm="12" lg="6">

                  <b-input-group>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <icon name="search"></icon>
                      </span>
                    </div>
                    <b-form-input type="text" v-model="busqueda" placeholder="Buscar..."></b-form-input>

                    <b-input-group-append>
                      <b-button variant="primary" @click.prevent="resetBusqueda">
                        <icon name="refresh"></icon>
                      </b-button>
                    </b-input-group-append>
                  </b-input-group>
                  
                </b-col> 
                <b-col sm="12" lg="5">
                  <b-button @click="seleccionado('crear')" variant="primary" class="float-right">
                    <icon name="plus"></icon>
                  </b-button>
                </b-col>
              </b-row>
            </td>    
          </tr>
          <tr>
            <th class="filter" :class="[ sortBy == 'clubs.nombre' ? 'active' : '']"   @click="ordenar('clubs.nombre')" width="250"><icon :name="icoClub"></icon>  Club</th>
            <th class="filter" :class="[ sortBy == 'poblaciones.nombre' ? 'active' : '']"   @click="ordenar('poblaciones.nombre')" width="250"><icon :name="icoPoblacion"></icon>  Poblacion</th>
            <th class="filter" :class="[ sortBy == 'provincias.nombre' ? 'active' : '']"   @click="ordenar('provincias.nombre')" width="250"><icon :name="icoProvincia"></icon>  Provincia</th>
            <th class="filter" :class="[ sortBy == 'pistas.nombre' ? 'active' : '']"   @click="ordenar('pistas.nombre')" width="250"><icon :name="icoPista"></icon>  Pista</th>
            <th class="filter" :class="[ sortBy == 'users.nick' ? 'active' : '']"   @click="ordenar('users.nick')" width="250"><icon :name="icoUser"></icon>  Usuario</th>
            <th class="filter" :class="[ sortBy == 'inicio_alquiler' ? 'active' : '']"   @click="ordenar('inicio_alquiler')" width="250"><icon :name="icoInicio"></icon>  Inicio Partida</th>
            <th class="filter" :class="[ sortBy == 'fin_alquiler' ? 'active' : '']"   @click="ordenar('fin_alquiler')" width="250"><icon :name="icoFin"></icon>  Fin Partida</th>
            <th width="200">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr align="center" v-show="cargando"><td colspan="3"><icon name="refresh" scale="5" spin></icon></td></tr>
          <tr v-for="(item, index) in filtro">
            <td>{{item.club}}</td>
            <td>{{item.poblacion}}</td>
            <td>{{item.provincia}}</td>
            <td>{{item.pista}}</td>
            <td>{{item.nick}}</td>
            <td>{{item.inicio_alquiler  | formatearHora }}</br>{{item.inicio_alquiler  | formatearFecha }} </td>
            <td>{{item.fin_alquiler  | formatearHora }}</br>{{item.fin_alquiler  | formatearFecha }} </td>
            <td>
            <div class="btn-group" role="group" >
              <button class="btn btn-info btn-xs" @click="seleccionado('ver', item)"><icon name="eye"></icon></app-fa></button>
              <button class="btn btn-success btn-xs" @click="seleccionado('editar', item)"><icon name="pencil"></icon></button>
              <button class="btn btn-danger btn-xs" @click="seleccionado('eliminar', item)"><icon name="trash-o"></icon></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <Paginate :pagination="pagination" @pagina="getItems"></Paginate>
    <component :is="modal" @accion="acciones" :formulario="formulario" :select="select.id" :key="select.id"></component>
  </div>
</div>
</template>

<script>

import Formulario from './FormPartidas.vue'
import EventBus from '../event-bus.js'
import Icon from 'vue-awesome/components/Icon'
import Paginate from '../layouts/paginate.vue'
var moment = require('moment');
moment.locale('es');

export default {

  components: {
    'app-form' : Formulario,
    'icon': Icon,
    Paginate
  },
  data: ()=>({

    pageUrl: 'ptds',
    items: [],
    pagination: [], 
    cargando: false,
    busqueda: '',
    sortBy: 'inicio_alquiler',
    orden: 'DESC',
    Sclub:'DESC',
    Spoblacion: 'DESC',
    Sprovincia:'DESC',
    Spista: 'DESC',
    Suser: 'DESC',
    Sinicio: 'ASC',
    Sfin: 'DESC',
    modal:'',
    select:[],
    formulario:'',
    //semana
    primerDia: '',
    ultimoDia:'',
    contador : 0,
    vista: 'agenda',
    partidasSemana: '',
      
  }),

  watch:{
    busqueda(item){
      (item.length > 3 || !isNaN(parseInt(item)) || item == '')? this.getItems(): '';
    }
  },

  created: function() {
    this.primerDia = moment().startOf('week').format('dddd') + " " + moment().startOf('week').format('DD') + " de " + moment().startOf('week').format('MMMM');
    this.ultimoDia = moment().endOf('week').format('dddd') + " " + moment().endOf('week').format('DD') + " de " + moment().endOf('week').format('MMMM');
    //this.primerDia = moment().format('dddd') + " " + moment().format('DD') + " de " + moment().format('MMMM');
    //this.partidasSemana = moment().subtract(this.contador, 'day').format('YYYY-MM-DD') + 'semana';
    this.partidasSemana = moment().startOf('week').format('YYYY-MM-DD') + 'agenda';
    console.log(this.partidasSemana);
    this.getItems();
  },
  computed: {
    filtro: function(){ 
      if(this.items.length) {
        return this.items;
      }
    },
    icoClub(){
      if(this.sortBy != 'clubs.nombre' || (this.sortBy == 'clubs.nombre' && this.orden == '')){
        return 'sort';
      }
      return (this.sortBy == 'clubs.nombre' && this.orden == 'ASC') ? 'sort-down': 'sort-up';
    },

    icoPoblacion(){
      if(this.sortBy != 'poblaciones.nombre' || (this.sortBy == 'poblaciones.nombre' && this.orden == '')){
        return 'sort';
      }
      return (this.sortBy == 'poblaciones.nombre' && this.orden == 'ASC') ? 'sort-down': 'sort-up';
    },

    icoProvincia(){
      if(this.sortBy != 'provincias.nombre' || (this.sortBy == 'provincias.nombre' && this.orden == '')){
        return 'sort';
      }
      return (this.sortBy == 'provincias.nombre' && this.orden == 'ASC') ? 'sort-down': 'sort-up';
    },

    icoPista(){
      if(this.sortBy != 'pistas.nombre' || (this.sortBy == 'pistas.nombre' && this.orden == '')){
        return 'sort';
      }
      return (this.sortBy == 'pistas.nombre' && this.orden == 'ASC') ? 'sort-down': 'sort-up';
    },

    icoUser(){
      if(this.sortBy != 'users.nick' || (this.sortBy == 'users.nick' && this.orden == '')){
        return 'sort';
      }
      return (this.sortBy == 'users.nick' && this.orden == 'ASC') ? 'sort-down': 'sort-up';
    },

    icoInicio(){
      if(this.sortBy != 'inicio_alquiler' || (this.sortBy == 'inicio_alquiler' && this.orden == '')){
        return 'sort';
      }
      return (this.sortBy == 'inicio_alquiler' && this.orden == 'ASC') ? 'sort-down': 'sort-up';
    },

    icoFin(){
      if(this.sortBy != 'fin_alquiler' || (this.sortBy == 'fin_alquiler' && this.orden == '')){
        return 'sort';
      }
      return (this.sortBy == 'fin_alquiler' && this.orden == 'ASC') ? 'sort-down': 'sort-up';
    },
  },
  methods:{
    cambio(cambio){
      if(this.vista == 'semana'){
        this.contador = (parseInt(cambio) * 7) + this.contador;
        this.partidasSemana = moment().startOf('week').subtract(this.contador, 'day').format('YYYY-MM-DD') + 'semana';
     
        this.primerDia = moment().startOf('week').subtract(this.contador, 'day').format('dddd') + " " + moment().startOf('week').subtract(this.contador, 'day').format('DD') + " de " + moment().startOf('week').subtract(this.contador, 'day').format('MMMM');

        this.ultimoDia = moment().endOf('week').subtract(this.contador, 'day').format('dddd') + " " + moment().endOf('week').subtract(this.contador, 'day').format('DD') + " de " + moment().endOf('week').subtract(this.contador, 'day').format('MMMM');
      };
      if(this.vista == 'agenda'){
        this.contador = parseInt(cambio) + this.contador;
        this.partidasSemana = moment().subtract(this.contador, 'day').format('YYYY-MM-DD') + 'agenda';
        this.primerDia = moment().subtract(this.contador, 'day').format('dddd') + " " + moment().subtract(this.contador, 'day').format('DD') + " de " + moment().subtract(this.contador, 'day').format('MMMM');
      }
          

      this.getItems();
    }
    ,
    ordenar(columna){
        switch(columna){
        case 'clubs.nombre':
          this.Sclub == 'ASC' ? this.Sclub = 'DESC': this.Sclub = 'ASC';
          break;
        case 'poblaciones.nombre':
          this.Spoblacion == 'ASC' ? this.Spoblacion = 'DESC': this.Spoblacion = 'ASC';
          break;
        case 'provincias.nombre':
          this.Sprovincia == 'ASC' ? this.Sprovincia = 'DESC': this.Sprovincia = 'ASC';
          break;
        case 'pistas.nombre':
          this.Spista == 'ASC' ? this.Spista = 'DESC': this.Spista = 'ASC';
          break;
        case 'users.nick':
          this.Suser == 'ASC' ? this.Suser = 'DESC': this.Suser = 'ASC';
          break;
        case 'inicio_alquiler':
          this.Sinicio == 'ASC' ? this.Sinicio = 'DESC': this.Sinicio = 'ASC';
          break;
        case 'fin_alquiler':
          this.Sfin == 'ASC' ? this.Sfin = 'DESC': this.Sfin = 'ASC';
          break;
          
       } 
            
      this.sortBy = columna;
      this.getItems();
    },

    seleccionado(action, data = []){
      this.formulario = '';
      this.select = data;
      this.modal = 'app-form';
      switch(action){
        case 'crear':
        this.formulario = 1;
        break;
        case 'editar':
        this.formulario = 2;
        break;
        case 'eliminar':
        this.formulario = 3;
        break;
        case 'ver':
        this.formulario = 4;
        break;  
        
      }

      EventBus.$emit('openModal','open'); //mando abrir el modal al seleccionar un elemento
      

    },
    getItems(page){
      this.cargando = true;
      if(this.sortBy == 'clubs.nombre'){ this.orden = this.Sclub};
      if(this.sortBy == 'poblaciones.nombre'){ this.orden = this.Spoblacion};
      if(this.sortBy == 'provincias.nombre'){ this.orden = this.Sprovincia};
      if(this.sortBy == 'pistas.nombre'){ this.orden = this.Spista};
      if(this.sortBy == 'users.nick'){ this.orden = this.Suser};
      if(this.sortBy == 'inicio_alquiler'){ this.orden = this.Sinicio};
      if(this.sortBy == 'fin_alquiler'){ this.orden = this.Sfin};

      axios.get(`${this.pageUrl}?page=${page}&busqueda=${this.busqueda}&sortBy=${this.sortBy}&orden=${this.orden}&semana=${this.partidasSemana}`).then((response)=>{
        console.log(response.data.items);
        this.items = response.data.items.data;
        this.pagination = response.data.pagination;
      }, (error) => {
        console.log(error.response);
      })
      this.cargando = false;
    },
    resetBusqueda(){
      this.busqueda = '';
      this.getItems();
    },
    acciones(item){
      switch(item.accion){
        case 'crear':
        this.crear(item.objeto);
        break;
        case 'editar':
        this.actualizar(item.objeto);
        break;
        case 'eliminar':
        this.eliminar(item.objeto);
        break;
      };

      

    },

    crear(nuevo){
      axios.post(this.pageUrl, nuevo).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);

      }, (error) => {
        console.log(error.response);
      })
    },

    eliminar(eliminarId){
      axios.delete(this.pageUrl + "/" + eliminarId.id).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);
      }, (error) => {
        console.error(error.response);
      })
    },
    actualizar(actualizar){
      axios.patch(this.pageUrl + '/' + actualizar.id, actualizar).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);
      }, (error) => {
        console.log(error.response);
      })
    },
    
  }
  
}
</script>

<style>

  .active{
    color: #fff;
    background: #0275d8;
  }
  .filter{
    cursor: url("/image/puntero.png"), pointer;
  }
  .flecha{
    font-size: 30px;
    cursor: pointer;
    color: #0275d8;
    padding: 0 15px;
  }

</style>