<template>
	<b-row>
		<b-col>
			<div class="text-center">
				<h2>Clases</h2>
			</div>
			<b-row>
				<b-col md="2">
					<b-form-group label="Filas">
						<b-form-input type="number" v-model.number="clases.filas"></b-form-input>
					</b-form-group>
				</b-col>
				<b-col md="2">
					<b-form-group label="Columnas">
						<b-form-input type="number" v-model.number="clases.columnas"></b-form-input>
					</b-form-group>
				</b-col>
				<b-col md="8">
					<template v-if="activar">
						<b-button class="float-right" variant="outline-primary" @click="crearClase" >Guardar</b-button>
					</template>
					<template v-else>
						<b-button class="float-right" variant="outline-primary" @click="updateClase">Actualizar</b-button>
					</template>
				</b-col>
			</b-row>
			<table class="table table-hover">
		        <thead class="thead-light">
		        	 <tr>
			            <th v-for="i in clases.columnas">
			              <b-form-input type="text" v-model="itemsClase.cabeceras[(i-1)]"> </b-form-input>
			            </th>
			            <th width="200">&nbsp;</th>
			        </tr>
		        </thead>
		        <tbody>
		          <tr align="center" v-show="cargando"><td colspan="8"><icon name="refresh" scale="5" spin></icon></td></tr>
		          <template v-if="itemsClase.cuerpo.length">
		          	<tr v-for="i in clases.filas">
						<td v-for="n in clases.columnas">
							<b-form-input type="text" v-model="itemsClase.cuerpo[(i-1)][(n-1)]"></b-form-input>
						</td>
						<td>
							<b-btn variant="danger" @click="deleteBtn('clases',(i-1))"><icon name="trash"></icon></b-btn>
					    </td>
					</tr>
		          </template>
		      	</tbody>
		    </table>
		</b-col>
		<b-col>
			<div class="text-center">
				<h2>Equipo Competición</h2>
			</div>
			<b-row>
				<b-col md="2">
					<b-form-group label="Filas">
						<b-form-input type="number" v-model.number="competicion.filas"></b-form-input>
					</b-form-group>
				</b-col>
				<b-col md="2">
					<b-form-group label="Columnas">
						<b-form-input type="number" v-model.number="competicion.columnas"></b-form-input>
					</b-form-group>
				</b-col>
				<b-col md="8">
					<template v-if="activar">
						<b-button class="float-right" variant="outline-primary" @click="crearCompeticion" >Guardar</b-button>
					</template>
					<template v-else>
						<b-button class="float-right" variant="outline-primary" @click="updateCompeticion">Actualizar</b-button>
					</template>
				</b-col>
			</b-row>
			<table class="table table-hover">
		        <thead class="thead-light">
		        	 <tr>
			            <th v-for="i in competicion.columnas">
			              <b-form-input type="text" v-model="itemsCompeticion.cabeceras[(i-1)]"> </b-form-input>
			            </th>
			            <th width="200">&nbsp;</th>
			        </tr>
		        </thead>
		        <tbody>
		          <tr align="center" v-show="cargando"><td colspan="8"><icon name="refresh" scale="5" spin></icon></td></tr>
		          <template v-if="itemsCompeticion.cuerpo.length">
		          	<tr v-for="i in competicion.filas">
						<td v-for="n in competicion.columnas">
							<b-form-input type="text" v-model="itemsCompeticion.cuerpo[(i-1)][(n-1)]"></b-form-input>
						</td>
						<td>
							<b-btn variant="danger"  @click="deleteBtn('competicion',(i-1))"><icon name="trash"></icon></b-btn>
					    </td>
					</tr>
		          </template>
		      	</tbody>
		    </table>
		</b-col>
    </b-row>
</template>
<script>
	import Icon from 'vue-awesome/components/Icon';
	import validaciones from '../../../helpers/validaciones';
	import crud from './EditClase.vue';

	export default{
		components: {
		   'icon': Icon,
		   'crud-component': crud,
		},
		props: ['item'],
		mixins: [validaciones],
  		origen:'editar',
		data: ()=>({
			//items : [],
			pageUrl: 'cls',
			itemsClase: {cabeceras: {0: '', 1: '1 HORA', 2: '1 HORA Y MEDIA'}, cuerpo:[]},
			itemsCompeticion: {cabeceras: {0: '', 1: '', 2: ''}, cuerpo:[]},
			competicion : {filas: 4, columnas: 3},
			clases : {filas: 3, columnas: 3},
			edit_: null,
			activar: true,


			isEdit: false,
			errores:  [],
			erroresServidor: [],
			cargando: true,
		}),
		mounted(){
			this.getItems();
			this.filas();
		},
		watch:{
			'clases.filas'(newValue, oldValue){
				this.cambioFilas(newValue, oldValue,'clases');
			},
			'clases.columnas'(newValue, oldValue){
				this.cambioColumnas(newValue, oldValue,'clases');
			},
			'competicion.filas'(newValue, oldValue){
				this.cambioFilas(newValue, oldValue,'competicion');
			},
			'competicion.columnas'(newValue, oldValue){
				this.cambioColumnas(newValue, oldValue,'competicion');
			}
		},
		computed: {
			nameState () {
        		return this.validarNombre();
		    },
		    filtro(){ 
		      if(this.itemsClase.length) {
		      	this.activar = false;
		      	return this.itemsClase;
		      }
		    },
		},
		methods:{
			getItems(){
				
			    this.cargando = true;
			    axios.get(this.pageUrl).then((response)=>{
			    	if(response.data.length){
			    		this.activar = false;
			    		this.itemsClase = JSON.parse(response.data[0].clases)
			    	}
			    }, (error) => {
			        console.log(error.response);
			    })
			      this.cargando = false;
			},
			filas(){
				for(let i = 0; i < this.clases.filas; i++){
					this.itemsClase.cuerpo[i] = [];
				};

				for(let i = 0; i < this.competicion.filas; i++){
					this.itemsCompeticion.cuerpo[i] = [];
				}
				this.columnas();
			},
			cambioFilas(newValue, oldValue, origen){
				if(newValue < oldValue){
					origen == 'clases' ? this.itemsClase.cuerpo.slice(newValue,oldValue) : this.itemsCompeticion.cuerpo.slice(newValue,oldValue);
				};
				if(newValue > oldValue){
					this.itemsClase.cuerpo.push([])
				};
				if(newValue == 0 || oldValue == 0){
					origen == 'clases' ? this.clases.filas = 1 : this.competicion.filas = 1;
					origen == 'clases' ? this.itemsClase.cuerpo.push('') : this.itemsCompeticion.cuerpo.push('')
				}
				
			},
			cambioColumnas(newValue, oldValue, origen){
				let filas = origen == 'clases' ? this.clases.filas : this.competicion.filas;
				if(newValue < oldValue){
					for(let i = 0; i < filas; i++){
						for(let n = oldValue; n < newValue; n++){
							origen == 'clases' ? this.itemsClase.cuerpo[i][n] = [] : this.itemsCompeticion.cuerpo[i][n] = [];
						}
					}
				};
				if(newValue > oldValue){
					for(let i = 0; i < filas; i++){
						for(let n = oldValue; n < newValue; n++){
							origen == 'clases' ? this.itemsClase.cuerpo[i][n] = [] : this.itemsCompeticion.cuerpo[i][n] = [];
						}
					}
				}
				
			},
			columnas(){
				for(let i = 0; i < this.clases.filas; i++){
					for(let n = 0; n < this.clases.columnas; n++){
						this.itemsClase.cuerpo[i][n] = '';
					}
				}
				for(let i = 0; i < this.columnas.filas; i++){
					for(let n = 0; n < this.columnas.columnas; n++){
						this.itemsColumnas.cuerpo[i][n] = '';
					}
				}
			},
			crearClase(){
				let filas = this.clases.filas;
				let columnas = this.clases.columnas;
				let item = this.itemsClase.cuerpo;
				let cont = 0;
				let tablaTemp = [];
				let tabla = [];

				for(let i = 0; i < filas; i++){
					cont = 0;
					let tablaTemp = [];
					for(let n = 0; n < columnas; n++){
						if(item[i][n] == '' || item[i][n] == null){
							cont++;
						}

						tablaTemp.push(item[i][n]);
						
					}
					if(cont != columnas){
						tabla.push(tablaTemp);
					}
				}

				this.itemsClase.cuerpo = tabla;
				
				this.clases.filas = this.itemsClase.cuerpo.length;
				

				let form = {'tabla': JSON.stringify(this.itemsClase)};

				
				/*axios.post(this.pageUrl, form).then((response) => {
					this.errores = [];
					console.log(response.data);
					response.data.status == 'success' ? toastr.success(response.data.msg): toastr.warning(response.data.msg);

				}, (error) => {
					console.log(error.response);
					let errores = error.response.data.errors;
					this.erroresServidor = [];
					this.errores = [];

					for (let key in errores){
						this.erroresServidor.push(key);
						this.errores[key] = errores[key][0];
						toastr.warning(errores[key][0]);
					}
				});*/

			},
			updateClase(actualizar){
				console.log(actualizar)
			},
			crearCompeticion(){
				let filas = this.competicion.filas;
				let columnas = this.competicion.columnas;
				let item = this.itemsCompeticion.cuerpo;
				let cont = 0;
				let tablaTemp = [];
				let tabla = [];

				for(let i = 0; i < filas; i++){
					cont = 0;
					let tablaTemp = [];
					for(let n = 0; n < columnas; n++){
						if(item[i][n] == '' || item[i][n] == null){
							cont++;
						}

						tablaTemp.push(item[i][n]);
						
					}
					if(cont != columnas){
						tabla.push(tablaTemp);
					}
				}

				this.itemsCompeticion.cuerpo = tabla;
				
				this.competicion.filas = this.itemsCompeticion.cuerpo.length;
				

				let form = {'tabla': JSON.stringify(this.itemsCompeticion)};

				
				/*axios.post(this.pageUrl, form).then((response) => {
					this.errores = [];
					console.log(response.data);
					response.data.status == 'success' ? toastr.success(response.data.msg): toastr.warning(response.data.msg);

				}, (error) => {
					console.log(error.response);
					let errores = error.response.data.errors;
					this.erroresServidor = [];
					this.errores = [];

					for (let key in errores){
						this.erroresServidor.push(key);
						this.errores[key] = errores[key][0];
						toastr.warning(errores[key][0]);
					}
				});*/

			},
			updateCompeticion(actualizar){
				console.log(actualizar)
			},
			validar(){
		        if(this.validarNombre()){
		          return true;
		        }else{
		          return false;
		        }
		    },
			cancelar(){
		        this.isEdit = false;
		        this.edit_ = _.clone(this.itemsClase);
		    },
			editBtn(){
				this.isEdit = !this.isEdit
			},
			actualizar(actualizar){
    			console.log(actualizar)
		    },
			deleteBtn(origen, key){
				let fila = [];
				let datos = origen == 'clases'? this.itemsClase.cuerpo : this.itemsCompeticion.cuerpo;
				let n = 0;
				let filas = origen == 'clases'? this.clases.filas : this.competicion.filas;
				
				for(let i = 0; i < filas; i++){
					if(i == key){
						 origen == 'clases'? this.clases.filas -= 1 : this.competicion.filas  -= 1;
						i++;
					};

					if(datos[i] == null){
						fila.push([]);
						break;
					}else{
						fila.push(datos[i]);
					};
					
				};

				origen == 'clases'? this.itemsClase.cuerpo = fila : this.itemsCompeticion.cuerpo = fila;
				//this.itemsClase.cuerpo = fila;
			},
		}
	}
</script>
<style scoped>
	.form-control {
		border-top:  none !important;
		border-left: none !important;
	}
</style>