<template>
	<tr>
		<template v-if="isEdit">
			<td>
				<b-form-input type="number" aria-describedby="nombreFeedback" v-model.trim.number="edit_.nombre" :state="nameState" step="0.25" min="1" max="7"></b-form-input>
		       <b-form-invalid-feedback id="nombreFeedback">
		         {{ errores.nombre }}
		      </b-form-invalid-feedback>
			</td>
			<td>
				<b-form-textarea  type="text" v-model.trim="edit_.descripcion" aria-describedby="descripcionFeedback" @keydown.enter.native="update" :state="descripcionState" :rows="3" :max-rows="6">required></b-form-textarea >
				<b-form-invalid-feedback id="descFeedback">
		          {{ errores.descripcion }}
		        </b-form-invalid-feedback>
			</td>
			<td>
				<b-button-group>
	              <b-btn variant="success" @click="update"><icon name="check"></icon></b-btn>
	              <b-btn variant="danger" @click="cancelar"><icon name="close"></icon></b-btn>
	            </b-button-group>
			</td>
		</template>
		<template v-else>
			<td>{{item.nombre | formatearNivel}}</td>
	  	 	<td>{{item.descripcion}}</td>
	       	<td>
	            <b-button-group>
	              <b-btn variant="success" @click="editBtn"><icon name="pencil"></icon></b-btn>
	              <b-btn variant="danger" @click="deleteBtn"><icon name="trash-o"></icon></b-btn>
	            </b-button-group>
	      	</td>
		</template>
	</tr>
</template>
<script>
	import Icon from 'vue-awesome/components/Icon';
	import EventBus from '../../helpers/event-bus.js';
	import validaciones from '../../helpers/validaciones';
	import funciones from '../../helpers/funciones';

	export default{
		components: {
		   
		    'icon': Icon,
		  
		},
		props: ['item'],
		mixins: [validaciones],
  		origen:'editar',
   		data: ()=>({
			edit_: null,
			isEdit: false,
			errores:  {
				nombre: '',
				descripcion: '',
			},
		}),
		mounted(){
			this.edit_ = _.clone(this.item)
		},
		computed: {
			nameState () {
        		return this.validarNombre();
		    },
		    descripcionState(){
		    	return this.validarDescripcion();
		    },
		},	
		methods:{
			/*validarFloat(numero){
		      const patron = /[.,]/;
		      return patron.test(numero);
		    },
		    devolverFlotante(numero){
		    	const cuartos = ['25','50','75','00']
			    const cercano = Math.ceil(numero.toString().split('.')[1]*4/100)-1;
			 	if(cuartos.includes(numero.toString().split('.')[1]) || numero.toString().split('.')[1] == "5"){
					return true;
			    }else{
			    	if(numero.toString().length > 4){
			        	this.errores.nombre = "Máximo dos decimales";
			          	return false
			        }

			    	let entero = cuartos[cercano] == "00"? parseInt(numero.toString().split('.')[0]) + 1 : numero.toString().split('.')[0];
			        this.errores.nombre = `Multiplos de 0.25= ${entero}.${cuartos[cercano]}`;
			        this.nombre = `${entero}.${cuartos[cercano]}`;
			        return false;
			    }
		    },*/
		    validarNombre(){
		      	if( this.edit_.nombre != null){
		      		if (this.edit_.nombre == '' && !this.validarFloat(this.edit_.nombre)){
			          this.errores.nombre = "Usa solo un separador";
			          return false
			        }
			        if (this.edit_.nombre == ''){
			          this.errores.nombre = "No puede estar vacio";
			          return false
			        }
			        if(this.edit_.nombre > 7){
			          this.errores.nombre = "No puede ser un número superior a 7";
			          return false
					}
					if(this.edit_.nombre < 0){
			          this.errores.nombre = "No puede ser un número negativo";
			          return false
			        }
					if(this.edit_.nombre < 1){
			          this.errores.nombre = "Los niveles empiezan en 1";
			          return false
			        }
			        if(this.validarFloat(this.edit_.nombre)){
			        	return this.devolverFlotante(this.edit_.nombre);
			        };
			        
			 	}
		      	return this.edit_.nombre == null? null: true;  
		    },
		    validarDescripcion(){
				/*if( this.edit_.nombre != null){
					if (this.edit_.nombre.trim() == ''){
			          this.errores.nombre = "No puede estar vacio";
			          return false
			        }	
				}*/
					        
		        return this.edit_.descripcion == null? null: true;  
			},
			cancelar(){
		        this.isEdit = false;
		        this.edit_ = _.clone(this.item);
		    },
			editBtn(){
				this.isEdit = !this.isEdit
			},
			update(){
				if(this.validarNombre()){
	      			this.$emit('update', this.edit_);
	      			this.isEdit = false;
				}
		    },
			deleteBtn(){
				this.$emit('delete', this.edit_);
			},
		}
	}
</script>