<template>
 
	<b-modal v-model="modalShow" hide-footer :title="titulo" centered>
    <template v-if="formulario == 1">
     <b-form-group label="Nombre:">
       <b-form-input type="number" placeholder="Nivel" aria-describedby="nombreFeedback" v-model.trim.number="item.nombre" :state="nameState" step="0.25" min="1" max="7"></b-form-input>
       <b-form-invalid-feedback id="nombreFeedback">
         {{ errores.nombre }}
      </b-form-invalid-feedback>
    </b-form-group>
    <b-form-group label="Descripción:">
        <b-form-textarea type="text" v-model.trim="item.descripcion" aria-describedby="descFeedback" :rows="3" :max-rows="6">required></b-form-textarea >
        <b-form-invalid-feedback id="descFeedback">
          {{ errores.descripcion }}
        </b-form-invalid-feedback>
    </b-form-group>
  </template>
  <div class="float-right">
    <template v-if="formulario == 1"><b-btn class="mt-3" variant="outline-primary" @click="crear">Guardar</b-btn></template>
    <template v-if="formulario == 2"><b-btn class="mt-3" variant="outline-danger" @click="eliminar">Eliminar</b-btn></template>
    <b-btn class="mt-3" variant="outline-primary" @click="cerrar">Cancelar</b-btn>
  </div>
</b-modal>

</template>

<script>

import EventBus from '../../helpers/event-bus.js';
import validaciones from '../../helpers/validaciones';
import funciones from '../../helpers/funciones';

export default {

	props:['select', 'formulario'],
  mixins: [validaciones],
  origen:'crear',
	mounted(){
		this.abrir();

	},
  data: ()=>({

    item: {nombre: null, descripcion: null},
    nombre: '',
    errores:  {
      nombre: null,
      descripcion: null,
    },
    titulo:"",
    modalShow: true,

  }),
  computed: {
    nameState () {
      return this.validarNombre();
    },
    descState(){

    },
  },	
  created(){
    EventBus.$on('openModal', (modal) => (//dejo un canal de comunicacion abierto con el padre
        modal=='open'?this.abrir():this.cerrar() //evaluo los datos que me envia el padre.
      )
    ); 
  },

  methods: {
    validarNombre(){
        if( this.item.nombre != null){
          if (this.item.nombre == '' && !this.validarFloat(this.item.nombre)){
            this.errores.nombre = "Usa solo un separador";
            return false
          }
          if (this.item.nombre == ''){
            this.errores.nombre = "No puede estar vacio";
            return false
          }
          if(this.item.nombre > 7){
            this.errores.nombre = "No puede ser un número superior a 7";
            return false
      }
      if(this.item.nombre < 0){
            this.errores.nombre = "No puede ser un número negativo";
            return false
          }
      if(this.item.nombre < 1){
            this.errores.nombre = "Los niveles empiezan en 1";
            return false
          }
          if(this.validarFloat(this.item.nombre)){
            return this.devolverFlotante(this.item.nombre);
          };
          
    }
        return this.item.nombre == null? null: true;  
    },
    cabeceraModal(){
      switch(this.formulario){
        case 1:
          this.titulo= 'Crear Nivel';
          break;
        case 2:
          this.titulo= 'Eliminar «' + this.select.nombre + '»';
          break;
      }
    },
    crear(){
      if(this.validarNombre()){
        this.$emit('accion',{accion: 'crear', objeto: this.item}); //envio al padre la accion y el elemento.
      }
    },
    eliminar(){
      this.$emit('accion',{accion: 'eliminar', objeto: this.select}); //envio al padre la accion y el elemento.
    },

    abrir(){
        this.cabeceraModal();
        this.modalShow = true;
    },
    cerrar(){
      this.item = {nombre: null, descripcion: null};
      this.modalShow = false;
    },
          
  }
}
</script>