<template> 

 	<b-container fluid>
 		<b-row>
 			<template v-if="item.clubs.length > 1"> 
	 			<b-col>
					<span>Seleccione el club del cual desea <strong v-show="!isEdit">ver</strong><strong v-show="isEdit">modificar</strong> los datos del Usuario</span>
		 			<b-form-select v-model.number="item.clubs_id" :options="clubsUsuario" text-field="text" class="mb-3" @change="clubActivo($event)"/>
			 	</b-col>
 			</template>
 			<b-col style="min-height: 100px">
				<router-link class="btn btn-primary float-left mb-3" v-bind:to="{name: 'PartidasUser', params: {id: item.id, nick: item.nick, ver: 'jugador'}}">Ver Partidas</router-link>
				<router-link class="btn btn-primary float-right mb-3" v-bind:to="'/jugadores'">Volver al listado de Usuarios</router-link>
 			</b-col>
 		</b-row>
 		<b-card-group>
 			<b-card class="mr-1" header-tag="header">
 				<h5 slot="header" class="mb-0">Padeler@: </h5>
 				<template v-if="!isEdit">
					<b-button variant="link" slot="header" class="botonCabecera" @click="clonar"><icon name="edit" scale="1"></icon></b-button>
				</template>
				<template v-else>
					<b-button variant="link" slot="header" class="botonCabecera" style="right:20px" @click="cancelar"><icon name="close" scale="1"></icon></b-button>
					<b-button variant="link" slot="header" class="botonCabecera" @click="actualizar"><icon name="check" scale="1"></icon></b-button>
				</template>
 				<b-row class="mb-2">
 					<b-col sm="12" md="4">
 						<div class="mb-2 mx-auto" style="max-height:61.5%; height:128px; max-width: 150px">
 							<b-img v-if="isEdit" :src="edit_.avatar" style="height: 125px" center fluid rounded/>
 							<b-img v-else :src="item.avatar" style="height: 125px" center fluid rounded/>
 						</div>
 						<template v-if="isEdit">
 							<uploadFile @imagen="nuevaImg($event)" :ver="false" :botones="false"></uploadFile>
 						</template>
 					</b-col>
 					<b-col>
 						<b-row class="mb-3">
 							<b-col sm="12" md="4">
		 						<b-form-group label="Nombre:">
		 							<template v-if="isEdit">
			 							<b-form-input type="text" v-model="edit_.nombre" aria-describedby="nombreFeedback" :state="nameState" @keydown.enter.native="actualizar" required></b-form-input>
			 							<b-form-invalid-feedback id="nombreFeedback">
			 								{{ errores.nombre }}
			 							</b-form-invalid-feedback>
			 						</template>
			 						<template v-else>
			 							<p class="form-control-plaintext text-capitalize">{{ item.nombre }}
			 							<span v-if="item.apellidos != 'null'"> {{ item.apellidos }} </span></p>
			 						</template>
		 						</b-form-group>
		 					</b-col>
		 					<template v-if="isEdit">
		 					<b-col sm="12" md="4">
		 						<b-form-group label="Apellidos:">
		 							<b-form-input type="text" v-model="edit_.apellidos" :state="apellidosState" aria-describedby="apellidosFeedback" @keydown.enter.native="actualizar" required></b-form-input>
		 							<b-form-invalid-feedback id="apellidosFeedback">
		 								{{ errores.apellidos }}
		 							</b-form-invalid-feedback>
			 					</b-form-group>
		 					</b-col>
		 					</template>
		 					<b-col sm="12" md="4">
		 						<b-form-group label="Nick:">
		 							<template v-if="isEdit">
			 							<b-form-input type="text" v-model="edit_.nick" :state="nickState" aria-describedby="nickFeedback" @keydown.enter.native="actualizar" required></b-form-input>
			 							<b-form-invalid-feedback id="nickFeedback">
			 								{{ errores.nick }}
			 							</b-form-invalid-feedback>
			 						</template>
			 						<template v-else>
			 							<p class="form-control-plaintext text-capitalize">{{ item.nick }}</p>
			 						</template>
		 						</b-form-group>
		 					</b-col>
		 				</b-row>
 						<b-row>
	 						<b-col sm="12" md="2">
		 						<b-form-group label="Sexo">
		 							<template v-if="isEdit">
						      			<b-form-radio-group buttons  button-variant="outline-primary" v-model="edit_.sexo" :options="optionSexo"/>
						      		</template>
			 						<template v-else>
			 							<p class="form-control-plaintext text-capitalize">{{ item.sexo.toLowerCase() }}</p>
			 						</template>
						  		</b-form-group>
						  	</b-col>
	 						<b-col sm="12" md="3">
		 						<b-form-group label="PosiciÓ n:">
		 							<template v-if="isEdit">
		 								<b-form-select v-model.number="edit_.posicion" :options="comboPosiciones" class="mb-3"/>
		 							</template>	
		 							<template v-else>
			 							<p class="form-control-plaintext text-capitalize">{{ item.posicion.toLowerCase() }}</p>
			 						</template>
		 						</b-form-group>
		 					</b-col>
		 					<b-col sm="12" md="2">
		 						<b-form-group label="Nivel:">
		 							<template v-if="isEdit">
		 								<b-form-select v-model.number="edit_.nivel_id" :options="comboNiveles" class="mb-3"/>
		 							</template>	
		 							<template v-else>
			 							<p class="form-control-plaintext ">{{ item.nivel }}</p>
			 						</template>
		 						</b-form-group>
		 					</b-col>
		 					<b-col sm="12" md="5">
		 						<b-form-group label="Club">
		 							
			 						<template v-if="!isEdit">
				 						<p class="form-control-plaintext" v-for="club in item.clubs">{{ club.nombre }}</p>
					 				</template>	
					 				<template v-show="isEdit">
			 							<p class="form-control-plaintext" ref="club"></p>
			 						</template>	
				 				</b-form-group>
		 					</b-col>
	 					</b-row>
 					</b-col>
 					
 				</b-row>
 			</b-card>
 		</b-card-group>
 		<b-card-group>
 			
 			<b-card class="ml-0" header-tag="header">
 				<h5 slot="header" class="mb-0">Datos de contacto:</h5>
 				<b-row>
					<b-col sm="6" md="4">
						<b-form-group label="Código Postal:">
							<template v-if="isEdit">
								<b-form-input type="number" v-model="edit_.postal" aria-describedby="postalFeedback" :state="postalState" @keydown.enter.native="actualizar"></b-form-input>
								<b-form-invalid-feedback id="postalFeedback">
									{{ errores.postal }}
								</b-form-invalid-feedback> 	
							</template>	
		 					<template v-else>
		 						<p class="form-control-plaintext ">{{ item.postal }}</p>
		 					</template>	
						</b-form-group>
					</b-col>
					<b-col sm="6" md="4">
						<b-form-group label="Población:">
							<template v-if="isEdit">
								<b-form-input type="text" v-model="edit_.poblacion" :state="poblacionState" aria-describedby="poblacionFeedback" disabled></b-form-input>
								<b-form-invalid-feedback id="poblacionFeedback">
									{{ errores.poblacion }}
								</b-form-invalid-feedback> 	
							</template>	
		 					<template v-else>
		 						<p class="form-control-plaintext ">{{ item.poblacion }}</p>
		 					</template>
						</b-form-group>
					</b-col>
					<b-col sm="4" md="4">
						<b-form-group label="Desplazamiento:">
							<template v-if="isEdit">
								<b-form-select v-model.number="edit_.desplazamiento" :options="comboDesplazamientos" class="mb-3"/>
							</template>	
		 					<template v-else>
								<p class="form-control-plaintext ">Hasta {{ item.desplazamiento }} Km</p>
		 					</template>
						</b-form-group>
					</b-col>
				</b-row>
 				<b-row>
 					<b-col sm="12" md="3">
 						<b-form-group label="Teléfono:">
 							<template v-if="isEdit">
	 							<b-form-input type="number" v-model.number="edit_.telefono" :state="telefonoState" aria-describedby="telefonoFeedback" @keydown.enter.native="actualizar" required></b-form-input>
	 							<b-form-invalid-feedback id="telefonoFeedback">
	 								{{ errores.telefono }}
	 							</b-form-invalid-feedback> 	
	 						</template>	
		 					<template v-else>
		 						<p class="form-control-plaintext ">{{ item.telefono }}</p>
		 					</template>
 						</b-form-group>
 					</b-col>
 					<b-col sm="12" md="5">
 						<b-form-group label="Correo-e:">
 							<template v-if="isEdit">
	 							<b-form-input type="email" v-model="edit_.email" :state="emailState" aria-describedby="emailFeedback" @keydown.enter.native="actualizar"></b-form-input>
	 							<b-form-invalid-feedback id="emailFeedback">
	 								{{ errores.email }}
	 							</b-form-invalid-feedback> 
	 						</template>	
		 					<template v-else>
								<p class="form-control-plaintext ">{{ item.email }}</p>
		 					</template>
 						</b-form-group>
 					</b-col>
 					<template v-if="isEdit">
	 					<b-col sm="12" md="2">
	 						<b-form-group label="Contraseña:">
	 							<b-form-input type="password" v-model="edit_.password" :state="passState" aria-describedby="passFeedback" @keydown.enter.native="actualizar" required></b-form-input>
	 							<b-form-invalid-feedback id="passFeedback">
	 								{{ errores.pass }}
	 							</b-form-invalid-feedback>
	 						</b-form-group>
	 					</b-col>
	 					<b-col sm="12" md="2">
	 						<b-form-group label="Repetir contraseña:">
	 							<b-form-input type="password" v-model="edit_.password_confirmation" :state="passState" aria-describedby="passFeedback" @keydown.enter.native="actualizar" required></b-form-input>
	 							<b-form-invalid-feedback id="passFeedback">
	 								{{ errores.pass_confirm }}
	 							</b-form-invalid-feedback> 	
	 						</b-form-group>
	 					</b-col>
	 				</template>
 					
 				</b-row>
 			</b-card>
 		</b-card-group>
 		<b-card-group>
 			<b-card class="mr-1" header-tag="header">
 				<h5 slot="header" class="mb-0">Disponibilidad:</h5>
 				<template v-if="isEdit">
 					<span style="color: rgba(0, 0, 0, 0.65)">Escriba la hora en formato 24h</span>
	 				<b-row class="mb-2">
	 					<template v-for="(dia, index) in comboDias">	
		 					<b-col sm="6" md="3">
		 						<b-form-group horizontal>
				 					{{ dia }} a partir de las
									<b-form-input type="time" v-model="disponibilidad[dia]" @keydown.enter.native="actualizar"></b-form-input>
								</b-form-group>
							</b-col>
			 			</template>	
			 		</b-row>
			 	</template>
			 	<template v-else>
			 		<!--ul v-for="dispo in item.disponibilidad.split(',')">
						<li> {{ dispo }} </li>
					</ul-->
					{{item.disponibilidad}}
			 	</template>
		 	</b-card>
		</b-card-group>
		<b-card-group>
 			<b-card class="mr-1" header-tag="header">
 				<h5 slot="header" class="mb-0">Comentarios:</h5>
 				<template v-if="isEdit">
	 				<b-form-textarea type="text" v-model="edit_.comentarios" aria-describedby="comentarioFeedback" :rows="3" :max-rows="6"></b-form-textarea >
			        <b-form-invalid-feedback id="comentarioFeedback">
			          {{ errores.comentarios }}
			        </b-form-invalid-feedback>
			    </template>
			 	<template v-else>
			 		<span v-if="item.comentarios != 'null'">{{ item.comentarios }}</span>
			 	</template>   
			</b-card>
		</b-card-group>
 		<div class="float-right" v-if="isEdit">
 			<b-btn class="mt-3" variant="outline-primary" @click="actualizar">Guardar</b-btn>
 			<b-btn class="mt-3" variant="outline-primary" @click="cancelar">Cancelar</b-btn>
 		</div>

 	</b-container>
 </template>

<script>
import uploadFile from '../extras/uploadFile.vue';
import Icon from 'vue-awesome/components/Icon';

import validaciones from '../../helpers/validaciones';
import funciones from '../../helpers/funciones';

   export default {
   	components: {
	    uploadFile,
	    'icon': Icon,

  	},
  	mixins: [validaciones,funciones],
  	origen:'editar',
   	data: ()=>({
	   
	    pageUrl: 'pyrs',
	    item:[],
	    edit_: null,
	    //combos
		comboNiveles: [],
		comboClubs: [],
		clubsUsuario: [],
		comboPosiciones: [{value:'REVÉS',text:'REVÉS'},{value: 'DERECHA', text: 'DERECHA'},{value: 'INDIFERENTE', text: 'INDIFERENTE'}],
		comboDesplazamientos: [{value:5,text:'5 Km'},{value: 10, text: '10 Km'},{value: 15, text: '15 Km'},{value: 20, text: '20 Km'},{value: 25, text: '25 Km'},{value: 30, text: '30 Km'},{value: 35, text: '35 Km'},{value: 40, text: '40 Km'}],
		comboDias: ['Lunes','Martes','Miércoles','Jueves','Viernes','Sábado','Domingo'],
		disponibilidad: {'Lunes' : null ,'Martes': null, 'Miércoles': null ,'Jueves': null,'Viernes': null,'Sábado': null,'Domingo': null},
		optionSexo: [{value: 'HOMBRE', text:'Hombre'},{value: 'MUJER', text: 'Mujer'}],
		//editable
		isEdit: false,
		newFile: null,
		//errores
		errores: [],
		erroresServidor: [],

  	}),
   	created(){
   		/*this.$route.params.user == null? this.item = this.$store.state.user  :  (this.item = this.$route.params.user, this.$store.commit('user', this.$route.params.user));*/
   		
   		this.$route.params.user == null? this.item = JSON.parse(localStorage.getItem('user'))  :  (this.item = this.$route.params.user, localStorage.setItem('user', JSON.stringify(this.$route.params.user)));


		
		this.comboNiveles = this.$store.state.niveles;
 		this.comboClubs = this.$store.state.clubs;
 		this.clubsUsuario = [];
		let datos = this.item.clubs;
		
		this.clubsUsuario = datos.map((club) =>{
           return {
              value: club.id,
              text: club.nombre,
           }
        });
	},
	watch:{
 		'edit_.nick'(newVal, oldVal){
 			newVal != oldVal? this.erroresServidor.splice(this.erroresServidor.indexOf('nick'),1) : '';
 		},
 		'edit_.email'(newVal, oldVal){
 			newVal != oldVal? this.erroresServidor.splice(this.erroresServidor.indexOf('email'),1) : '';
 		},
 	},
	computed: {
 		nameState () {
 			return this.validarNombre();
 		},
 		apellidosState () {
 			return this.validarApellidos();
 		},
 		nickState () {
 			return this.validarNick();
 		},
 		telefonoState(){
 			return this.validarTelefono();
 		},
 		movilState(){
 			return this.validarMovil();
 		},
 		emailState(){
 			return this.validarMail();
 		},
 		postalState(){
 			return this.validarPostal();
 		},
 		poblacionState(){
 			return this.validarPoblacion();
 		},
 		passState(){
 			return this.validarPass();
 		},
 	},
 	methods:{
 		clubActivo(clubId){
 			this.disponibilidad = {'Lunes' : null ,'Martes': null, 'Miércoles': null ,'Jueves': null,'Viernes': null,'Sábado': null,'Domingo': null};
 			this.getClub(clubId);
 			let prueba = this.clubsUsuario.find((club) => {
        		if(club.value == clubId){
        			return club;
        		}
      		});
      		this.isEdit ? this.$refs.club.innerHTML = prueba.text : this.$refs.club.innerHTML = '';
			
 		},	
 		getClub(clubId){
 			let cambioDatos = [];
 			axios.get(`api/${this.pageUrl}/club?userEmail=${this.item.email}&clubId=${clubId}`).then((response)=>{
 				!this.isEdit? this.item = response.data[0]: this.edit_ = response.data[0];
 				this.disponibilidad = this.desglosarDisponibilidadEditar(response.data[0].disponibilidad);
 			}, (error)=>{
 				console.error(error.response);
 			})


 		},
 		validarNombre(){
	      if(this.item.nombre != null){
	        if (this.item.nombre.trim() == ''){
	          this.errores.nombre = "No puede estar vacio";
	            return false
	          }
	        if(!this.validarTexto(this.item.nombre)){
	          this.errores.nombre = "No puede contener números";
	          return false
	        }
	      }
	      
	      return this.item.nombre == null? null: true;
	    },
	    validarApellidos(){
	      if(this.item.apellidos != null){
	        if (this.item.apellidos.trim() == ''){
	        	return true;
	        }
	        if(!this.validarTexto(this.item.apellidos)){
	          this.errores.apellidos = "No puede contener números";
	          return false
	        }
	      }
	      
	      return this.item.apellidos == null? true: true;
	    },
 		validar(){
 			if(this.validarNombre() && this.validarNick() && (this.validarTelefono() || this.validarTelefono() == null) && this.validarMail() && this.validarPostal() && this.validarPoblacion()){
 				return true;
 			}else{
 				return false;
 			}
 		},
 		nuevaImg(imagen){
 			this.item.avatar = imagen.img == "" ? "": imagen.img;
 			this.newFile = imagen.file == "" ? "" : imagen.file;
 		},
 		clonar(){
 			this.isEdit = !this.isEdit;
 			this.edit_ = _.clone(this.item);
 			this.disponibilidad = this.desglosarDisponibilidadEditar(this.edit_.disponibilidad);
			this.$refs.club.innerHTML = this.item.club;
		},
		cancelar(){
			this.isEdit = false;
			this.$refs.club.innerHTML = '';
			
		},
		actualizar(){
			let token = document.head.querySelector('meta[name="csrf-token"]');
			this.edit_.remember_token = 	token.content;
			this.edit_.disponibilidad = this.disponibilidadJugador(this.disponibilidad);
			this.edit_.telefono = this.edit_.telefono == null? '': this.edit_.telefono;
			const resError = {check: ''};
			let form = this.toFormData(this.edit_, this.newFile);

			if(this.validar()){
				axios.post(`${this.pageUrl}/update/${this.edit_.id}`, form).then((response) => {
					this.errores = resError;
					response.data.status == 'success' ? (this.$router.push({name: 'ListJugadores'}), toastr.success(response.data.msg)): toastr.warning(response.data.msg);

				}, (error) => {
					console.error(error.response);
					let errores = error.response.data.errors;
					this.erroresServidor = [];
					this.errores = resError;

					for (let key in errores){
						this.erroresServidor.push(key);
						this.errores[key] = errores[key][0];
						toastr.warning(errores[key][0]);
					}
				});
			}else{
				const nullables = ['telefono'];
				let obj = this.item;
				for (let key in obj){
					if(obj[key] == null){
						if(nullables.includes(key)){
							obj[key] != '' ? obj[key] = obj[key]: obj[key] = null;
						}else{
							obj[key] = '';
						}

					}else{
						if(nullables.includes(key)){
							obj[key] != null ? obj[key] =  obj[key]: obj[key] = null;
						}else{
							obj[key] = obj[key];
						}
					}
				}
			}

		},
	}
	
 }
</script>	

<style scoped>
	.fieldset{
		border: 1px solid #e9ecef;
	}

	.form-control-plaintext{
		color: #0031ff;
	}
	.botonCabecera{
		position: absolute;
		top: 0;
		right: 0;
		padding: 2px;
	}
	.btn:not(:disabled):not(.disabled){
		cursor: url("/image/puntero.png"), pointer !important;
	}
	.container-fluid{
		margin-top: 20px;
	}
</style>