
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// pe-7s-font-path iconos
$pe-7s-font-path: "../../node_modules/pe7-icon/dist/fonts" !default;
@import "node_modules/pe7-icon/dist/scss/pe-icon-7-stroke";

// Ionicons
@import "node_modules/ionicons/dist/scss/ionicons";

//FontAwesome
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

//toastr
@import "~toastr/toastr.scss";
