<template id="add-prov">
    <div>
        <h3>Add new Post</h3>
        <form v-on:submit.prevent = "crear">
            <div class="form-group">
                <label for="add-nombre">Nombre</label>
                <input v-model="provincia.nombre" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="add-slug">Slug</label>
                <input class="form-control" v-model="provincia.slug">
            </div>
            <div class="form-group">
                <label for="add-extract">Nombre corto</label>
                <input class="form-control" v-model="provincia.nombre_corto">
            </div>
            <button type="submit" class="btn btn-xs btn-primary" >Create Post</button>
            <router-link class="btn btn-xs btn-warning" v-bind:to="'/'">Cancel</router-link>
        </form>
    </div>
</template>

<script>
 export default {
    data: ()=>({

        provincia: {nombre: '', slug: '', nombre_corto:''}
        
    }),

    methods: {
        crear: function() {
          let uri = 'provs';
          axios.post(uri, this.provincia).then((response) => {
            this.$router.push({name: 'ListProv'})
          })
       }
    }
 }
</script>