<template id="prov-delete">
  <div>
    <h3>Elimnar {{ provincia.nombre  }}</h3>
    <form v-on:submit.prevent = "eliminar">
      <p>Esta acción no se puede deshacer</p>
      <button class="btn btn-xs btn-danger" type="submit" name="button">Eliminar</button>
      <router-link class="btn btn-xs btn-primary" v-bind:to="'/'">Cancelar</router-link>
    </form>
  </div>
</template>

<script>
export default {
  data: ()=>({

    provincia: {nombre: '', slug: '', nombre_corto: ''}
    
  }),
  created: function(){
    let uri = 'provs/'+this.$route.params.id;
    Axios.get(uri).then((response) => {
      this.provincia = response.data;
    });
  },
  methods: {
    eliminar: function() {
      let uri = '/provs/'+this.$route.params.id;
      Axios.delete(uri, this.provincia).then((response) => {
        this.$router.push({name: 'ListProv'})
      })
    }
  }
}
</script>