<template> 
  <tr>
    <template v-if="isEdit">
      <td>
        <b-form-input type="number" v-model="edit_.id" disabled></b-form-input>
      </td>
      <td>
        
        <b-form-input type="text" v-model="edit_.nombre" aria-describedby="nombreFeedback" @keydown.enter.native="update" :state="nameState" required></b-form-input>
        <b-form-invalid-feedback id="nombreFeedback">
           {{ errores.nombre}}
        </b-form-invalid-feedback>  
            
      </td>
      <td>
        <b-form-input type="text" v-model="edit_.nombre_corto" aria-describedby="cortoFeedback" :state="cortoState" required></b-form-input>
        <b-form-invalid-feedback id="cortoFeedback">
          {{ errores.corto }}
        </b-form-invalid-feedback>
      </td>
      <td>
        <b-button-group>
                <b-btn variant="success" @click="update"><icon name="check"></icon></b-btn>
                <b-btn variant="danger" @click="cancelar"><icon name="close"></icon></b-btn>
              </b-button-group>
      </td>
    </template>
    <template v-else>
    
            <td>{{item.id}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.nombre_corto}}</td>
            <td>
              <b-button-group>
                  <b-btn variant="success" @click="editBtn"><icon name="pencil"></icon></b-btn>
                  <b-btn variant="danger" @click="deleteBtn"><icon name="trash-o"></icon></b-btn>
              </b-button-group>
          </td>
        </template>
  </tr>
</template>
<script>
  import Icon from 'vue-awesome/components/Icon';
  import validaciones from '../../helpers/validaciones';

  export default{
    components: {
       
        'icon': Icon,
      
    },
    props: ['item'],
    mixins: [validaciones],
    origen:'editar',
    data: ()=>({
      edit_: null,
      isEdit: false,
      errores: {
          nombre:'',
          corto: '',
        },

    }),
    
    mounted(){
      this.edit_ = _.clone(this.item);
    },
    computed: {
      nameState () {
        return this.validarNombre(); 
      },
      cortoState(){
        return this.validarCorto();
      }
    },
    methods:{
      validarNombre(){
        if(this.edit_.nombre.trim()  == '' ){
          this.errores.nombre = "No puede estar vacio";
          return false
        }
        if(!this.validarTexto(this.edit_.nombre)){
          this.errores.nombre = "No puede contener números";
          return false
        }
        return this.edit_.nombre == null? null: true;
      },
      validar(){
        if(this.validarNombre() && this.validarCorto()){
          return true;
        }else{
          return false;
        }
      },
      cancelar(){
        this.isEdit = false;
        this.edit_ = _.clone(this.item);
      },
      editBtn(){
        this.isEdit = !this.isEdit
      },
      update(){
        this.edit_.slug = Slug(this.edit_.nombre);
        this.edit_.nombre_corto != null? this.edit_.nombre_corto = this.edit_.nombre_corto.toUpperCase(): this.edit_.nombre_corto = '';
        this.edit_.nombre != null? this.edit_.nombre = this.edit_.nombre.charAt(0).toUpperCase() + this.edit_.nombre.slice(1).toLowerCase(): this.edit_.nombre = '';

        if(this.validar()){
          this.$emit('update', this.edit_);
          this.isEdit = false;
        }
      },
      deleteBtn(){
        this.$emit('delete', this.edit_);
      },
      showBtn(){
        this.$emit('show', this.item);
      }

    }
  }
</script> 