<template>

	<b-modal v-model="modalShow" hide-footer :title="titulo" centered>
    <template v-if="formulario == 1">
      <b-form-group label="Nombre:">
        <b-form-input type="text" placeholder="Provincia" aria-describedby="nombreFeedback" v-model="item.nombre" :state="nameState" required></b-form-input>
        <b-form-invalid-feedback id="nombreFeedback">
          {{ errores.nombre}}
        </b-form-invalid-feedback>  
      </b-form-group>
      <b-form-group label="Nombre corto:">
        <b-form-input type="text" placeholder="nombre corto" aria-describedby="cortoFeedback" v-model="item.nombre_corto" :state="cortoState" required></b-form-input>
        <b-form-invalid-feedback id="cortoFeedback">
          {{ errores.corto }}
        </b-form-invalid-feedback>
      </b-form-group>
      <b-form-group label="Slug:" description="">
        <b-form-input type="text" placeholder="Slug" :value="item.nombre | lowercase | stringSlug" disabled ref="slug"></b-form-input>
      </b-form-group>
    </template>
    <div class="float-right">
      <template v-if="formulario == 1"><b-btn class="mt-3" variant="outline-primary" @click="crear">Guardar</b-btn></template>
      <template v-if="formulario == 2"><b-btn class="mt-3" variant="outline-danger" @click="eliminar">Eliminar</b-btn></template>
      <b-btn class="mt-3" variant="outline-primary" @click="cerrar">Cancelar</b-btn>
    </div>
  </b-modal>
  
</template>

</template>

<script>

import EventBus from '../../helpers/event-bus.js';
import validaciones from '../../helpers/validaciones';
import funciones from '../../helpers/funciones';

export default {

	props:['select', 'formulario','erroresS'],
  mixins: [validaciones,funciones],
	mounted(){
		this.abrir();

	},
  data: ()=>({
    item: {nombre: null, nombre_corto: null, slug: ''},
    errores:  {
      nombre: null,
      corto: null,
    },
    titulo:"",
    modalShow: true,
    erroresServidor: null,

  }),
  watch:{
    erroresS(errores){
      this.erroresServidor = errores;
    },
    'item.nombre_corto'(newCorto, oldCorto){
      if(newCorto != oldCorto && this.erroresServidor != null){
        this.erroresServidor.nombre = '';
        this.erroresServidor.corto = '';
      };
    },
    'item.nombre'(newNombre, oldNombre){
      if(newNombre != oldNombre && this.erroresServidor != null){
        this.erroresServidor.nombre = '';
        this.erroresServidor.corto = '';
      };
    }
  },
  computed: {
    nameState () {
        return this.validarNombre();
      },
      cortoState(){
        return this.validarCorto();
      },
       
    },

  created(){
    EventBus.$on('openModalProvincia', (modal) => (//dejo un canal de comunicacion abierto con el padre
        modal=='open'?this.abrir():this.cerrar() //evaluo los datos que me envia el padre.
      )
    ); 
  },

  methods: {
    validarNombre(){
      if(this.item.nombre != null){
        if(this.erroresServidor != null){
          if(this.erroresServidor.nombre){
            this.errores.nombre = "La provincia ya existe";
            return false;
          };
        }

        if (this.item.nombre.trim() == ''){
          this.errores.nombre = "No puede estar vacio";
            return false
          }
        if(!this.validarTexto(this.item.nombre)){
          this.errores.nombre = "No puede contener números";
          return false
        }
      }
      
      return this.item.nombre == null? null: true;
    },
    validar(){
      if(this.validarNombre() && this.validarCorto()){
        return true;
      }else{
        return false;
      }
    },
    cabeceraModal(){
      switch(this.formulario){
        case 1:
          this.titulo= 'Crear Provincia';
          break;
        case 2:
          this.titulo= 'Eliminar «' + this.select.nombre + '»';
          break;
      }
    },
    crear(){
      this.item.slug = this.$refs.slug.value;
      this.item.nombre_corto != null? this.item.nombre_corto = this.item.nombre_corto.toUpperCase(): this.item.nombre_corto = '';
      this.item.nombre != null? this.item.nombre = this.item.nombre.charAt(0).toUpperCase() + this.item.nombre.slice(1).toLowerCase(): this.item.nombre = '';

        if(this.validar()){
          this.$emit('accion',{accion: 'crear', objeto: this.item});
        }      
    },

    eliminar(){
      this.$emit('accion',{accion: 'eliminar', objeto: this.select}); //envio al padre la accion y el elemento.
    },
    abrir(){
      this.cabeceraModal();
      this.modalShow = true;
    },
    cerrar(){
      this.item =  {nombre: null, nombre_corto: null, slug: ''};
      this.titulo = "";
      this.modalShow = false;
    },
          
  }
}
</script>