<template> 

  <div>
    <div class="text-center"><h2>Provincias</h2></div> 
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <td colspan="4">
              <b-row>
                <b-col sm="11" lg="6">
                  <b-input-group>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <icon name="search"></icon>
                      </span>
                    </div>
                    <b-form-input type="text" v-model.trim="busqueda" placeholder="Buscar..."></b-form-input>

                    <b-input-group-append>
                      <b-button variant="primary" @click.prevent="resetBusqueda">
                        <icon name="refresh"></icon>
                      </b-button>
                    </b-input-group-append>
                  </b-input-group>
                </b-col> 
                <b-col sm="1" lg="5">
                  <b-button @click="tipoAccion('crear')" variant="primary" class="float-right">
                    <icon name="plus"></icon>
                  </b-button>
                </b-col>
              </b-row>
            </td>    
          </tr>
          <tr>
            <th class="click" :class="[ sortBy == 'id' ? 'active' : '']"   @click="ordenar('id')" width="100"><icon :name="icoId"></icon>  Código</th>
            <th class="click" :class="[ sortBy == 'nombre' ? 'active' : '']"   @click="ordenar('nombre')"><icon :name="icoNombre"></icon>  Provincia</th>
            <th>Nombre corto</th>
            <th width="200">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr align="center" v-show="cargando"><td colspan="3"><icon name="refresh" scale="5" spin></icon></td></tr>
          <crud-component v-for="(item, index) in filtro" :item="item" :key="item.id" @update="actualizar($event)" @delete="tipoAccion('eliminar', $event)" @show="tipoAccion('ver', $event)"></crud-component>
      </tbody>
    </table>
    <Paginate :pagination="pagination" @pagina="getItems"></Paginate>
    <component :is="modal" :formulario="formulario" :select="select" :key="select.id" @accion="acciones" :erroresS="erroresServidor"></component>
  </div>
</div>

</template>

<script>

import Formulario from './FormProvincias.vue'
import EventBus from '../../helpers/event-bus.js'
import Icon from 'vue-awesome/components/Icon'
import Paginate from '../layouts/paginate.vue'
import crud from './EditProvincia.vue'

export default {
  components: {
    'app-form' : Formulario,
    'icon': Icon,
    'crud-component': crud,
    Paginate
  },
  data: ()=>({
    
    pageUrl: 'prvs',
    items: [],
    pagination: [], 
    cargando: false,
    busqueda: '',
    modal:'',
    select:[],
    formulario:'',
    //buscador
    busqueda: '',
    sortBy: 'id',
    orden: 'ASC',
    Snombre:'ASC',
    Scodigo:'ASC',
    //errores
    erroresServidor: null,

  }),
  watch:{
    busqueda(item){
      
      (item.length > 3 || !isNaN(parseInt(item)) || item == '')? this.getItems(): '';
    },
  },

  created() {
    this.getItems();
  },
  computed: {
    filtro(){ 
      if(this.items.length) {
        return this.items;
      }
    },
    icoNombre(){
      if(this.sortBy != 'nombre' || (this.sortBy == 'nombre' && this.orden == '')){
        return 'sort';
      }
      return (this.sortBy == 'nombre' && this.orden == 'ASC') ? 'sort-down': 'sort-up';
    },
    icoId(){
      if(this.sortBy != 'id' || (this.sortBy == 'id' && this.orden == '')){
        return 'sort';
      }
      return (this.sortBy == 'id' && this.orden == 'ASC') ? 'sort-down': 'sort-up';
    },
  },
  methods:{
    ordenar(columna){
        switch(columna){
        case 'nombre':
          this.Snombre == 'ASC' ? this.Snombre = 'DESC': this.Snombre = 'ASC';
          break;
        case 'id':
          this.Scodigo == 'ASC' ? this.Scodigo = 'DESC': this.Scodigo = 'ASC';
          break;        
        } 
            
      this.sortBy = columna;
      this.getItems();
    },
    tipoAccion(action, data = []){
      this.formulario = '';
      this.select = data;
      this.modal = 'app-form';
      switch(action){
        case 'crear':
          this.formulario = 1;
          break;
        case 'eliminar':
          this.formulario = 2;
          break;
        case 'ver':
          this.formulario = 3;
          break;
      }

        EventBus.$emit('openModalProvincia','open'); //mando abrir el modal al seleccionar un elemento
    },
    getItems(page){
      if(this.sortBy == 'nombre'){ this.orden = this.Snombre};
      if(this.sortBy == 'id'){ this.orden = this.Scodigo};
      this.cargando = true;
      
      axios.get(`${this.pageUrl}?page=${page}&busqueda=${this.busqueda}&sortBy=${this.sortBy}&orden=${this.orden}`).then((response)=>{
        this.items = response.data.items.data;
        this.pagination = response.data.pagination;
      }, (error) => {
        console.log(error.response);
      })
      this.cargando = false;
    },
    resetBusqueda(){
      this.busqueda = '';
      this.getItems();
    },

    acciones(item){
      switch(item.accion){
        case 'crear':
          this.crear(item.objeto);
          break;
        case 'eliminar':
          this.eliminar(item.objeto);
          break;
        case 'actualizar':
          this.actualizar(item.objeto);
          break;
      };
    },

    crear(nuevo){
      axios.post(this.pageUrl, nuevo).then((response) => {
       response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg), EventBus.$emit('openModalProvincia','close')): toastr.warning(response.data.msg);

      }, (error) => {
        this.erroresServidor = error.response.data.errors;
      })
    },

    eliminar(eliminarId){
      axios.delete(this.pageUrl + "/" + eliminarId.id).then((response) => {
        response.data.status == 'success' ? (this.resetBusqueda(), toastr.success(response.data.msg), EventBus.$emit('openModalProvincia','close')): toastr.warning(response.data.msg);
      }, (error) => {
        console.log(error.response);
      })
    },
    actualizar(actualizar){
      axios.patch(this.pageUrl + '/' + actualizar.id, actualizar).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg), EventBus.$emit('openModalProvincia','close')): toastr.warning(response.data.msg);
      }, (error) => {
        console.log(error.response);
      })
    },
    
  }
  
}
</script>

<style scoped>

  .active{
    color: #fff;
    background: #0275d8;
  }
  .click{
    cursor: url("/image/puntero.png"), pointer;
  }
</style>