<template id="provincia">
	<div>
	    <h3>{{ provincia.nombre }}</h3>
	    <strong>Slug : </strong>
	    <div>
	      {{ provincia.slug }}
	    </div>
	  	</br>
	  	<span class="glyphicon glyphicon-arrow-left"></span>
	  	<router-link v-bind:to="'/'">Back to post list</router-link>
	</div>
</template>

<script>
   export default {
  	data: ()=>({

  		provincia: {nombre: '', slug: '', nombre_corto: ''}

 	}),
	created(){
	   		let uri = 'provs/'+this.$route.params.id;
	     	axios.get(uri).then((response) => {
	     		this.provincia = response.data;
	   });
	}
 }
</script>