<template>
	<b-container fluid class="padding" v-if="totalNoticias > 0">
		<b-row>
    		<b-col cols="12" class="text-center">
				<h1 class="display-4"> Noticias </h1>
			</b-col>
			<hr>
		    <b-container fluid>	  
		      	<b-card-group>
			        <b-row align-h="center">
			        	<b-col sm="12" lg="3" class="d-flex align-items-stretch" v-for="item in items" :key="item.id">
			        			<b-card :title="item.titulo" :img-src="item.imagen" :img-alt="item.titulo" :img-title="item.titulo" img-top img-fluid>
						            <span class="card-text" v-html="item.titular"></span>
						            <div slot="footer">
						                <b-button variant="primary" class="boton-largo" @click="LeerNoticia(item)">Leer</b-button>
						            </div>
					        	</b-card>
			            	</b-col>
			        </b-row>
			    </b-card-group>
		    </b-container>
		</b-row>
	</b-container>
	
</template>

<script>
import Icon from 'vue-awesome/components/Icon';

export default{
	props:['datos'],
	components: {
		'icon': Icon,
	},
	data: ()=>({
		totalNoticias: 0,
		items: [],
	}),
	mounted(){
		this.getNoticias();
    },
	watch:{
            
    },
    computed:{
        
    },
    methods:{
       getNoticias(){

			
       		
			axios.get(`api/noticias/${this.datos}`).then((response)=>{
				this.totalNoticias = response.data.length;
				if(response.data.length){
					this.items = response.data;
				}
				
      		}, (error) => {
            console.error(error.response);
          })
		},
		LeerNoticia(noticia){
	      //this.$router.push({name: 'leerNoticia', params: {'noticia': noticia, 'slug': noticia.slug}})
			let routeData = this.$router.resolve({name: 'leerNoticia', params: {'noticia': noticia, 'slug': noticia.slug}});
			window.open(routeData.href, '_blank');
	    }
    }
}
</script>
<style scoped>
	.boton-largo{
		width:100%;
	}
	[class*="col-"] {
      padding: 1rem;
  	}
	hr{
		border-top: 2px solid #b4b4b4;
	    width: 55%;
	    margin-top: .3rem;
	    margin-bottom: 1rem; 
	}
	.card-img-top {
	    max-height: 15rem;
	}
	.card-text{
		height: 9rem;
	    white-space: pre-line;
	    overflow: hidden;
	}
	.boton-ancho{
			height: 100%;
		}

	@media (max-width: 992px) {
		.boton-ancho{
			height: 100%;
			width: 100%;
		}
  	}
  	

	
</style>