<template>
	<footer>
		<b-container fluid class="padding">
			<b-row class="text-center">
				<b-col>
					<b-img :src="item.logo" fluid style="height: 50px"/>
					<hr class="light">
					<p v-if="item.telefono">Teléfono: {{ item.telefono }} </p>
					<p v-if="item.movil">Movil: {{ item.movil }} </p>
					<p>Correo-e: {{ item.email }} </p>
					<p>Dirección: {{ item.direccion }} </p>
					<p> {{ item.poblacion }} ({{ item.provincia }}) </p>
				</b-col>
				<b-col>
					<hr class="light">
					<h5> Nuestros Horarios </h5>
					<hr class="light">
					<template v-for="hora in horario">
						<p> {{ hora}} </p>
					</template>
					
				</b-col>
			</b-row>
			<b-row>
				<b-col cols="12" class="light text-center">
					<hr class="light-100">
					<h5>&copy; UnPadel.com</h5>
				</b-col>
			</b-row>
		</b-container>
	</footer>
</template>

<script>
import Icon from 'vue-awesome/components/Icon';

export default{
	props:['datos'],
	components: {
		'icon': Icon,
	},
	data: ()=>({
		horario: []
	}),
	mounted(){
		this.horario = this.datos.club[0].horario.split('|');
	},
	watch:{
            
    },
    computed:{
        item(){
        	return this.datos.club[0];
        }

    },
    methods:{
       
    }
}
</script>
<style scoped>
	footer{
		background-color: #3f3f3f;
		color: #d5d5d5;
		padding-top: 2rem;
	}
	hr.light{
		border-top: 1px solid #d5d5d5;
		width: 75%;
		margin-top: .8rem;
		margin-bottom: 1rem;
	}
	footer a{
		color: #d5d5d5;
	}
	hr.light-100 {
		border-top: 1px solid #d5d5d5;
		width: 100%;
		margin-top: .8rem;
		margin-bottom: 1rem;
	}
	[class*="col-"] {
    	padding: 1rem;
	}
	.padding{
		padding-bottom: 2rem;
	}
</style>