<template>
	<b-container fluid v-cloak>
		<h1 class="text-center display-4 my-4">Galería de imágenes</h1>
		
		<b-card-group>
			<b-row>
				<template v-for="n in 20">
					<b-col sm="6" lg="4">
						<b-card img-top>
							<a @click="abrirImagen($event)" class="click">
								<b-card-img src="https://unsplash.it/1024/800/?random"></b-card-img>
							</a>
						</b-card>
					</b-col>
				</template>
				<b-col sm="6" lg="4">
						<b-card img-top>
							<a @click="abrirImagen($event)" class="click">
								<b-card-img src="https://picsum.photos/1024/800/?random"></b-card-img>
							</a>
						</b-card>
					</b-col>
			</b-row>
		</b-card-group>
		<!-- modal -->
		<component :is="modal" :imagen="imagen"></component>
	</b-container>
</template>

<script>
import Icon from 'vue-awesome/components/Icon';
import Formulario from './modalImagen.vue';
import EventBus from '../../helpers/event-bus.js';

export default{
	components: {
		'icon': Icon,
	},
	data: ()=>({
		imagen: null,
		modal: null,
	}),
	mounted(){

    },
	watch:{
            
    },
    computed:{
        
    },
    methods:{
       abrirImagen(img){
       	this.imagen = img.srcElement.src;
       	this.modal = Formulario;
       	EventBus.$emit('openModal','open');
       }
    }
}
</script>

<style scoped>
	[class*="col-"] {
      padding: 1rem;
  	}
</style>

