<template>
	<div>
		<!--- Image Slider -->	
		<imageslider-component :datos="club.id"></imageslider-component>
		<!--- Jumbotron -->
		<jumbotron-component v-if="club.jumbotron" :datos="club.id"></jumbotron-component>
		<!-- Partidas -->
		<b-row class="justify-content-md-center">
			<b-col sm="12" lg="8">
				<div class="text-center"><h2>Partidas</h2></div>
				<calendar-component :droppable="false" :editable="false" :header="header" :pistas="resources" :partidas="items"></calendar-component>
		
			</b-col>
		</b-row>
		<!--- Welcome Section -->
		<welcome-component v-if="club.welcome" :datos="club.id"></welcome-component>
		<!--- Cards Notices Section -->
		<card-component v-if="club.noticias" :datos="club.id"></card-component>
		<!--- Two Column Section -->
		<twocolumn-component v-if="club.columnas" :datos="club.id"></twocolumn-component>
		<!--- Fixed background Section-->
		<fixedback-component v-if="club.paralax" :image="club.imgparalax"></fixedback-component>
		<!--- Social Section -->
		<social-component :datos="club"></social-component>
		<!--- Three Column Patrocinadores Section -->
		<threecolumn-component v-if="club.patrocinadores" :datos="club.id"></threecolumn-component>



	</div>
</template>
<script>

import imageSlider from "./imageSlider.vue";
import jumbotron from "./jumbotron.vue";
import welcome from "./welcome.vue";
import threeColumn from "./threeColumn.vue";
import cards from "./cards.vue";
import twoColumn from "./twoColumn.vue";
import fixedBack from "./fixedBackground.vue";
import social from "./social.vue";
import calendar from '../extras/calendarioPartidas';

export default{
	props:['datos', 'partidas'],
	components: {
       'imageslider-component': imageSlider,
        'jumbotron-component': jumbotron,
        'welcome-component': welcome,
        'card-component' : cards,
        'threecolumn-component': threeColumn,
        'twocolumn-component': twoColumn,
        'fixedback-component': fixedBack,
        'social-component': social,
        'calendar-component': calendar,
    
    },
	data: ()=>({
		header: {
	        left: '',
            center: 'title',
            right: ''
	    },
	}),
	created(){
		
	},
	mounted(){
		this.cargarResources(this.datos.club[0].pistas);
    },
	watch:{
          
    },
    computed:{
        club(){
        	return this.datos.club[0];
        },
        items(){
        	return this.partidas;
        },
        resources(){
        	return this.cargarResources(this.datos.club[0].pistas);
        }

    },
    methods:{
        cargarResources(pistas){
	      let resources =   [];
	      let pista = '';
	      for(let x = 0; x < pistas; x++){
	        pista = x + 1;
	          resources[x] = {"id": pista, "name" : "Pista " + pista}; 
	      };
	      
	     return resources;
	    },
    }
}

	
</script>

<style scoped>
	#contenido{

		min-height: calc(100vh - 130px);
	}

</style>


	
	
