<template>
	<b-container fluid class="padding">
	    <b-carousel style="text-shadow: 1px 1px 2px #333;" :controls="controls" :indicators="indicators" :background="background" :interval="interval" :img-width="imgWidth" :img-height="imgHeight" v-model="slide" @sliding-start="onSlideStart" @sliding-end="onSlideEnd" >
	    	<template v-for="(image, key) in images">
	    		<template v-if="image.status == 'PUBLICADO'">
					<b-carousel-slide :caption="image.caption" :text="image.text" :img-src="image.imagen" :img-alt="image.alt" :href="image.web" :title="image.title"></b-carousel-slide>
	    		</template>
	    	</template>
	   </b-carousel>

	   
  </b-container>
</template>
<script>

export default{
	props:['datos'],
	data: ()=>({
		controls:true,
		indicators: true,
		interval: 4000,
        imgWidth:"1920",
        imgHeight:"400",
        background: "#ababab",
		slide: 0,
      	sliding: null,
      	images: [{imagen: "../img/fondo/fondo3.jpg", text: "Nulla vitae elit libero1, a pharetra augue mollis interdum." , caption: "First slide", alt:"", web: "#", title:""},{imagen: "../img/fondo/fondo3.jpg", text: "Nulla vitae elit libero2, a pharetra augue mollis interdum." , caption: "First slide", alt:"", web: "http://www.google.es", title:""},{imagen: "../img/fondo/fondo3.jpg", text: "Nulla vitae elit libero3, a pharetra augue mollis interdum." , caption: "First slide", alt:"", web: "#", title:""},{imagen: "../img/fondo/fondo3.jpg", text: "Nulla vitae elit libero4, a pharetra augue mollis interdum." , caption: "First slide", alt:"", web: "#", title:""}],
	}),
	mounted(){
        this.getSlider();
    },
	watch:{
            
    },
    computed:{
        
    },
    methods:{
    	getSlider(){
    		
			axios.get(`api/slider/${this.datos}`).then( (response) => {
				if(response.data.length){
					this.images = response.data;
				} 
			}, (error) => {
				console.log(error.response.data)
			}).catch((err) => {
	          console.log(err.data);
	        });
		},
        onSlideStart (slide) {
	      this.sliding = true
	    },
	    onSlideEnd (slide) {
	      this.sliding = false
	    }
    }
}

	
</script>

<style>
	.carousel-inner{
		//height: 450px;
	}
	.carousel-item {
	  transition: -webkit-transform 0.5s ease;
	  transition: transform 0.5s ease;
	  transition: transform 0.5s ease;
	  -webkit-backface-visibility: visible;
	  backface-visibility: visible;
	}

	.carousel-item {
	  max-height: 450px;
	  transition: -webkit-transform 0.5s ease !important;
	  transition: transform 0.5s ease !important;
	  transition: transform 0.5s ease, -webkit-transform 0.5s ease !important;
	  -webkit-backface-visibility: visible !important;
	  backface-visibility: visible !important; 
	}
	.carousel-inner img{
		width: 100% !important;
		height: 100% !important;
	}
	.carousel-caption{
		position: absolute !important;
		top: 50% !important;
		transform: trasnlateY(-50%) !important;
	}
	.carousel-caption h1{
		font-size: 500% !important;
		text-transform: uppercase !important;;
		text-shadow: 1px 1px 10px #000 !important;
	}
	.carousel-caption h3{
		font-size: 200% !important;
		font-weight: 500 !important;
		text-shadow: 1px 1px 10px #000 !important;
		padding-bottom: 1rem !important;
	}
</style>