<template>
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top padding">
		<b-container fluid>

			<router-link tag="a" :to="{name:'layout'}" class="nav-link nombre_club">
				<img :src="item.logo" class="logo"><span>{{item.nombre}}</span>
			</router-link>
			<button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collpse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<router-link tag="a" class="nav-link" :to="{name: 'partidas'}" title="Partidas">
							Partidas
						</router-link>
					</li>
					<li class="nav-item">
						<router-link tag="a" class="nav-link" :to="{name: 'ligas'}" title="Ligas y Torneos">
							Ligas y Torneos
						</router-link>
					</li>
					<li class="nav-item">
						<router-link tag="a" class="nav-link" :to="{name: 'clases'}" title="Clases">
							Clases
						</router-link>
					</li>
					<li class="nav-item">
						<router-link tag="a" class="nav-link" :to="{name: 'galerias'}" title="Galería">
							Galería
						</router-link>
					</li>
					<li class="nav-item">
						<router-link tag="a" class="nav-link" :to="{name: 'noticias'}" title="Noticias">
							Noticias
						</router-link>
					</li>

					<template v-if="!currentUser">
						<li class="nav-item" title="Login">
							<a @click="abrirLogin" class="nav-link click">Login</a>
						</li>
					</template>
					<template v-else>
						<b-nav-item-dropdown :text="currentUser.nick" class="nav-item" right>
							<ul>
								<li class="nav-item">
									<router-link tag="a" class="nav-link" :to="{name: 'perfil', params: {nick:currentUser.nick}}" title="Perfil">
										Perfil
									</router-link>
								</li>
							</ul>
							<div class="d-flex flex-row justify-content-around">
								<b-button variant="outline-danger" @click="logout">Cerrar sesión</b-button>
							</div>
						</b-nav-item-dropdown>
				    </template>
				</ul>

			</div>
		</b-container>
		<component :is="modal" :datos="item"></component>
	</nav>

</template>

<script>
	import userLogin from '../DashBoardUser/auth/loginForm.vue';
	import EventBus from '../../helpers/event-bus.js';


export default{
	props:['datos'],
	components: {
	    'login-modal' : userLogin,
	},
	data: ()=>({
		logo: "../img/logo/unpadel.png",
		modal: null,
	}),
	mounted(){
		console.log(this.$store.getters.currentUser)
	},
	watch:{
       
    },
    computed:{
        item(){
        	return this.datos.club[0];
        },
        currentUser(){
        	return this.$store.getters.currentUser;
        }
    },
    methods:{
        abrirLogin(){
        	this.modal = userLogin;
        	EventBus.$emit('openModal','open');
        },
        logout(){
        	this.$store.commit('logout');
        }
       
        	
       
    }
}

	
</script>
<style scoped>
	.router-link-active, .router-link-active[aria-expanded="true"] {
	    //color: #fff;
	   // background: #0275d8;
	} 
	.logo{
		width: 60px;
		height: 60px;
	}
	.navbar{ 
		padding: .8rem;
		z-index: 99999;
	}
	.navbar-nav li{
		padding-right: 20px;
	}
	.nav-link{
		font-size: 1.1em !important;
	}
	[class*="col-"] {
    	padding: 1rem;
	}
	.padding{
		padding-bottom: 2rem;
	}
	.nombre_club>span {
	  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
	  text-transform: uppercase;
	  font-size: 2rem;
	  color: #000;
	  text-shadow: 0 8px 9px #8d8d8d, 0px -2px 1px #fff;
	  margin-left: 2rem;
	  text-align: center;
	  vertical-align: middle;
	  white-space: nowrap;

	}
	@media (max-width: 1080px) {
		.nombre_club>span {
			//display: none;
			font-size: 1.7rem;
		}
	}
	@media (max-width: 1010px) {
		.nombre_club>span {
			//display: none;
			font-size: 1.6rem;
		}
	}
	@media (max-width: 750px) {
		.nombre_club>span {
			display: inline-flex;
			//font-size: 1.1rem;
		}
	}

</style>