<template>
	<b-container fluid class="padding">
		<b-row class="text-center padding" v-if="bqsocial">
			<b-col class="social padding">
				<template v-for="(social, key) in socials">
				
					<a :href="`http://${social.url}`" target="_blank"> <icon :name="social.ico" scale="3" :class="social.ico"></icon></a>
				
				</template>
			</b-col>
		</b-row>
		<div class="social-bar" v-if="brsocial">
			<template v-for="(social, key) in socials">
				
				<a :href="`http://${social.url}`" target="_blank"> <icon :name="social.ico" scale="3" class="icon" :class="'icon-' + social.ico"></icon></a>
				
			</template>
		</div>
	</b-container>
</template>

<script>
import Icon from 'vue-awesome/components/Icon';

export default{
	props:['datos'],
	components: {
		'icon': Icon,
	},
	data: ()=>({
		socials: [],
		color: 'color:blue',
		redesSociales: ['facebook','twitter','google','instagram','youtube'],
	}),
	mounted(){
        this.getSocial();
    },
	watch:{
            
    },
    computed:{
    	brsocial(){
    		return this.datos.brsocial;
    	},
    	bqsocial(){
    		return this.datos.bqsocial;
    	},
        
    },
    methods:{
    	getSocial(){
			axios.get(`api/social/${this.datos.id}`).then((response)=>{
				if(response.data.length){
					this.socials = this.mapSocial(response.data[0]);					
				}
       			
      		}, (error) => {
            console.error(error.response);
          })
		},
		mapSocial(socials){
			let icos = this.redesSociales;
			let redesSociales = []

			for(let social in socials){
				for(let ico in icos){
					if(icos[ico] == social){
						if(social == 'google'){
							(socials[social] == null || socials[social] == 'null' || socials[social] == '')? '' : redesSociales.push({ico : 'google-plus', url: socials[social]});
						}else{
							(socials[social] == null || socials[social] == 'null' || socials[social] == '')? '' :redesSociales.push({ico : social, url: socials[social]});
						}
					}
				}
			}
			return redesSociales;
		},
       
    }
}

	
</script>

<style scoped>

	.social-bar {
	  position: fixed;
	  top: 35%;
	  right: 0;
	  font-size: 1.5rem;
	  display: flex;
	  flex-direction: column;
	  align-items: flex-end;
	  z-index: 100;
	 
	}
	.icon{
		color: white;
		text-decoration: none;
		padding: .7rem;
		display: flex;
		transition: all .5s;
		min-width: 3rem;
		min-height: 3rem;
	}
	.icon-facebook{
		background: #3b5998;
	}
	.icon-twitter{
		background: #00aced;
	}
	.icon-google-plus{
		background: #dd4b39;
	}
	.icon-instagram{
		background: #517fa4;
	}
	.icon-youtube{
		background: #bb0000;
	}
	.icon:hover{
		margin-right: 1rem;
		border-radius: 1rem 0 0 1rem;
		box-shadow: 0 0 .5rem rgba(0,0,0,0.42)
	}

	.social a{
		font-size: 4.5em;
		padding: 3rem;
	}
	.facebook{
		color: #3b5998;
	}
	.twitter{
		color: #00aced;
	}
	.google-plus{
		color: #dd4b39;
	}
	.instagram{
		color: #517fa4;
	}
	.youtube{
		color: #bb0000;
	}
	[class*="col-"] {
      padding: 1rem;
  	}
	svg.fa-icon.facebook:hover,
	svg.fa-icon.twitter:hover,
	svg.fa-icon.google-plus:hover,
	svg.fa-icon.instagram:hover,
	svg.fa-icon.youtube:hover{
		color: #d5d5d5;
	}

	@media (max-width: 992px) {
		.social a{
			font-size: 4em;
			padding: 2rem;
		}
  	}
  	@media (max-width: 768px) {
  		.social a{
			font-size: 2.5em;
			padding: 1.2rem;
		}
	}
	@media (max-width: 576px) {
  		.social a{
			font-size: 2em;
			padding: .7rem;
		}
	}
</style>