<template>
	<b-container>
		<h2 class="text-center">Patrocinadores</h2>
		<div id="carouselPatrocinadores" class="carousel slide mb-5" data-ride="carousel">
			<b-row>
				<b-col cols="1">
					<b-button v-if="Ncarruseles >= 2" variant="outline-primary" size="sm" class="carousel-control-prev" href="#carouselPatrocinadores" role="button" data-slide="prev"><span class="primary"><icon name="angle-left" scale="1"></icon></span></b-button>
				</b-col>
				<b-col cols="10">
					<div class="carousel-inner" style="height: 200px">
						<template v-for="i in Ncarruseles">
							<div class="carousel-item" :class="[i == 1 ? 'active': '']">
								<b-row>
									<b-col cols="3" v-for="item in carruseles[(i-1)]" :key="item.id"><a :href="`http://${item.web}`" target="_blank"><b-img class="d-block w-100" :src="item.imagen" alt=""/></a>
									</b-col>
									
								</b-row>
							</div>
						</template>
					</div>
				</b-col>
				<b-col cols="1">
					<b-button v-if="Ncarruseles >= 2" variant="outline-primary" size="sm" class="carousel-control-next" href="#carouselPatrocinadores" role="button" data-slide="next"><span class="primary"><icon name="angle-right" scale="1"></icon></span></b-button>
				</b-col>
			</b-row>
		
		</div>
	</b-container>
</template>

<script>

import Icon from 'vue-awesome/components/Icon';

export default{
	components: {
		'icon': Icon,
	},
	props:['datos'],
	data: ()=>({
		col: 4,
		Ncarruseles: 0,
		carruseles: [],
	}),
	mounted(){
        
    },

	created() {
		this.getPatrocinadores();

	},
	watch:{
            
    },
    computed:{
       
    },
    methods:{
       getPatrocinadores(){
    		axios.get(`api/patrocinadores/${this.datos}`).then( (response) => {
				if(response.data.length){
					this.Ncarruseles = Math.ceil(response.data.length/4);
					this.divideArray(response.data);
				} 
			}, (error) => {
				console.log(error.response.data)
			}).catch((err) => {
	          console.log(err.data);
	        });
		}, 
		divideArray(value){
			let Ncarruseles = Math.ceil(value.length/4);
			let carruseles = [];
			let arrayCarrusel = [];
			let inicio = 0;
			let fin = 4;

			for(let i = 0; i < Ncarruseles; i++){
				arrayCarrusel = [];
				for(let n = 0; n < fin; n++){
					if(value[n] == null){
						break;
					}else{
						arrayCarrusel.push(value[n]);
					}
					
					
				};
				value.splice(0,4);
				carruseles[i] = arrayCarrusel;
			}
			this.carruseles = carruseles;

		}
    }
}

	
</script>

<style scoped>
	.carousel-control-next{
		right: 80%;
	}
	.carousel-control-prev{
		left: 80%;
	}
	/*.carousel-control-next:hover,
	.carousel-control-prev:hover,
	.btn:hover{
		color: #fff !important;
	}*/
	
	.primary{
		color: #007bff;
	    height: 100%;
	    position: absolute;
	    top: 45%;
	    width: 100%;	
	}
	.primary:hover{
		color: #fff;
	}
</style>