<template>
	<b-container fluid>
		<b-row align-h="center">
			
			<b-col sm="12" lg="5" class="text-center">
				<h2> {{ item.titulo }}</h2>
				<p v-html="item.contenido" class="text-justify"> </p>
				<br>
				<b-btn v-if="item.web"  class="position-absolute" :href="`http://${item.web}`"  target="_blank" variant="primary">{{item.nombre}}</b-btn>
			</b-col>
			<b-col sm="12" lg="4" >
				<b-img :src="item.imagen" fluid/>
			</b-col>
			
		</b-row>
		<hr class="my-4">
	</b-container>
</template>

<script>

export default{
	props:['datos'],
	data: ()=>({
		item: [],
	}),
	mounted(){
       this.getColumnas();  
    },
	watch:{
            
    },
    computed:{
        
    },
    methods:{
       getColumnas(){
			axios.get(`api/columnas/${this.datos}`).then((response)=>{
				if(response.data.length){
					this.item = response.data[0];
				}
				
      		}, (error) => {
            console.error(error.response);
          })
		},
    }
}

	
</script>

<style scoped>
	[class*="col-"] {
      padding: 1rem;
  	}

  	.position-absolute{
  		bottom: 15px;
  		right: 0px;
  	}

</style>