 <template> 

 	<b-container fluid>
 		<div class="text-center"><h2>Registrar Jugador</h2></div> 
 		<b-row>
 			<b-col>
 				<router-link class="btn btn-primary float-right mb-3" v-bind:to="'/users'">Volver al listado de Usuarios</router-link>
 			</b-col>
 		</b-row>
 		
 		<b-card-group>
 			<b-card class="mr-1" header-tag="header">
 				<h5 slot="header" class="mb-0">Padeler@: </h5>
 				<b-row class="mb-2">
 					<b-col sm="12" md="4">
 						<div class="mb-2 mx-auto" style="max-height:61.5%; height:128px; max-width: 150px">
 							<b-img :src="item.avatar" center fluid rounded/>
 						</div>
 						<uploadFile @imagen="nuevaImg($event)" :ver="false" :botones="false"></uploadFile>
 					</b-col>
 					<b-col>
 						<b-row class="mb-3">
 							<b-col sm="12" md="4">
		 						<b-form-group label="Nombre:">
		 							<b-form-input type="text" v-model.trim="item.nombre" aria-describedby="nombreFeedback" :state="nameState"  @keydown.enter.native="crear" required></b-form-input>
		 							<b-form-invalid-feedback id="nombreFeedback">
		 								{{ errores.nombre }}
		 							</b-form-invalid-feedback>
		 						</b-form-group>
		 					</b-col>
		 					<b-col sm="12" md="4">
		 						<b-form-group label="Apellidos:">
		 							<b-form-input type="text" v-model.trim="item.apellidos" aria-describedby="apellidosFeedback" :state="apellidosState"  @keydown.enter.native="crear" required></b-form-input>
		 							<b-form-invalid-feedback id="apellidosFeedback">
		 								{{ errores.apellidos }}
		 							</b-form-invalid-feedback>
		 						</b-form-group>
		 					</b-col>
		 					<b-col sm="12" md="4">
		 						<b-form-group label="Nick:">
		 							<b-form-input type="text" v-model.trim="item.nick" aria-describedby="nickFeedback" :state="nickState"  @keydown.enter.native="crear" required></b-form-input>
		 							<b-form-invalid-feedback id="nickFeedback">
		 								{{ errores.nick }}
		 							</b-form-invalid-feedback>
		 						</b-form-group>
		 					</b-col>
		 				</b-row>
 						<b-row>
	 						<b-col sm="12" md="4">
		 						<b-form-group label="Sexo">
						      		<b-form-radio-group buttons  button-variant="outline-primary" v-model="item.sexo" :options="optionSexo" />
						  		</b-form-group>
						  	</b-col>
	 						<b-col sm="12" md="4">
		 						<b-form-group label="Posicion:">
		 							<b-form-select v-model.number="item.posicion" :options="comboPosiciones" class="mb-3"/>
		 						</b-form-group> 
		 					</b-col>
		 					<b-col sm="12" md="4">
		 						<b-form-group label="Nivel:">
		 							<b-form-select v-model.number="item.nivel_id" :options="comboNiveles" class="mb-3"/>
		 						</b-form-group>
		 					</b-col>
	 					</b-row>
 					</b-col>
 					
 				</b-row>
 			</b-card>
 		</b-card-group>
 		<b-card-group>
 			
 			<b-card class="ml-0" header-tag="header">
 				<h5 slot="header" class="mb-0">Datos de contacto:</h5>
 				<b-row>
					<b-col sm="6" md="4">
						<b-form-group label="Código Postal:">

							<b-form-input type="number" v-model.trim="item.postal" aria-describedby="postalFeedback" :state="postalState"  @keydown.enter.native="crear"></b-form-input>
							<b-form-invalid-feedback id="postalFeedback">
								{{ errores.postal }}
							</b-form-invalid-feedback> 	

						</b-form-group>
					</b-col>
					<b-col sm="6" md="4">
						<b-form-group label="Población:">

							<b-form-input type="text" v-model.trim="item.poblacion" aria-describedby="poblacionFeedback" :state="poblacionState" disabled></b-form-input>
							<b-form-invalid-feedback id="poblacionFeedback">
								{{ errores.poblacion }}
							</b-form-invalid-feedback> 	

						</b-form-group>
					</b-col>
					<b-col sm="4" md="4">
						<b-form-group label="Desplazamiento:">
							<b-form-select v-model.number="item.desplazamiento" :options="comboDesplazamientos" class="mb-3"/>
						</b-form-group>
					</b-col>
				</b-row>
 				<b-row>
 					<b-col sm="12" md="3">
 						<b-form-group label="Teléfono:">
 							<b-form-input type="number" v-model.trim="item.telefono" aria-describedby="telefonoFeedback" :state="telefonoState"  @keydown.enter.native="actualizar" required></b-form-input>
 							<b-form-invalid-feedback id="telefonoFeedback">
 								{{ errores.telefono }}
 							</b-form-invalid-feedback> 	
 						</b-form-group>
 					</b-col>
 					<b-col sm="12" md="5">
 						<b-form-group label="Correo-e:">
 							<b-form-input type="email" v-model.trim="item.email" aria-describedby="emailFeedback" :state="emailState"  @keydown.enter.native="actualizar"></b-form-input>
 							<b-form-invalid-feedback id="emailFeedback">
 								{{ errores.email }}
 							</b-form-invalid-feedback> 	
 						</b-form-group>
 					</b-col>
 					<b-col sm="12" md="2">
 						<b-form-group label="Contraseña:">
 							<b-form-input type="password" v-model.trim="item.password" aria-describedby="passFeedback" :state="passState"  @keydown.enter.native="actualizar" required></b-form-input>
 							<b-form-invalid-feedback id="passFeedback">
 								{{ errores.pass }}
 							</b-form-invalid-feedback>
 						</b-form-group>
 					</b-col>
 					<b-col sm="12" md="2">
 						<b-form-group label="Repetir contraseña:">
 							<b-form-input type="password" v-model.trim="item.password_confirmation" aria-describedby="passFeedback" :state="passState"  @keydown.enter.native="actualizar" required></b-form-input>
 							<b-form-invalid-feedback id="passFeedback">
 								{{ errores.pass_confirm }}
 							</b-form-invalid-feedback> 	
 						</b-form-group>
 					</b-col>
 					
 				</b-row>
 			</b-card>
 		</b-card-group>
 		<b-card-group>
 			<b-card class="mr-1" header-tag="header">
 				<h5 slot="header" class="mb-0">Disponibilidad:</h5>
 				<span style="color: rgba(0, 0, 0, 0.65)">Escriba la hora en formato 24h</span>
 				<b-row class="mb-2">
 					<template v-for="(item, index) in comboDias">	
	 					<b-col sm="6" md="3">
	 						<b-form-group horizontal>
			 					{{ item }} a partir de las
								<b-form-input type="time" v-model="disponibilidad[item]" @keydown.enter.native="actualizar"></b-form-input>
							</b-form-group>
						</b-col>
		 			</template>	
		 		</b-row>
		 	</b-card>
		</b-card-group>
		<b-card-group>
 			<b-card class="mr-1" header-tag="header">
 				<h5 slot="header" class="mb-0">Comentarios:</h5>
 				<b-form-textarea type="text" v-model="item.comentarios" aria-describedby="comentarioFeedback" :rows="3" :max-rows="6"></b-form-textarea >
		        <b-form-invalid-feedback id="comentarioFeedback">
		          {{ errores.comentarios }}
		        </b-form-invalid-feedback>
				 	</b-card>
		</b-card-group>
 		<div class="float-right">
 			<b-btn class="mt-3" variant="outline-primary" @click="crear">Guardar</b-btn>
 			<b-btn class="mt-3" variant="outline-primary" @click="cancelar">Cancelar</b-btn>
 		</div>

 	</b-container>
 </template>

 <script>
 import uploadFile from '../../extras/uploadFile.vue';
 import Icon from 'vue-awesome/components/Icon';
 import validaciones from '../../../helpers/validaciones';
 import funciones from '../../../helpers/funciones';
 
 export default {
 	props:['datos'],
 	components: {
 		uploadFile,
 		'icon': Icon, 

 	},
 	mixins: [validaciones,funciones],
 	origen:'crear',
 	data: ()=>({

 		pageUrl: 'pyrs',
 		item: {nombre: null, apellidos: null, sexo: 'HOMBRE', nick: null, telefono: null, movil: null, email: null, password: null, password_confirmation: null, disponibilidad: null, posicion: "INDIFERENTE", nivel_id: 1,poblacion: null, poblacion_id: null, avatar: null, postal: null, clubs_id: 8, desplazamiento:5},
 		comboNiveles: [],
 		comboClubs: [],
		comboPosiciones: [{value:'REVÉS',text:'REVÉS'},{value: 'DERECHA', text: 'DERECHA'},{value: 'INDIFERENTE', text: 'INDIFERENTE'}],
		comboDesplazamientos: [{value:5,text:'5 Km'},{value: 10, text: '10 Km'},{value: 15, text: '15 Km'},{value: 20, text: '20 Km'},{value: 25, text: '25 Km'},{value: 30, text: '30 Km'},{value: 35, text: '35 Km'},{value: 40, text: '40 Km'}],
		comboDias: ['Lunes','Martes','Miércoles','Jueves','Viernes','Sábado','Domingo'],
		disponibilidad: {'Lunes' : null ,'Martes': null, 'Miércoles': null ,'Jueves': null,'Viernes': null,'Sábado': null,'Domingo': null},
		optionSexo: [{value: 'HOMBRE', text:'Hombre'},{value: 'MUJER', text: 'Mujer'}],
		newFile: null,
 		errores: [],
 		erroresServidor: [], 
 	}),
 	watch:{
 		'item.nick'(newVal, oldVal){
 			newVal != oldVal? this.erroresServidor.splice(this.erroresServidor.indexOf('nick'),1) : '';
 		},
 		'item.email'(newVal, oldVal){
 			newVal != oldVal? this.erroresServidor.splice(this.erroresServidor.indexOf('email'),1) : '';
 		},
 	},
 	created(){
 		this.comboNiveles = this.$store.state.niveles;
 	},
 	computed: {
 		club(){
 			return this.datos.club[0];
 		},
 		nameState () {
 			return this.validarNombre();
 		},
 		apellidosState () {
 			return this.validarApellidos();
 		},
 		nickState () {
 			return this.validarNick();
 		},
 		telefonoState(){
 			return this.validarTelefono();
 		},
 		movilState(){
 			return this.validarMovil();
 		},
 		emailState(){
 			return this.validarMail();
 		},
 		postalState(){
 			return this.validarPostal();
 		},
 		poblacionState(){
 			return this.validarPoblacion();
 		},
 		passState(){
 			return this.validarPass();
 		},
 	},
 	methods:{
 		validarNombre(){
	      if(this.item.nombre != null){
	        if (this.item.nombre.trim() == ''){
	          this.errores.nombre = "No puede estar vacio";
	            return false
	          }
	        if(!this.validarTexto(this.item.nombre)){
	          this.errores.nombre = "No puede contener números";
	          return false
	        }
	      }
	      
	      return this.item.nombre == null? null: true;
	    },
	    validarApellidos(){
	      if(this.item.apellidos != null){
	        if (this.item.apellidos.trim() == ''){
	        	return true;
	        }
	        if(!this.validarTexto(this.item.apellidos)){
	          this.errores.apellidos = "No puede contener números";
	          return false
	        }
	      }
	      
	      return this.item.apellidos == null? true: true;
	    },
 		validar(){
 			if(this.validarNombre() && this.validarNick() && (this.validarTelefono() || this.validarTelefono() == null) && this.validarMail() && this.validarPostal() && this.validarPoblacion()){
 				return true;
 			}else{
 				return false;
 			}
 		},
 		nuevaImg(imagen){
 			this.item.avatar = imagen.img == "" ? "": imagen.img;
 			this.newFile = imagen.file == "" ? "" : imagen.file;
 		},
 		cancelar(){
 			this.item = {nombre: null, apellidos: null, sexo: 'Hombre', nick: null, telefono: null, movil: null, email: null, password: null, password_confirmation: null, disponibilidad: null, posicion: "INDIFERENTE", nivel_id: 1,poblacion: null, poblacion_id: null, avatar: null, postal: null, clubs_id: 1, desplazamiento:5};
 			this.status = {lv: false, ld: false, ldmt: false, fs: false, f: false};
 			this.errores = [];
 			this.erroresServidor = [];
 			this.$router.push({name: 'ListUsersClub'});
		},
		crear(){
			let token = document.head.querySelector('meta[name="csrf-token"]');
			this.item.clubs_id = this.club.id;
			this.item.remember_token = 	token.content;
			this.item.disponibilidad = this.disponibilidadJugador(this.disponibilidad);
			this.item.telefono = this.item.telefono == null? '': this.item.telefono;
			const resError = {check: ''};
			let form = this.toFormData(this.item, this.newFile);

			if(this.validar()){
				axios.post(this.pageUrl, form).then((response) => {
					this.errores = resError;
					
					response.data.status == 'success' ? (this.$router.push({name: 'ListUsersClub'}), toastr.success(response.data.msg)): toastr.warning(response.data.msg);

				}, (error) => {
					console.log(error.response);
					let errores = error.response.data.errors;
					this.erroresServidor = [];
					this.errores = resError;

					for (let key in errores){
						this.erroresServidor.push(key);
						this.errores[key] = errores[key][0];
						toastr.warning(errores[key][0]);
					} 
				});
			}else{
				const nullables = ['telefono'];
				let obj = this.item;
				for (let key in obj){
					if(obj[key] == null){
						if(nullables.includes(key)){
							obj[key] != '' ? obj[key] = obj[key]: obj[key] = null;
						}else{
							obj[key] = '';
						}

					}else{
						if(nullables.includes(key)){
							obj[key] != null ? obj[key] =  obj[key]: obj[key] = null;
						}else{
							obj[key] = obj[key];
						}
					}
				}
			}

		},
	}

	
}
</script>	

<style scoped>
.fieldset{
	border: 1px solid #e9ecef;
}

#horario .row{
	border-right : 1px solid rgba(0, 0, 0, 0.125);
}
.ulti{
	border-right : none !important;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button,
input[type=time]::-webkit-inner-spin-button{
	-webkit-appearance: none;
	margin: 0;
}

input[type=number], input[type=time] {
	-moz-appearance:textfield;
}
input[type=time]{
	text-align: center;
}
.card-group{
	padding: 2px 0;
}
.ml-0{
	border-left : 1px solid rgba(0, 0, 0, 0.125) !important;
}
.error{
	width: 100%;
	margin-top: 0.25rem;
	font-size: 80%;
	color: #dc3545;
}
</style>

