<template> 
	<tr>
		<template v-if="isEdit">
			<td>
				<b-form-input type="text" v-model.trim="edit_.nombre" aria-describedby="nombreFeedback" :state="nameState"  @keydown.enter.native="update" required></b-form-input>
				<b-form-invalid-feedback id="nombreFeedback">
				  {{ errores.nombre }}
				</b-form-invalid-feedback>
			</td>
			<td>
				<b-form-input type="text" v-model.trim="edit_.nick" aria-describedby="nickFeedback" :state="nickState"  @keydown.enter.native="update" required></b-form-input>
				<b-form-invalid-feedback id="nickFeedback">
				  {{ errores.nick }}
				</b-form-invalid-feedback>
			</td>
			<td>
				<b-form-select v-model.number="edit_.nivel_id" :options="comboNiveles" class="mb-3"/>
			</td>
			<td>
				<b-form-select v-model.number="edit_.posicion" :options="comboPosiciones" class="mb-3"/>
			</td>
			<td>
				<b-form-input type="number" v-model.trim.lazy="edit_.telefono" aria-describedby="telefonoFeedback" :state="telefonoState"  maxlength="9" @keydown.enter.native="update" required></b-form-input>
				<b-form-invalid-feedback id="telefonoFeedback">
				  {{ errores.telefono }}
				</b-form-invalid-feedback>
			</td>
			<td>
				<b-form-input type="text" v-model.trim="edit_.poblacion" disabled></b-form-input>
			</td>
			<td>
				<b-button-group>
	              <b-btn variant="success" @click="update"><icon name="check"></icon></b-btn>
	              <b-btn variant="danger" @click="cancelar"><icon name="close"></icon></b-btn>
	            </b-button-group>
			</td>
		</template> 
		<template v-else>
		   <router-link tag="td" class="click" v-bind:to="{name: 'ShowUserClub', params: {user: item, nombre: item.nombre}}">{{item.nombre}}</router-link>
           <router-link tag="td" class="click" v-bind:to="{name: 'ShowUserClub', params: {user: item, nombre: item.nombre}}">{{item.nick}}</router-link>
           <router-link tag="td" class="click" v-bind:to="{name: 'ShowUserClub', params: {user: item, nombre: item.nombre}}">{{item.nivel}}</router-link>
           <router-link tag="td" class="click" v-bind:to="{name: 'ShowUserClub', params: {user: item, nombre: item.nombre}}">{{item.posicion}}</router-link>
           <router-link tag="td" class="click" v-bind:to="{name: 'ShowUserClub', params: {user: item, nombre: item.nombre}}">{{item.telefono}}</router-link>
           <router-link tag="td" class="click" v-bind:to="{name: 'ShowUserClub', params: {user: item, nombre: item.nombre}}">{{item.poblacion}}</router-link>
           <td>
                <b-button-group>
	              	<b-btn variant="success" @click="editBtn"><icon name="pencil"></icon></b-btn>
	              	<b-btn variant="danger" @click="deleteBtn"><icon name="trash-o"></icon></b-btn>
	            </b-button-group>
          </td>
		</template>
	</tr>
</template>
<script>
	import Icon from 'vue-awesome/components/Icon';
	import validaciones from '../../../helpers/validaciones';

	export default{
		components: {
		   
		    'icon': Icon,
		  
		},
		props: ['item'],
		mixins: [validaciones],
  		origen:'editar',
		data: ()=>({
			edit_: null,
			isEdit: false,
			errores:  [],
			erroresServidor: [],
			comboNiveles: [],
			comboPosiciones: [{value:'REVÉS',text:'REVÉS'},{value: 'DERECHA', text: 'DERECHA'},{value: 'INDIFERENTE', text: 'INDIFERENTE'}],
		}),
		created(){
			this.comboNiveles = this.$store.state.niveles;
		},
		mounted(){
			this.item.password = null;
			this.edit_ = _.clone(this.item);

		},
		computed: {
			nameState () {
        		return this.validarNombre();
		    },
		    nickState () {
        		return this.validarNick();
		    },
		    telefonoState(){
		    	return this.validarTelefono();
		    },
		    emailState(){
	    		return this.validarMail();
	    	},
		},
		methods:{
			prueba(){
				window.location = "/club/ver/" + this.edit_.id;
			},
			validar(){
		        if(this.validarNombre() && this.validarNick() && this.validarTelefono() && this.validarMail()){
		          return true;
		        }else{
		          return false;
		        }
		    },
			cancelar(){
		        this.isEdit = false;
		        this.edit_ = _.clone(this.item);
		    },
			editBtn(){
				this.isEdit = !this.isEdit
			},
			update(){
				if(this.validar()){
					this.$emit('update', this.edit_);
					this.isEdit = false;
				}
			},
			deleteBtn(){
				this.$emit('delete', this.edit_);
			},
		}
	}
</script>

<style scoped>
	input[type=number]::-webkit-outer-spin-button,
	input[type=number]::-webkit-inner-spin-button{
		-webkit-appearance: none;
		margin: 0;
	}

	input[type=number]{
		-moz-appearance:textfield;
	}

</style>