<template>
	<div class="text-center wrapper">
		<h1> Ligas y torneos</h1>
	</div>
</template>
<script>
	export default{
		data: ()=>({
			
		}),
		mounted(){
			
		},
		methods:{
			
		}
	}
</script>

<style scoped>
.wrapper {
    min-height: calc(100vh)
}
</style>