<template>
  
	<b-modal v-model="modalShow" hide-footer :title="titulo" centered :header-bg-variant="colorHeaderBackground" :header-text-variant="colorHeaderText"> 
    <template v-if="select.partida_fija == 'SI' && formulario == 2 || isEdit"><span class="fijarPartida">Partida Fija</span></template>
    <span v-if="formulario == 2 || formulario == 4 || formulario == 5" class="textoInput text-center" :class="[select.status == 'ABIERTA' ? 'abierta' : 'cerrada']">
      <h5> {{ select.status }} </h5>
      <template v-if="palas.length != 4"> Faltan {{ 4 - palas.length}} palas</template>
    </span>
      <b-form-group>
        <template v-if="formulario == 1">
          <b-row>
            <b-col>
             <span class="textoInput text-center" :class="[item.status == 'ABIERTA' ? 'abierta' : 'cerrada']">
                <h5> {{ item.status }} </h5>
              </span>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="4" md="4">
              Nivel de la partida:
            </b-col>
            <b-col sm="4" md="3">
             <b-form-select v-model="item.nivelPartida_id" :options="comboNiveles" class="mb-3"/>
            </b-col>
          </b-row>
          <span class="disponibilidad" ref="noPartidas"></span>
        </template>
        <template v-else>
          <b-row class="nivel mb-3">
            <b-col class="text-center">
              <span class="textoInput">Nivel de la partida <strong>{{ select.datosJugador[0].nivel }}</strong></span>
            </b-col>
          </b-row>
        </template>
        <b-row>
          <b-col>
            <template v-if="formulario == 1">
              Fecha: <partidaPicker :partida.sync="fecha" :item="item.inicio_alquiler"></partidaPicker>
            </template>
            <template v-else>
              <template v-if="isEdit">
                Fecha: <partidaPicker :partida.sync="fecha" :item="edit_.inicio_alquiler"></partidaPicker>
              </template>
              <template v-else>
                Fecha: <span class="textoInput"><strong>{{ select.inicio_alquiler  | formatearFecha }}</strong></span>
              </template>
            </template>
          </b-col>
          <b-col>
            <b-row class="mb-3">
                <b-col>
                   Pista: 
                  <template v-if="formulario == 1">
                    <b-form-select v-model="item.pista" :options="pistasDisponibles" value-field="pista" text-field="pista" @change="cambiarPista($event)" class="mb-3"/>
                  </template>
                  <template v-if="isEdit">
                    <b-form-select v-model="edit_.pista" :options="pistasDisponibles" value-field="pista" text-field="pista" @change="cambiarPista($event)" class="mb-3" />
                  </template>
                  <template v-if="formulario != 1 && !isEdit">
                    <span class="textoInput"><strong>{{ select.pista }}</strong></span>
                  </template>
                </b-col>
              </b-row>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            Hora inicio partida:
            <template v-if="formulario == 1">
              <b-form-select v-model="item.inicio" :options="horaFrom" value-field="hora" text-field="hora" @change="cambiarHora($event)" class="mb-3"/>
            </template>
            <template v-if="isEdit">
              <b-form-select v-model="edit_.inicio" :options="horaFrom" value-field="hora" text-field="hora" @change="cambiarHora($event)" class="mb-3" />
            </template>
            <template v-if="formulario != 1 && !isEdit">
             <span class="textoInput"><strong>{{ select.inicio_alquiler | formatearHora }}</strong></span>
            </template>
           </b-col>
          <b-col>
            Hora fin partida:
            <template v-if="formulario == 1">
              <b-form-select v-model="item.fin" :options="horaTo" value-field="hora" text-field="hora" class="mb-3" />
            </template>
            <template v-if="isEdit">
              <b-form-select v-model="edit_.fin" :options="horaTo" value-field="hora" text-field="hora" class="mb-3" />
            </template>
            <template v-if="formulario != 1 && !isEdit">
             <span class="textoInput"><strong>{{ select.fin_alquiler | formatearHora }}</strong></span>
            </template>
          </b-col>
        </b-row>
      </b-form-group>
      <template v-if="formulario != 3">
        <template v-if="isEdit || formulario == 1 || formulario == 2">
          <template v-if="select.abierta_por != 'CLUB' && formulario != 1">
            <b-form-checkbox v-model="isClub">
              <span class="info"> Marcar si la pista se la queda el club</span>
            </b-form-checkbox>
          </template>
          <template v-if="formulario == 1">
            <b-form-checkbox v-model="item.partida_fija" value="SI" unchecked-value="NO">
              <span class="info"> ¿Fijar partida?</span>
            </b-form-checkbox>
            <b-form-checkbox v-model="item.status" value="CERRADA" unchecked-value="ABIERTA">
              <span class="info"> ¿Cerrar partida?</span>
            </b-form-checkbox>
            <b-form-checkbox v-model="autoCompletar" value="SI" unchecked-value="NO">
              <span class="info"> ¿Completar campos?</span>
            </b-form-checkbox>
          </template>
          <template v-else>
            <b-form-checkbox v-model="edit_.partida_fija" value="SI" unchecked-value="NO">
              <span class="info"> ¿Fijar partida?</span>
            </b-form-checkbox>
          </template>
        </template>    
        <b-form-group label="Palas:" >
          <div class="effect">
            <template v-if="formulario == 1 || formulario == 2 || isEdit">
              <b-form-group style="padding-top: 10px">
                <template v-if="isEdit">
                  <b-form-input type="text" v-model.trim="edit_.jugadoresPartida[0].pala" aria-describedby="pala1Feedback" :state="pala1State"  @keydown.enter.native="actualizar"></b-form-input>
                </template>
                <template v-else>
                  <b-form-input type="text" v-model.trim="item.jugadoresPartida.pala" aria-describedby="pala1Feedback" :state="pala1State"  @keydown.enter.native="crear"></b-form-input>
                </template>
                <b-form-invalid-feedback id="pala1Feedback">
                  {{ errores }}
                </b-form-invalid-feedback>
              </b-form-group>
              <b-form-group>
                <template v-if="isEdit">
                  <b-form-input type="text" v-model.trim="edit_.jugadoresPartida[0].pala2" aria-describedby="pala2Feedback" :state="pala2State"  @keydown.enter.native="actualizar"></b-form-input>
                </template>
                <template v-else>
                  <b-form-input type="text" v-model.trim="item.jugadoresPartida.pala2" aria-describedby="pala1Feedback" :state="pala2State"  @keydown.enter.native="crear"></b-form-input>
                </template>
                <b-form-invalid-feedback id="pala2Feedback">
                  Debe contener caractares alfanuméricos
                </b-form-invalid-feedback>
              </b-form-group>
              <b-form-group>
                <template v-if="isEdit">
                  <b-form-input type="text" v-model.trim="edit_.jugadoresPartida[0].pala3" aria-describedby="pala3Feedback" :state="pala3State"  @keydown.enter.native="actualizar"></b-form-input>
                </template>
                <template v-else>
                  <b-form-input type="text" v-model.trim="item.jugadoresPartida.pala3" aria-describedby="pala1Feedback" :state="pala3State"  @keydown.enter.native="crear"></b-form-input>
                </template>
                <b-form-invalid-feedback id="pala3Feedback">
                  Debe contener caractares alfanuméricos
                </b-form-invalid-feedback>
              </b-form-group>
              <b-form-group>
                <template v-if="isEdit">
                  <b-form-input type="text" v-model.trim="edit_.jugadoresPartida[0].pala4" aria-describedby="pala4Feedback" :state="pala4State"  @keydown.enter.native="actualizar"></b-form-input>
                </template>
                <template v-else>
                  <b-form-input type="text" v-model.trim="item.jugadoresPartida.pala4" aria-describedby="pala1Feedback" :state="pala4State"  @keydown.enter.native="crear"></b-form-input>
                </template>
                <b-form-invalid-feedback id="pala4Feedback">
                  Debe contener caractares alfanuméricos
                </b-form-invalid-feedback>
              </b-form-group>
            </template>
            <template v-else>
              <span v-for="pala in palas" class="textoInput"> {{ pala }} </span>
            </template>
          </div>
        </b-form-group>
        </template>
        <b-row>
          <b-col>
            <template v-if="select.abierta_por == 'USUARIO'">
              <span class="user"> Partida Abierta por <router-link tag="a" v-bind:to="{name: 'ShowUserClub', params: {user: select.datosJugador[0], nombre: select.nick}}">{{ select.nick }}</router-link> para el {{ select.inicio_alquiler  | formatearFecha }}</span>
            </template>
          </b-col>
        </b-row>
      
      <div class="float-right">
        <template v-if="formulario == 1"><b-btn class="mt-3" variant="outline-primary" @click="crear">Guardar</b-btn></template>
        <template v-if="!isEdit && noEdit && (formulario == 4 || formulario == 5)">
          <b-btn class="mt-3" variant="outline-success" @click="clonar">Editar</b-btn>
          <b-btn class="mt-3" variant="outline-danger" @click="eliminar">Eliminar</b-btn>
        </template>
        <template v-if="isEdit">
          <b-button variant="outline-success" @click="actualizar"><icon name="check" scale="1"></icon></b-button>
          <template v-if="formulario == 2">
            <b-button variant="outline-danger" @click="cerrar"><icon name="close" scale="1"></icon></b-button>
          </template>
          <template v-else>
            <b-button variant="outline-danger" @click="cancelar"><icon name="close" scale="1"></icon></b-button>
          </template>
          
        </template>
        <template v-if="!isEdit"><b-btn class="mt-3" variant="outline-primary" @click="cerrar">Cancelar</b-btn></template>
      </div>
    </b-modal>
    
  </template>

  <script>

  import EventBus from '../../../helpers/event-bus.js';
  import validaciones from '../../../helpers/validaciones';
  import funciones from '../../../helpers/funciones'; 
  import Icon from 'vue-awesome/components/Icon';
  import partidaPicker from '../../extras/datePicker.vue';

  export default {

   props:['sel', 'formu', 'club'],
   mixins: [validaciones, funciones],
   origen:'crear',
   components: {
    'icon': Icon,
    partidaPicker
  },
  mounted(){
    this.arrayHora();
    EventBus.$on('openModal', (modal) => (//dejo un canal de comunicacion abierto con el padre
        modal.accion == 'crear'? (this.datosEntrada = modal.datos, this.nuevo = true, this.abrir()) :  (this.select = modal.datos, this.abrir()),
        this.formulario = modal.formulario

        ),
    );
  },
  data: ()=>({
    pageUrl: 'ptds',
    item: {clubs_id: null, pista: "Pista 1", Npistas: null, pistas_id: null, nivelPartida_id: 1, abierta_por: "CLUB", jugadoresPartida: null, inicio_alquiler: moment().format('YYYY-MM-DD HH:mm:ss'), fin_alquiler: "2018-04-23 12:30:00", jugadoresPartida: {pala: null, pala2: null, pala3: null, pala4: null}, partida_fija: "NO", status:'ABIERTA', inicio: '08:00', fin: '09:30'},
    palas: [],
    partidas: null,
    nuevo: false,
    listadoHoras: [],
    comboClubs: [],
    comboNiveles: [],
    datosEntrada: [],
    select: {clubs_id: null, pista: "Pista 1", Npistas: null, pistas_id: null, nivelPartida_id: 1, abierta_por: "CLUB", jugadoresPartida: null, inicio_alquiler: moment().format('YYYY-MM-DD HH:mm:ss'), fin_alquiler: "2018-04-23 12:30:00", jugadoresPartida: {pala: null, pala2: null, pala3: null, pala4: null}, partida_fija: "NO", status:'ABIERTA', inicio: '08:00', fin: '09:30'},
    formulario: null,
    palasFaltan: 0,
    autoCompletar: 'NO',
    cont: 0,
    //opciones edicion
    edit_: [],
    isEdit: false,
    noEdit: false,
    isClub: false,
    elegirClub: false,
    fecha: null,
    pistasDisponibles: null,
    horariosDisponibles: null,
    horaFrom: null,
    horaTo: null,
    //modal
    titulo: '',
    modalShow: true,
    colorHeaderBackground: 'primary',
    colorHeaderText: 'light',
    //errores
    errores: '',
  }),
  computed: {
    pala1State () {
      return this.validarPala('pala1');
    },
    pala2State () {
      return this.validarPala('pala2');
    },
    pala3State () {
      return this.validarPala('pala3');
    },
    pala4State () {
      return this.validarPala('pala4');
    },

  },
  watch:{

    partidas(item){
      this.cargarPistasDisponibles(item);
    },
    'autoCompletar'(estado){
      this.cerrarPartida(estado);
    },
    fecha(fecha){
      let id = this.club.club[0].id;
      this.buscarPistas(fecha, id);
    },
    sel(value){
    // this.select = value;
    },
    formulario(newValue, oldValue){
      
    },

  },
  created(){
    this.formulario = this.formu;
    if(this.formu == 4){
      this.select = this.sel;
      //this.getItem(this.sel.id);
    }else{
      this.datosEntrada = this.sel
      this.nuevo = true;
    }
    this.comboNiveles = this.$store.state.niveles;
    //this.comboPistas(this.club.club[0].pistas);
    this.abrir();
    
  },  

  methods: {
    getItem(id){
      axios.get(`${this.pageUrl}/${id}`).then(response => {
        //this.select = response.data[0];
      })
    },
    cerrarPartida(estado){
      let jugadores = this.$options.origen == 'editar' ? this.edit_.jugadoresPartida[0] : this.item.jugadoresPartida;
      if(estado == 'SI'){
        (jugadores.pala2 == '' || jugadores.pala2 == null) ? jugadores.pala2 = `invitado_de_${jugadores.pala}` : '';
        (jugadores.pala3 == '' || jugadores.pala3 == null) ? jugadores.pala3 = `invitado_de_${jugadores.pala}` : '';
        (jugadores.pala4 == '' || jugadores.pala4 == null) ? jugadores.pala4 = `invitado_de_${jugadores.pala}` : '';
      }else{
        for(let index in jugadores){
          if(jugadores[index] != null && jugadores[index] != ''){
            if(jugadores[index].substring(0,8) == 'invitado'){
              jugadores[index] = '';
            }
          }
        }
      }
  
    },
    arrayHora(){
      let horas = [];
      for(let hh = 7; hh <= 23; hh++){
          let h = hh < 10 ? `0${hh}`: hh;
          horas.push(`${h}:00`);
          horas.push(`${h}:30`);
          if(hh==23){
            horas.push(`00:00`);
          }
      }
      this.listadoHoras = horas;
    },
    cambiarPista(pista){
      //this.nuevo = false;
      let me = this.$options.origen == 'editar' ? this.edit_ : this.item;
      let datos = this.horariosDisponibles;
      let fecha1 = this.fecha;
      let fecha2 = me.fecha;
      let id = me.clubs_id;
      //this.buscarPistas(this.fecha, id)
      this.horaFrom = this.cargarHorarios(pista,fecha1,fecha2,datos,'','from');
      this.cambiarHora(moment(me.inicio,'HH:mm').format('HH:mm'));
      me.fin = moment(me.inicio,'HH:mm').add(1,'hours').add(30,'minutes').format('HH:mm');
      
    },
    cambiarHora(hora){
      
      let me = this.$options.origen == 'editar' ? this.edit_ : this.item;
      let pista = me.pista;
      let fecha1 = this.fecha;
      let fecha2 = me.fecha;
      let datos = this.horariosDisponibles;
      me.inicio = hora;

      this.horaTo = this.cargarHorarios(pista,fecha1,fecha2,datos,hora,'to');
      //this.nuevo = false;
      //me.fin = moment(hora,'HH:mm').add(1,'hours').add(30,'minutes').format('HH:mm');
     
    },
    cargarHorarios(pista,fecha1,fecha2,datos = [],hora,entrada){
      let me = this.$options.origen == 'editar' ? this.edit_ : this.item;
      let horarios = [];
      let hoy = moment().format('DD-MM-YYYY');
      let ahora = moment().format('HH:mm');
      let solo = [];
      let hasta = entrada == 'to'? moment(hora,'HH:mm').add(1,'hours').add(30,'minutes').format('HH:mm') :'';
      let horas = this.listadoHoras;
      
        
      for(let dato in datos){ //recorro el array de pistas y horarios disponibles
        if(datos[dato].pista == pista){//si la pista coincide con la seleccionada en el combo
          if(fecha1 == hoy && fecha2 == hoy){//compruebo que la fecha elegida sea la del dia actual para cargar las horas disponibles desde la hora actual
            if(entrada == 'to'){//si los datos vienen del combo del final del alquiler creo un array con las horas a las que puede acabar el alquiler de la pista
              if(datos[dato].hora >= hasta){
                horarios.push(datos[dato].hora);
              }
            }else{
              if(datos[dato].hora >= ahora){//si los datos son del combo inicial añado todas las horas disponibles desde la hora actual.
                horarios.push(datos[dato].hora);
              }
            }
          }else{//si la fecha no es el dia actual 
            if(entrada == 'to'){//compruebo que la peticion viene del fin del alquiler
             if(datos[dato].hora >= hasta){ //y cargo las horas disponibles para el final del alquiler
                horarios.push(datos[dato].hora);
              }
            }else{//si no viene del fin de alquiler cargo todas las horas disponibles del dia
              horarios.push(datos[dato].hora);
            }
            
          }
        }
      }
    
      
        
      //si el array contiene la hora hasta, restamos hora y media, recorremos el array de horas para añadir solo las que pueden ser cogidas sin coincidir con el alquiler de pista.
      if(entrada == 'to' && horarios.includes(hasta)){
        let ultima = moment(horarios[1], 'HH:mm').subtract(1,'hours').subtract(30,'minutes').format('HH:mm');
        horarios = []; 
        for(let hora in horas){
          if(horas[hora] >= hasta && horas[hora] <= ultima){
            horarios.push(horas[hora]);
          }
        }
      }
      
      if(entrada == 'to' && !horarios.includes(hasta)){//si la hora final no esta en el array porque coincide con la hora de otra partida, genero un nuevo array con horas desde la seleecionada hasta la ultima disponible correlativa.
        let ultima = moment(horarios[0], 'HH:mm').subtract(1,'hours').subtract(30,'minutes').format('HH:mm');
        horarios = [];
          for(let hora in horas){
            if(horas[hora] >= hasta && horas[hora] <= ultima){
              horarios.push(horas[hora]);
            }
          }
          horarios[horarios.length -1 ] == '23:30' ? horarios.push('00:00'): '';
      }
      this.formulario == 1 ?  this.$refs.noPartidas.innerHTML = horarios.length == 0 ? 'No hay disponibildad' : '' : '';
      
      if(entrada == 'from' && this.formulario == 1){
        me.inicio = horarios[0];
        this.nuevo && horarios[0] < moment(this.datosEntrada.fecha).format('HH:mm') ? this.item.inicio = moment(this.datosEntrada.fecha).format('HH:mm') : '';
      }
      if(entrada == 'to'){
        me.fin = hasta;
      }
      if(entrada == 'to' && this.horaFrom[0] == '22:30'){
        //horarios.push('00:00'); revisar con mas horas disponibles
      }
      return horarios;

      
    },
    comboPistas(Npistas){

      let pistas = [];
     
      for(let i = 1; i <= Npistas; i++){
        pistas.push("Pista " + i);
      }
      return pistas; 

    },
    cargarPistasDisponibles(partidas){
      let me = this.$options.origen == 'editar' ? this.edit_ : this.item;
      let Npistas = me.Npistas;
      //const me = this;
      this.pistasDisponibles = [];
      let pistas = [];
      let ocupadas = [];
      let disponible = [];
      let eliminar = [];
      pistas = this.pistasDisponibles = this.comboPistas(Npistas);
     
      //generar array con las horas ocupadas para cada pista segun cambie de pista y dia
      for(let partida in partidas){
        ocupadas.push({pista: 'Pista ' + partidas[partida].pistas_id, hora: moment(partidas[partida].inicio_alquiler).format('HH:mm')});
        //si la hora de fin de la partida es mayor a hora y media despues del inicio
        if(moment(partidas[partida].fin_alquiler).format('HH:mm') > moment(partidas[partida].inicio_alquiler).add(1,'hours').add(30,'minutes').format('HH:mm')){
           //mientras la hora de fin de partida sea mayor a hora y media despues del inicio, voy restando medias horas hasta llegar y añadiendolas al array de horas ocupadas en pista
            let anadirHoras = moment(partidas[partida].inicio_alquiler).format('HH:mm');
          while(anadirHoras < moment(partidas[partida].fin_alquiler).format('HH:mm')){
            ocupadas.push({pista: 'Pista ' + partidas[partida].pistas_id, hora: anadirHoras});
            anadirHoras = moment(anadirHoras, 'HH:mm').add(30,'minutes').format('HH:mm');
          }
        }
      }
      
      //generar array de horas disponibles por pista
      for(let i = 0; i < pistas.length; i++){
        for(let hh = 7; hh < 23; hh++){
          let h = hh < 10 ? `0${hh}`: hh;
          disponible.push({pista: pistas[i], hora: `${h}:00`});
          disponible.push({pista: pistas[i], hora: `${h}:30`});
        }
      }
      
      //elimino la pista ocupada y la hora y media anterior a la partida y la hora y media posterior para que no la puedan ocupar
      for(let pista in ocupadas){
        for(let index in disponible){
          if(JSON.stringify(ocupadas[pista]) == JSON.stringify(disponible[index])){
            //si estoy en modo edicion no elimimo la hora de la partida.
            if(JSON.stringify(ocupadas[pista]) != JSON.stringify({pista: this.edit_.pista, hora: this.edit_.inicio}) && this.$options.origen != 'editar'){
              index == 0 ? disponible.splice(index,3) : disponible.splice(index-2,5);
            }
          }
        }
      }

    this.horariosDisponibles = disponible;
   
      if(this.formulario == 1 || this.formulario == 2){
        this.cambiarPista(me.pista);
        this.cambiarHora(me.inicio);
      }
    },
    cabeceraModal(){
      //inicializo variables y combos.
      this.isEdit = false;
      this.noEdit = true;
      this.palas = [];
      this.horaFrom = [];
      let club = this.club.club[0].nombre;
      this.$options.origen = 'crear';

      //this.$refs.noPartidas.innerHTML = '';
      switch(this.formulario){
        case 1: //crear
          this.arrayHora();
          this.pistasDisponibles = this.comboPistas(this.club.club[0].pistas);
          this.horaTo = this.listadoHoras;
          this.item.pista = this.datosEntrada.pista;
          this.colorHeaderBackground = 'primary';
          this.$options.origen = 'crear';
          this.titulo = 'Abrir Partida';
          this.item.fecha = this.fecha = moment(this.datosEntrada.fecha).format('DD-MM-YYYY');
          this.item.inicio_alquiler = moment(this.datosEntrada.fecha).format('YYYY-MM-DD HH:mm:ss');
          this.item.Npistas = this.club.club[0].pistas;
          this.item.inicio = moment(this.datosEntrada.fecha).format('HH:mm');
          this.buscarPistas(this.fecha, this.club.club[0].id);
          break;
        case 2: //editar
          this.cargarPalas();
          this.titulo = `Editar Partida del club «${club}»`;
          this.clonar();
          break;
        case 3: //eliminar
          this.titulo= `Eliminar partida del «${club}»`;
          break;
        case 4: //ver
          this.select = this.sel;
          this.select.inicio_alquiler = this.sel.start._i;
          this.select.fin_alquiler = this.sel.end._i;
          this.select.Npistas = this.sel.pistas;
          this.select.partida_id = this.sel.id;
          this.formulario = this.formu;
          this.comboClubs = this.$store.state.clubs;
          this.comboNiveles = this.$store.state.niveles;
          this.cargarPalas();
          this.colorHeaderBackground = this.select.status == 'ABIERTA' ? 'info' : 'danger';
          this.fecha = moment(this.select.inicio_alquiler).format('DD-MM-YYYY');
          this.noEdit = moment() < moment(this.select.inicio_alquiler) ?  true : false;
          this.titulo= `Club «${club}»`;
          break;
        case 5: //ver
          this.select = this.sel;
          this.formulario = this.formu;
          this.comboNiveles = this.$store.state.niveles;
          this.cargarPalas();
          this.colorHeaderBackground = this.select.status == 'ABIERTA' ? 'info' : 'danger';
          this.fecha = moment(this.select.inicio_alquiler).format('DD-MM-YYYY');
          this.noEdit = moment() < moment(this.select.inicio_alquiler) ?  true : false;
          this.titulo= `Club «${club}»`;
          break;
      }
    },
    cargarPalas(){
      const me = this; 
      let palas = me.select.jugadoresPartida[0];
      for(let pala in palas){
        if(pala.substring(0,4) == 'pala')  {
          if(palas[pala] != '' && palas[pala] != null){
            
            me.palas.push(palas[pala]);
          }
        }
      };
      
    },
    validar(){
      if(this.validarPala('pala1') && this.validarPala('pala2') && this.validarPala('pala3') && this.validarPala('pala4')){
        return true;
      }
    },
    crear(){
      const regex = /(\d+)/g;
      this.item.user_id = this.item.clubs_id = this.club.club[0].id;
      this.item.inicio_alquiler = moment(`${this.fecha} ${this.item.inicio}`, 'DD-MM-YYYY HH:mm:ss').format('YYYY-MM-DD HH:mm:ss');
      this.item.fin_alquiler =  moment(`${this.fecha} ${this.item.fin}`, 'DD-MM-YYYY HH:mm:ss').format('YYYY-MM-DD HH:mm:ss');
      this.item.pistas_id = parseInt(this.item.pista.match(regex)[0]);
      if(this.validar()){
        this.modalShow = false;
        this.$emit('accion',{accion: 'crear', objeto: this.item}); //envio al padre la accion y el elemento.
        this.item = {clubs_id: null, pista: "Pista 1", Npistas: null, pistas_id: null, nivelPartida_id: 1, abierta_por: "CLUB", jugadoresPartida: null, inicio_alquiler: moment().format('YYYY-MM-DD HH:mm:ss'), fin_alquiler: "2018-04-23 12:30:00", jugadoresPartida: {pala: null, pala2: null, pala3: null, pala4: null}, partida_fija: "NO", status:'ABIERTA', inicio: '08:00', fin: '09:30'};
      }
    },
    actualizar(){
      const regex = /(\d+)/g;
      this.isClub == true? (this.edit_.jugadoresPartida.user_id = this.edit_.clubs_id, this.edit_.user_id = this.edit_.clubs_id) : '';
      this.edit_.inicio_alquiler = moment(`${this.fecha} ${this.edit_.inicio}`, 'DD-MM-YYYY HH:mm:ss').format('YYYY-MM-DD HH:mm:ss');
      this.edit_.fin_alquiler =  moment(`${this.fecha} ${this.edit_.fin}`, 'DD-MM-YYYY HH:mm:ss').format('YYYY-MM-DD HH:mm:ss');
      this.edit_.pistas_id = parseInt(this.edit_.pista.match(regex)[0]);

      if(this.validar()){
        this.modalShow = false;
        this.$emit('accion',{accion: 'editar', objeto: this.edit_ });
      }
      
    },
    eliminar(){
      this.modalShow = false;
      this.$emit('accion',{accion: 'eliminar', objeto: this.select}); //envio al padre la accion y el elemento.
    },
    editar(){
      this.$options.origen = 'editar';
      this.isEdit = true;
      this.edit_ = _.clone(this.select);
      this.edit_.inicio = moment(this.select.inicio_alquiler).format('HH:mm');
      this.edit_.fecha = this.fecha = moment(this.select.inicio_alquiler).format('DD-MM-YYYY');
      this.edit_.fin = moment(this.select.fin_alquiler).format('HH:mm');
      this.pistasDisponibles = this.comboPistas(this.edit_.Npistas);
      this.cambiarPista(this.edit_.pista);
    },
    clonar(){
      this.$options.origen = 'editar';
      this.edit_ = _.clone(this.select);
      this.edit_.inicio = moment(this.select.inicio_alquiler).format('HH:mm');
      this.edit_.fecha = this.fecha = moment(this.select.inicio_alquiler).format('DD-MM-YYYY');
      this.edit_.fin = moment(this.select.fin_alquiler).format('HH:mm');
      this.pistasDisponibles = this.comboPistas(this.edit_.Npistas); //cargo de nuevo el array de pistas.
      this.buscarPistas(this.edit_.fecha, this.edit_.clubs_id);//busco las pistas ocupadas en del club
      this.cambiarPista(this.edit_.pista);//fuerzo a cargar el combo de horas disponibles
      this.cambiarHora(this.edit_.inicio);//fuerzo a cargar los arrays de horas hasta
      !this.horaFrom.includes(this.edit_.inicio) ? this.horaFrom.push(this.edit_.inicio): '';
      this.horaFrom.sort();
      this.isEdit = true;
      //this.horaFrom.push(this.edit_.inicio); //añado la hora de la pista al array de horarios disponibles en ese momento.
      //this.horaFrom.sort((a, b) =>{ return a - b;}); //y reordeno el array de hora
    },
    
    cancelar(){
      this.isEdit = false;
    },
    abrir(){
      this.cabeceraModal();
      this.modalShow = true;
    },
    cerrar(){
      this.item = {clubs_id: null, pista: "Pista 1", Npistas: null, pistas_id: null, nivelPartida_id: 1, abierta_por: "CLUB", jugadoresPartida: null, inicio_alquiler: moment().format('YYYY-MM-DD HH:mm:ss'), fin_alquiler: "2018-04-23 12:30:00", jugadoresPartida: {pala: null, pala2: null, pala3: null, pala4: null}, partida_fija: "NO", status:'ABIERTA', inicio: '08:00', fin: '09:30'};
      //this.edit_ = null;
      this.modalShow = false;
    },

  }
}
</script>
<style scoped>
.textoInput{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.6;
  color: #0031ff;
}
.user{
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: rgba(0, 0, 0, 0.65);
}
.effect>span{
  -webkit-box-shadow: 4px 2px 14px 0px grey inset,  2px 2px 6px 0px black;
  -moz-box-shadow:4px 2px 14px 0px grey inset,  2px 2px 6px 0px black;
  box-shadow: 4px 2px 14px 0px grey inset,  2px 2px 6px 0px black;
  border-radius: 0px 23px;
  margin: 5px;
  width: 98%;
  //height: 34px;
  text-align: center;
}
.effect{
  box-shadow: 1px 1px 1px 1px grey inset, 2px 2px 6px 0px grey;
  -webkit-box-shadow: 1px 1px 1px 1px grey inset, 2px 2px 6px 0px grey;
  -moz-box-shadow: 1px 1px 1px 1px grey inset, 2px 2px 6px 0px grey;
  padding: 2px;
}
a, a:hover, a:focus {
  color: #0031ff;
  text-decoration: underline;
  transition: all 0.3s;
}
.abierta{
  color: #17a2b8;
}
.cerrada{
  color: #dc3545;
}
.nivel{
  -webkit-box-shadow: 1px 1px 6px 1px slateblue;
  -moz-box-shadow: 1px 1px 6px 1px slateblue;
  box-shadow: 1px 1px 6px 1px slateblue;
  border-radius: 50px 50px 10px 10px;
}
.fijarPartida{
    font-size: 0.8rem;
    color: darkgrey;
    width: 100%;
    text-align: right;
}
.info{
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: rgba(0, 0, 0, 0.65);
}
.invalid-feedback{
  position: absolute;
  margin: 0 1%;
}
.disponibilidad{
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
  text-align: center;
}

</style>