<template> 
   <div>
      <calendar :droppable="true" :editable="true" :pistas="resources" :partidas="items" :header="header" @abrir="tipoAccion('ver', $event)" @crear="tipoAccion('crear', $event)" @posicion="updatePos" :emisor="emisor"></calendar>
      <component :is="modal" @accion="acciones" :formu="formulario" :sel="select" :key="select.id" :club="datos"></component>
   </div>

</template>

<script>

import Formulario from './FormPartida.vue';
import crud from './EditPartida.vue';
import EventBus from '../../../helpers/event-bus.js';
import Icon from 'vue-awesome/components/Icon';
import funciones from '../../../helpers/funciones'; 
import calendar from '../../extras/calendarioPartidas';


export default {
 props:['datos', 'ver'],
  
  components: {   
    'app-form' : Formulario,
    'crud-component': crud,
    'icon': Icon,
    calendar
  },
  data: ()=>({
    pageUrl: 'ptds',
    items: [],
    resources: [],
    header: {
      left: 'today prev,next',
      center: 'title',
      right: 'agendaWeek,resourceDay'
    },
    cargando: false,
    modal:'',
    select:[],
    formulario:'',
    emisor: false,
    //partidasSemana
    primerDia: '',
    ultimoDia:'',
    contadorDias : 0,
    vista: 'semana',
    partidasSemana: '',
  }), 
  created() {
      this.primerDia = moment().startOf('week').format('dddd') + " " + moment().startOf('week').format('DD') + " de " + moment().startOf('week').format('MMMM');
      this.ultimoDia = moment().endOf('week').format('dddd') + " " + moment().endOf('week').format('DD') + " de " + moment().endOf('week').format('MMMM');
      this.partidasSemana = moment().format('YYYY-MM-DD') + 'semana';
      
      this.cargarResources(this.datos.club[0].pistas);
      this.getItems();
  },

  mounted(){
    
  },
  watch:{
    '$route': 'getItems',
    /*vista(item){
        this.partidasSemana = moment().startOf('week').format('YYYY-MM-DD') + 'semana';
        this.primerDia = moment().startOf('week').format('dddd') + " " + moment().startOf('week').format('DD') + " de " + moment().startOf('week').format('MMMM');
        this.ultimoDia = moment().endOf('week').format('dddd') + " " + moment().endOf('week').format('DD') + " de " + moment().endOf('week').format('MMMM');
        this.getItems(); 
      
    },*/
    vista(item){
      if(item == 'semana'){
        this.partidasSemana = moment().startOf('week').format('YYYY-MM-DD') + 'semana';
        this.primerDia = moment().startOf('week').format('dddd') + " " + moment().startOf('week').format('DD') + " de " + moment().startOf('week').format('MMMM');
        this.ultimoDia = moment().endOf('week').format('dddd') + " " + moment().endOf('week').format('DD') + " de " + moment().endOf('week').format('MMMM');
      }
      if(item == 'agenda'){
        this.primerDia = moment().format('dddd') + " " + moment().format('DD') + " de " + moment().format('MMMM');
        this.partidasSemana = moment().format('YYYY-MM-DD') + 'agenda';
      }
      this.getItems();
      
    },
  },
  computed: {
   
  },
  methods:{
    getItems(){
      let id= '';
      if(this.ver == 'jugador'){id = this.$store.state.user.id; this.emisor = true};
      if(this.ver == 'club'){id = 'club'; this.emisor = false };

      axios.get(`${this.pageUrl}?semana=${this.partidasSemana}&user_id=${id}`).then((response)=>{
        
        this.items = response.data;
        console.log(this.items);
      }, (error) => {
        console.log(error.response);
      })
      this.cargando = false;
    },
    tipoAccion(action, data = []){
      this.formulario = '';
      let formulario = 1;
      this.select = data;
      this.modal = 'app-form';
      switch(action){
        case 'crear':
          formulario = this.formulario = 1;
          break;
        case 'ver':
          formulario = this.formulario = 4;
          break;  
        
      }
      EventBus.$emit('openModal',{accion: action, datos: data, formulario: formulario});
      //EventBus.$emit('openModal','open') //mando abrir el modal al seleccionar un elemento
    },
    acciones(item){
      switch(item.accion){
        case 'crear':
          this.crear(item.objeto);
          break;
        case 'editar':
          this.actualizar(item.objeto);
          break;
        case 'eliminar':
        this.eliminar(item.objeto);
        break;
      };
    },
    crear(nuevo){
     
      axios.post(this.pageUrl, nuevo).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg)): toastr.warning(response.data.msg);

      }, (error) => {
        console.log(error.response);
      })
    },

    eliminar(eliminarId){
      axios.delete(this.pageUrl + "/" + eliminarId.partida_id).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg)): toastr.warning(response.data.msg);
      }, (error) => {
        console.error(error.response);
      })
    },
    actualizar(actualizar){
      let form = {partida_id: actualizar.id, clubs_id: actualizar.clubs_id, pistas_id: actualizar.pistas_id, user_id: actualizar.user_id, nivelPartida_id: actualizar.nivelPartida_id,inicio_alquiler: actualizar.inicio_alquiler, fin_alquiler: actualizar.fin_alquiler, status: actualizar.status, abierta_por: actualizar.abierta_por, partida_fija: actualizar.partida_fija, jugadoresPartida: actualizar.jugadoresPartida};
      
      axios.patch(`${this.pageUrl}/${form.partida_id}`, form).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg)): toastr.warning(response.data.msg);
      }, (error) => {
        console.log(error.response);
      })
    },
    updatePos(item){
      axios.patch(`${this.pageUrl}/posicion/${item.id}`, item).then((response)=>{
        response.data.status == 'success' ? (toastr.success(response.data.msg),this.getItems()): toastr.warning(response.data.msg);
      }, (error) => {
        console.log(error.response);
      })
        
    },
    
    cargarResources(pistas){
      let resources =   [];
      let pista = '';
      for(let x = 0; x < pistas; x++){
        pista = x + 1;
          resources[x] = {"id": pista, "name" : "Pista " + pista}; 
      };
      
      this.resources = resources;
    },
        
  }
}

</script>

<style scoped>

  .active{
    color: #fff;
    background: #0275d8;
  }
  .click{
    cursor: url("/image/puntero.png"), pointer;
  }
  .flecha{
    color: #0275d8;
    padding: 0 15px;
  }
  .flecha:hover{
    color: #fff;
  }

</style>