<template> 
	<tr>
		<template v-if="isEdit">
			<td>
				<b-form-input type="text" v-model="edit_.nombre" aria-describedby="nombreFeedback" @keydown.enter.native="update" :state="nameState" required></b-form-input>
				<b-form-invalid-feedback id="nombreFeedback">
		          {{ errores.nombre }}
		        </b-form-invalid-feedback>
			</td>
			<td>
				<b-button-group>
	              <b-btn variant="success" @click="update"><icon name="check"></icon></b-btn>
	              <b-btn variant="danger" @click="cancelar"><icon name="close"></icon></b-btn>
	            </b-button-group>
			</td>
		</template>
		<template v-else>
			
	           <td>{{item.nombre}}</td>
	           <td>
		            <b-button-group>
		              <b-btn variant="success" @click="editBtn"><icon name="pencil"></icon></b-btn>
		              <b-btn variant="danger" @click="deleteBtn"><icon name="trash-o"></icon></b-btn>
		            </b-button-group>
	          </td>
			
		</template>
	</tr>
</template>
<script>
	import Icon from 'vue-awesome/components/Icon'
	import validaciones from '../../helpers/validaciones';

	export default{
		components: {
		   
		    'icon': Icon,
		  
		},
		props: ['item'],
		mixins: [validaciones],
  		origen:'editar',
		data: ()=>({
			edit_: null,
			isEdit: false,
			errores:  {
				nombre: '',
			},
		}),
		mounted(){
			this.edit_ = _.clone(this.item)
		},
		computed: {
			nameState () {
        		return this.validarNombre();
		    },
		},	
		methods:{
			cancelar(){
		        this.isEdit = false;
		        this.edit_ = _.clone(this.item);
		    },
			editBtn(){
				this.isEdit = !this.isEdit
			},
			update(){
				this.edit_.slug = Slug(this.edit_.nombre);
				this.edit_.nombre != null? this.edit_.nombre = this.edit_.nombre.charAt(0).toUpperCase() + this.edit_.nombre.slice(1).toLowerCase(): this.edit_.nombre = '';

				if(this.validarNombre()){
	      			this.$emit('update', this.edit_);
	      			this.isEdit = false;
				}
		    },
			deleteBtn(){
				this.$emit('delete', this.edit_);
			},
		}
	}
</script>