<template> 

  <b-modal v-model="modalShow" hide-footer :title="titulo" centered>
    <template v-if="formulario == 1">
      <b-row>
        <b-col>
          <b-form-group>
            <b-form-input type="text" placeholder="nombre" v-model.trim="item.nombre" aria-describedby="nombreFeedback" :state="nameState"></b-form-input>
            <b-form-invalid-feedback id="nombreFeedback">
              {{ errores.nombre }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group> 
            <b-form-input type="url" placeholder="www.direccion.com" v-model.trim="item.web" aria-describedby="urlFeedback" :state="urlState"></b-form-input>
            <b-form-invalid-feedback id="urlFeedback">
              {{ errores.web }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group>
            <uploadFile @imagen="nuevaImg($event)" :ver="false" :botones="false"></uploadFile>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group>
            <b-form-select v-model="item.patrocina" :options="pistas"/>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group>  
            <b-form-radio-group buttons  button-variant="outline-primary" :options="optionStatus" v-model="item.status"/>
          </b-form-group>
        </b-col>
      </b-row>
    </template>
    <div class="float-right">
      <b-btn class="mt-3" variant="outline-danger" @click="eliminar" v-if="formulario == 2">Eliminar</b-btn>
      <b-btn class="mt-3" variant="outline-success" @click="crear" v-if="formulario == 1">Guardar</b-btn>
      <b-btn class="mt-3" variant="outline-primary" @click="cerrar">Cancelar</b-btn>
    </div>
  </b-modal>
  
</template>

<script>

import EventBus from '../../../helpers/event-bus.js';
import funciones from '../../../helpers/funciones';
import validaciones from '../../../helpers/validaciones';
import uploadFile from '../../extras/uploadFile.vue';

export default {
  components: {
    uploadFile,
  },
  props:['select', 'formulario','pistas'],
  origen:'crear',
  mixins: [funciones,validaciones],
  mounted(){
    this.abrir();
  },
  data: ()=>({ 
    
    item: {nombre: null, status: 'BORRADOR', patrocina: 0, web: '', visible: 1, imagen: ''},
    optionStatus: [{value: 'BORRADOR', text:'Borrador'},{value: 'PUBLICADO', text: 'Publicar'}],
    titulo:"",
    modalShow: true,
    newFile: null,
    errores: [],
    erroresServidor: [],
  
  }),
  watch:{

  },
  computed: {
    nameState () {
        return this.validarNombre();
    },
    urlState(){
      return this.validarUrl();
    },
  },  
  created(){
    EventBus.$on('openModal', (modal) => (//dejo un canal de comunicacion abierto con el padre
	      modal=='open'?this.abrir():this.cerrar()
    	)
    ); 
  },
  methods: {
    cabeceraModal(){
      
      switch(this.formulario){
        case 1: 
          this.titulo = 'Nuevo patrocinador';
          break;
        case 2: 
          this.titulo = 'Eliminar patrocinador  «' + this.select.nombre + '»';
          break;
      }
    },

    nuevaImg(imagen){
      this.item.imagen = imagen.img == "" ? "": imagen.img;
      this.newFile = imagen.file == "" ? "" : imagen.file;
    },

    validar(){
      if(this.validarNombre() && (this.validarUrl() || this.item.web == '')){
        return true;
      }else{
        return false;
      }
    },
    crear(){
      this.item.slug = this.item.nombre == null ? this.item.nombre = '' : Slug(this.item.nombre);
      this.item.patrocina == 0? this.item.patrocina = '': '';
      let form = this.toFormData(this.item,this.newFile)
      if(this.validar()){
        this.$emit('accion',{accion: 'crear', objeto: form}); //envio al padre la accion y el elemento.
        console.log(form.get('patrocina'))
      }
    },
    eliminar(){
    	this.$emit('accion',{accion: 'eliminar', objeto: this.select}); //envio al padre la accion y el elemento.
    },

    abrir(){
    	this.cabeceraModal();
      	this.modalShow = true;
    },
    cerrar(){
      this.item =  {nombre: null, status: 'BORRADOR', patrocina: 0, web: '', visible: 1, imagen: ''};
      this.newFile = '';
      this.modalShow = false;
    },
    
  }
}
</script>