<template>
  <div>
    <div class="text-center"><h2>Patrocinadores</h2></div> 
    <div class="table">
      <table class="table table-hover">
        <thead>
          <tr>
            <td colspan="6">
              <b-button variant="primary" @click="tipoAccion('crear')">
                <icon name="plus"></icon>
              </b-button>
            </td>    
          </tr>
          <tr>
            <th>
              Patrocinador
            </th>
            <th>
              Enlace
            </th>
            <th>
              Status
            </th>
            <th class="text-center"> 
              Imagen
            </th>
            <th>
              Patrocina
            </th>
            <th width="200">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr align="center" v-show="cargando"><td colspan="8"><icon name="refresh" scale="5" spin></icon></td></tr>
          <crud-component v-for="(item, index) in filtro" :item="item" :key="item.id" :pistas="pistas" @update="actualizar($event)" @delete="tipoAccion('eliminar', $event)"></crud-component>
      </tbody>
    </table>
    <Paginate :pagination="pagination" @pagina="getItems"></Paginate>
    <component :is="modal" @accion="acciones" :formulario="formulario" :select="select" :key="select.id" :pistas="pistas"></component>
  </div>
</div>
</template>

<script>

import EventBus from '../../../helpers/event-bus.js';
import Icon from 'vue-awesome/components/Icon';
import Paginate from '../../layouts/paginate.vue';
import Buscador from '../../extras/buscador.vue';
import funciones from '../../../helpers/funciones';
import validaciones from '../../../helpers/validaciones';
import crud from './EditPatrocinador.vue';
import deletePatrocinador  from './FormPatrocinadores.vue';
import uploadFile from '../../extras/uploadFile.vue';

export default {
  components: {
    'icon': Icon,
    'crud-component': crud,
    'buscador-component':Buscador,
    'app-form' : deletePatrocinador,
    uploadFile,
    Paginate
  },
  props:['datos'],
  origen:'crear',
  mixins: [funciones,validaciones],
  data: ()=>({

    pageUrl: 'ptdr',
    items: [],
    pagination: [],
    pagination: [],
    pistas: [{value: 0, text: "Pista patrocinada"}],
    cargando: false,
    isEdit: false,
    //formulario
    modal:'',
    select:[],
    formulario:'',
    
    //errores
    errores: [],
    erroresServidor: [], 
      
  }),
  created() {
    
    this.getItems();
    let Npistas = this.datos.club[0].pistas;
       
    for(let i = 1; i <= Npistas; i++){
      this.pistas[i] = {value: i, text: "Pista " + i};
    }
  },
  watch:{
    'item.nombre'(value){
      this.errores.nombre = '';
    },
    'item.web'(value){
      this.errores.web = '';
    }
  },
  computed: {
    filtro(){ 
      if(this.items.length) {
        return this.items;
      }
    },
    nameState () {
        return this.validarNombre();
    },
    urlState(){
      return this.validarUrl();
    },
  },
  methods:{
    getItems(page){
      this.cargando = true;
      axios.get(`${this.pageUrl}?page=${page}`).then((response)=>{
       
          if(response.data.msg){ toastr.warning(response.data.msg)} 
            this.items = response.data.items.data;
            this.pagination = response.data.pagination;
          }, (error) => {
            console.error(error.response);
          })
      this.cargando = false;
    },
        
    tipoAccion(action, data = []){
      this.select = data;
      this.modal = 'app-form'; 

      switch(action){
        case 'crear':
          this.formulario = 1;
          break;
        case 'eliminar':
          this.formulario = 2;
          break;
      }
      EventBus.$emit('openModal','open'); //mando abrir el modal al seleccionar un elemento
    },
    acciones(item){
      switch(item.accion){
        case 'crear':
          this.crear(item.objeto);
          break;
        case 'editar':
          console.log(item.objeto)
          //this.actualizar(item.objeto);
          break;
        case 'eliminar':
          this.eliminar(item.objeto);
          break;
      };
    },
    crear(nuevo){
      axios.post(this.pageUrl,nuevo).then(response =>{
        response.data.status == 'success'? (this.getItems(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);
      }, (error) => {
          let errores = error.response.data.errors;
          

          for (let key in errores){
            
            toastr.warning(errores[key][0]);
          }
      })
    },

    eliminar(eliminar){
      axios.delete(this.pageUrl + "/" + eliminar.id).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);
      }, (error) => {
        console.error(error.response);
      })
   
    },
    actualizar(actualizar){
      
      axios.post(this.pageUrl + '/update/' + actualizar.get('id'), actualizar).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg)): toastr.warning(response.data.msg);
        console.log(response.data)
      }, (error) => {
        console.log(error.response)
          let errores = error.response.data.errors;
          
          for (let key in errores){
            toastr.warning(errores[key][0]);
          }
      })
    },
  }
  
}
</script>

<style scoped>

  .active{
    color: #fff;
    background: #0275d8;
  }
  .click{
    cursor: url("/image/puntero.png"), pointer;
  }
  .error{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
  }
</style>
