<template>
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="error-template">
	                <h1>
	                    Oops!</h1>
	                <h2>
	                    404 Not Found</h2>
	                <div class="error-details">
	                    Sorry, an error has occured, Requested page not found!
	                </div>
	                <div class="error-actions">
	                    <router-link to="/"><icon name="home" scale="3">Take Me Home</icon></router-link>
	                    <router-link to="/"><icon name="envelope" scale="3">Contact Support</icon></router-link>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</template>	

<script>
	import Icon from 'vue-awesome/components/Icon'
</script>