<template>
	<div id="content" class="container-fluid">
            
        <nav class="navbar navbar-light bg-faded">
         
	        <div class="nav container-fluid">
	            <button type="button" class="btn btn-outline-primary navbar-toggler mr-auto" id="sidebarCollapse">
	                <span class="navbar-toggler-icon"></span>
	            </button>
	            
	            <div class="nav ml-auto">
	              	<div class="nav-item dropdown">
	                	<a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown">
	                  		<span>mensages <span class="badge badge-light">4</span></span> 
	                	</a>
		                <div class="dropdown-menu dropdown-menu-right">
		                    <a class="dropdown-item" href="#">Link 1</a>
		                    <a class="dropdown-item" href="#">Link 2</a>
		                    <a class="dropdown-item" href="#">Link 3</a>
		                </div>
	              	</div> 
		            <div class="nav-item dropdown">
		                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
		                	<img src="" class="rounded img-fluid user-image">
		                  	<span class="hidden-lg-down">Usuario</span>
		                </a>
		                <div class="dropdown-menu dropdown-menu-left" style="margin-top:15%; margin-left: -12vh; min-width:220px">
		                  	<h2>Card Image</h2>
		                  	<p>Image at the top:</p>
		                  	<div class="card-check">
		                    	<img class="card-img-top img-fluid hidden-sm-down" src="avatar.png" alt="Card image" style="width:100%">
		                    	<div class="card-body">
		                      		<h4 class="card-title">John Doe</h4>
		                      		<p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
		                      		<div class="d-flex flex-row justify-content-around">
		                        		<a href="#" class="btn btn-outline-info">Perfil</a>
		                        		<a href="#" class="btn btn-outline-danger">Salir</a>
		                        	</div>
		                    	</div>
		                  	</div>
		                </div>   
		            </div>
	       		</div>
	       	</div>
        </nav>

        <div class="container-fluid">
    	   	<transition name="fade">
                <router-view></router-view>
            </transition>
       </div>
    </div>

</template>