<template>
	<b-pagination :total-rows="pagination.total" v-model="currentPage" :per-page="pagination.per_page"></b-pagination>
</template>

<script>
export default {
	props:['pagination'],
  	data () {
    	return {
      		currentPage: 1
    	}
  	},
  	watch:{
  		currentPage(page){
  			this.$emit('pagina', page);
  		}
  	}
}
</script>