<template>
    <span :class="cssClasses" aria-hidden="true"></span>
</template>

<script>
export default {
    props: ['img'],
    computed: {
        cssClasses() {
        	return 'pe-7s-' + this.img;
        }
    }
}
</script>