    <template>

        <div class="modal fade" id="modal-item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">{{ titulo }} <span v-once>{{ user.nombre }}</span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Nombre:</label>
                                    <input type="text" name="nombre" class="form-control" v-model="usuario.nombre">
                                    <span v-if="formErrors['nombre']" class="error text-danger">
                                        {{ formErrors['nombre'] }}
                                    </span>
                                </div>
                            </div>
                            
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Apellidos:</label>
                                    <input type="tel" name="apellidos" class="form-control" v-model="usuario.apellidos">
                                    <span v-if="formErrors['apellidos']" class="error text-danger">
                                        {{ formErrors['apellidos'] }}
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Teléfono:</label>
                                    <input type="tel" name="telefono" class="form-control" v-model="usuario.telefono">
                                    <span v-if="formErrors['apellidos']" class="error text-danger">
                                        {{ formErrors['telefono'] }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <codigo-postal v-on:pob-activa="poblacion" :usuariopoblacionid="usuario.poblacion_id" :key="usuario.poblacion_id"></codigo-postal>

                        <div class="row form-group">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Sexo:</label>
                                    <input type="text" name="sexo" class="form-control" v-model="usuario.sexo" value="user.sexo">
                                    <span v-if="formErrors['sexo']" class="error text-danger">
                                        {{ formErrors['sexo'] }}
                                    </span>
                                </div>
                            </div>
                            
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Nick:</label>
                                    <input type="tel" name="nick" class="form-control" v-model="usuario.nick">
                                    <span v-if="formErrors['nick']" class="error text-danger">
                                        {{ formErrors['nick'] }}
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Teléfono:</label>
                                    <input type="tel" name="telefono" class="form-control" v-model="usuario.telefono">
                                    <span v-if="formErrors['apellidos']" class="error text-danger">
                                        {{ formErrors['telefono'] }}
                                    </span>
                                </div>
                            </div>
                        </div>


                        
                    </div>
                </div>
            </div>
      </div>
 </template>


<script>	
	import EventBus from './event-bus.js'

	export default{
		props: ['user'],

        created: function(){
            const me = this;
            me.usuario = [];
            EventBus.$on('openModal', (modal) => (me.usuario = modal.user, me.showModal = 1, console.log("formulario: " + modal.user.nombre))); 
                //(me.item = modal.item, me.showModal = modal.open)); //con $on recibo los datos del otro componente
            //para recibir un objeto lo pongo entre parentesis (me.modal = modal.user,me.user = modal.open)
            
        },

	    data: () => ({
            showModal: 0,
            titulo: '',
            mensage: '',
            formErrors: [],
            usuario: {'id': '', 'nombre': '', 'apellidos': '', 'sexo': '', 'poblacion_id': '', 'telefono': '', 'email': '', 'nick': '', 'posicion': '', 'desplazamiento_id': '',
            'franja_id': '', 'nivel_id': '', 'notificaciones': '', 'comentarios': ''},
		}),
	    watch: {
	    	usuario(item){
                console.log(this.usuario);
            }
	    },
	    computed: {
            cambiarUsuario(){
                const me = this;
                let user = [];

                EventBus.$on('openModal', (modal) => (user = modal.user, console.log("formulario: " + modal.user.nombre))); 

                me.usuario = user;
            }
			
		},

	    methods:{
            poblacion(item){
                app.PobActiva = item;
            },
	    	closeModal(){
                this.showModal = false;
	    		//EventBus.$emit('modal', false);
	    	}
	    	
	    },
	}
</script>

