
<template>
	<div class="row">
		<div class="col-md-8">
			<label for="instalaciones">Instalaciones: </label>
			<div class="checkbox-inline">
			  	<label v-for="instalacion in instalaciones" style="width: 25%">
					<input type="checkbox" :value="instalacion.id" v-model="activos">
					{{ instalacion.nombre }}
				</label>  	 
			</div>
	  	</div>
  	</div>

</template>

<script>

	import axios from 'axios' 
	
	export default{
		
		mounted: function(){
	        this.getInstalaciones();
	    },

	   data: () => ({
	    	instalaciones: [],
	    	activos: [],
		}),
	    watch: {
	    	activos: function(item){
	    		const me = this;
	    		me.$emit('instalaciones', item)
	    	}
	    },
	    computed: {
			
		},

	    methods:{
	    	getInstalaciones: function(){
	    		const me = this;
	            axios.get('instalaciones').then((response) =>{
	            	me.instalaciones = response.data;
	            });
	    	}
	    },
	}
</script>
