
<template>
	<div class="row">
        <div class="col-md-8">
	        <div class="table-responsive">
		        <table class="table table-striped table-hover">
					<thead>
						<tr>
							<th scope="col">#</th>	
							<th scope="col">Nombre</th>
						    <th scope="col">Nick</th>
						    <th scope="col">Posición</th>
						    <th scope="col">Nivel</th>
						    <th scope="col"> Teléfono</th>
						    <th scope="col">&nbsp;</th>
					    </tr>
					</thead>
		        		<tbody>
							<app-user v-for="user in Users" :user="user" :key="user.id"></app-user>
						</tbody>
		        </table>
		    </div>
    	</div>
    	<app-form :user="user" :key="user.id"></app-form>
	</div>
	
</template>

<script>

	import Formulario from './Formulario.vue'
	import User from './User.vue'
	import EventBus from './event-bus.js'

	export default{
		name: 'listusers',
		components: {
	        'app-user': User,
	        'app-form' : Formulario
	    },
	    created: function(){
	    	const me = this;
	    	EventBus.$on('openModal', (modal) => (me.modal = modal.open, me.user = modal.user)); //con $on recibo los datos del otro componente
	    	//para recibir un objeto lo pongo entre parentesis (me.modal = modal.user,me.user = modal.open)
	    },
		mounted: function(){
        	this.getUsers();
    	},

	   data: () => ({
	    	Users: [],	
	    	modal: false,
	    	user: [],
		}),
	    watch: {
	    	
	    },
	    computed: {
			
		},

	    methods:{
	    	openModal(item){
	    		console.log(item);
	    		//this.modal = true;
	    	},
	    	closeModal(){
	    		this.modal = false;
	    	},
	    	getUsers(){
	            const me = this;
	            axios.get('usuarios').then((response) =>{
	                me.Users = response.data.data;
	            });
	        },
	    },
	}
</script>