
<template>
	<div class="row">
		<div class="col-md-2">
			<div class="form-group">
				<label for="title">Nivel</label>
				<div>
					<select class="form-control" v-model="activo">
	                 	<option v-for="nivel in niveles" :value="nivel.id" tabindex="3">{{ nivel.nivel }}</option>
	                </select>
	            </div>	
            </div>
		</div>
	</div>
</template>

<script>

	import axios from 'axios' 
	
	export default{
		
		mounted: function(){
	        this.getNiveles();
	    },

	    data: () => ({
	    	niveles: [],
	    	activo: '',
		}),
	    watch: {
	    	activo: function(item){
	    		const me = this;
	    		me.$emit('nivel', item)
	    	},
	    },
	    computed: {
			
			
		},

	    methods:{
	    	getNiveles: function(){
	    		const me = this;
	            axios.get('niveles').then((response) =>{
	            	me.niveles = response.data;
	            });
	    	},
	    	
	    },
	}
</script>
