
<template>
	
	
</template>

<script>

	import axios from 'axios' 
	
	export default{
		
		mounted: function(){
	        
	    },

	   data: () => ({
	    	
		}),
	    watch: {
	    	
	    },
	    computed: {
			
		},

	    methods:{
	    	
	    },
	}
</script>
