<template>
	
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label for="title">Código Postal</label>
				<input type="text" class="form-control" name="postal" v-model="postal" @keyup.enter="filtrar">
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="title">Población</label>
				<div class="select is-fullwidth">
					<select class="form-control form-control-sm" v-model="activo.poblacion_id" @change="cambioPoblacion(activo.poblacion_id)">
                     	<option v-for="poblacion in activoPoblacion" :value="poblacion.id" tabindex="2">{{ poblacion.nombre }}</option>
                    </select>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="title">Provincia</label>
				<div class="select is-fullwidth">
					<select class="form-control form-control-sm" v-model="activo.provincia_id" @change="cambioProvincia(activo.provincia_id)">
                 		<option v-for="provincia in provincias" :value="provincia.id" tabindex="3">{{ provincia.nombre }}</option>
               		</select>
				</div>
			</div>
		</div>
	</div>
	
	 
</template>

<script>

	import axios from 'axios'
	
	export default{
		props: ['usuario_poblacion_id'],

		mounted: function(){
			//console.log(this.usuario_poblacion_id);
	        this.getPoblaciones();
	        this.getProvincias();
	    },

	    data: () => ({
	    	poblaciones: [],
	    	provincias: [],
	    	postal: '',
	    	activo:{'poblacion_id': '', 'poblacion_nombre': '', 'provincia_id': '', 'provincia_nombre':''},
		}),
	    watch: {
	    	postal: function(item){
	    		const me = this;
				if(item == ''){
	    			me.activo = [];
	    		};
	    	},
	    	activo: function(item){
	    		const me = this;
	    		me.$emit('pob-activa', item.poblacion_id)
	    	},
	    },
	    computed: {
			activoPoblacion: function () {
				let poblaciones = [];
				const me = this;
				if(me.activo.poblacion_id == ''){
					poblaciones = me.poblaciones;
				}else{
					me.poblaciones.map(function(poblacion){
				   		if(poblacion.provincia.id == me.activo.provincia_id){
				   			poblaciones.push(poblacion);
				   		};
			   		});
				};
			   	
				return poblaciones;
			},
		},

	    methods:{
	    	getPoblaciones: function(){
	    		const me = this;
	            axios.get('poblaciones').then((response) =>{
	            	me.poblaciones = response.data;
	            });
	        },
	        getProvincias: function(){
	        	const me = this;
	            axios.get('provincias').then((response) =>{
	            	me.provincias = response.data;
	            });
	        },
	        filtrar: function(){
	        	const me = this;
	        	me.activo = [];
	        	me.poblaciones.map(function(poblacion){
	        		if(me.postal == poblacion.postal){
	        			me.activo = {'poblacion_id': poblacion.id, 'poblacion_nombre': poblacion.nombre, 'provincia_id': poblacion.provincia.id, 'provincia_nombre': poblacion.provincia.nombre}; 
	        		}
	        	});
	        },

	        cambioProvincia: function(item){
	        	const me = this;
	        	me.poblaciones.map(function(poblacion){
			   		if(poblacion.provincia.id == item){
			   			me.postal = poblacion.postal;
			   			me.activo = {'poblacion_id': poblacion.id, 'poblacion_nombre': poblacion.nombre, 'provincia_id': poblacion.provincia.id, 'provincia_nombre': poblacion.provincia.nombre}; 
	        		};
		   		});
		   		
	        },

	        cambioPoblacion: function(item){
	        	const me = this;
	        	me.postal = '';
	        	me.poblaciones.map(function(poblacion){
			   		if(poblacion.id == item){
			   			me.postal = poblacion.postal;
			   			me.activo = {'poblacion_id': poblacion.id, 'poblacion_nombre': poblacion.nombre, 'provincia_id': poblacion.provincia.id, 'provincia_nombre': poblacion.provincia.nombre}; 
			   		};
		   		});
		   		
	        },

	    },
	}
</script>