<template>
	<div class="form-group">
		<label for="title">Provincia</label>
		<div class="select is-fullwidth">
			<select class="form-control form-control-sm" v-model="activo">
         		<option v-for="provincia in provincias" :value="provincia.id" tabindex="3">{{ provincia.nombre }}</option>
       		</select>
		</div>
	</div>
</template>

<script>

	export default{
		mounted: function(){
			this.getProvincias();
	    },

	    data: () => ({
	    	
	    	provincias: [],
	    	activo: '',
	    }),

	    watch: {
	    	activo: function(item){
	    		const me = this;
	    		me.$emit('prov', item)
	    	},
	    },
	   
	    methods:{
	    	getProvincias: function(){
	        	const me = this;
	            axios.get('provincias').then((response) =>{
	            	me.provincias = response.data;
	            });
	        },
	    },
	}
</script>