<template>
    <tr>
    	<td>{{ user.id }}</td>
    	<td>{{ user.nombre }} {{ user.apellidos }}</td>
    	<td>{{ user.nick }}</td>
    	<td>{{ user.posicion }}</td>
    	<td>{{ user.nivel.nivel }}</td>
    	<td>{{ user.telefono }}</td>
    	<td>
    		<div class="btn-group btn-group-sm pull-right ">
		       <button class="btn btn-info" data-toggle="modal" data-target="#modal-item" @click="openModal('ver', user)">
					<app-icon img="eye-open"></app-icon>
				</button>
				<button class="btn btn-warning" data-toggle="modal" data-target="#modal-item" @click="openModal('editar', user)">
		            <app-icon img="edit"></app-icon>
		        </button>
		        <button class="btn btn-danger" @click="openModal('eliminar', user)">
		            <app-icon img="trash"></app-icon>
		        </button>
		    </div>
		    
	    </td>
	</tr>
</template>


<script>

import EventBus from './event-bus.js' 
import Icon from './Icon.vue'

export default {
   components: {
        'app-icon': Icon,
        
    },
    props: ['user'],

  	data: () => ({	
		showModal: '',
		titulo: '',
		mensage: '',
		formErrors: [],
		usuario: {'id': '', 'nombre': '', 'apellidos': '', 'sexo': '', 'poblacion_id': '', 'telefono': '', 'email': '', 'nick': '', 'posicion': '', 'desplazamiento_id': '',
		'franja_id': '', 'nivel_id': '', 'notificaciones': '', 'comentarios': ''},

	}),

    methods:{
    	openModal(action, item){
    		const me = this;

    		
    		
    		switch (action) {
    			case 'ver':
    				me.usuario = item;
    				me.showModal = 'ver-item',
    				me.titulo = 'Datos de ';
                    me.mensage = '';
                    break;
                case 'editar':
                	me.showModal = 'edit-item',
                	me.titulo = 'Actualizar datos de ';
                    me.mensage = '';
                    break;
                case 'eliminar':
                	me.showModal = 1,
                    me.titulo = 'Eliminar usuario ';
                    me.mensage = '';
                    break;
			}
			EventBus.$emit('openModal', me.usuario); //con emit mando los datos a traves del eventBus al otro componente
    	},
    	ver(){
    		 
    	},
    	borrar(){
    		
    	},
    	editar(){
    		
			//EventBus.$emit('openModal', {open:true, user: me.user}); //con emit mando los datos a traves del eventBus al otro componente
    	},
    	closeModal(){
    		const me = this;
    		me.showModal = 0;
    		me.titulo = '';
    	},
    }
}
</script>
