<template>
	<b-container  class="wrapper mb-5">
		<b-row class="py-5">
			<b-col class="text-center">
				<h1> {{ item.titulo }} </h1>
			</b-col>
		</b-row>
		<b-row>
			<b-col class="d-flex justify-content-center">
				<b-img :src="item.imagen" rounded />
			</b-col>
		</b-row>
		<b-row class="mt-5">
			<b-col cols="10" offset="1" class="text-justify">
				<div v-html="item.contenido"></div>
			</b-col>
		</b-row>
	</b-container>           	
	
</template>

<script>
import Icon from 'vue-awesome/components/Icon';


export default{
	props:['datos'],
	components: {
		'icon': Icon,
	},
	data: ()=>({
		item: [],
    	
	}),
	created(){
   		this.$route.params.noticia == null? this.item = JSON.parse(localStorage.getItem('noticia'))  :  (this.item = this.$route.params.noticia, localStorage.setItem('noticia', JSON.stringify(this.$route.params.noticia)));
	},
	mounted(){
		
    },
	watch:{
            
    },
    computed: {
         
          
    },
    methods:{
       
	}
}
</script>
<style scoped>
	hr{
		border-top: 2px solid #b4b4b4;
	    width: 55%;
	    margin-top: .3rem;
	    margin-bottom: 1rem; 
	}
	.wrapper {
    	min-height: calc(100vh);
    	box-shadow: #808080 16px 25px 50px 10px, 0px 0px 3px 1px #000;
	}
	.display-none{
		display: none;
	}
	@media (max-width: 992px) {
		.boton-ancho{
			display: none;
		}
		.display-none{
			display: block;
		}
  	}
  	

	
</style>