<template> 
	
	<b-container fluid>
		<div class="text-center"><h2>Registrar Club</h2></div> 
		<b-row>
			<b-col>
				<router-link class="btn btn-primary float-right mb-3" v-bind:to="'/clubs'">Volver al listado de Clubs</router-link>
			</b-col>
		</b-row>
		<h5 class="text-center">Logo: </h5>
		<b-row align-h="center" class="mb-2">
			<b-col cols="3" style="border: 1px solid green">
				<b-img :src="item.logo" fluid rounded center style="height:150px" />
			</b-col>
		</b-row>
		<b-row>
			<b-col>
				<uploadFile @imagen="nuevaImg($event)" :ver="false" :botones="false"></uploadFile>
			</b-col>
		</b-row>
		<b-card-group>
			<b-card class="mr-1" header-tag="header">
				<h5 slot="header" class="mb-0">Datos fiscales: </h5>
				<b-row>
					<b-col>
						<b-form-group label="Nombre:">
							<b-form-input type="text" v-model.trim="item.nombre" aria-describedby="nombreFeedback" :state="nameState"  @keydown.enter.native="actualizar" required></b-form-input>
							<b-form-invalid-feedback id="nombreFeedback">
								{{ errores.nombre }}
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group label="CIF:">
							<b-form-input type="text" v-model.trim="item.cif" aria-describedby="cifFeedback" :state="cifState"  @keydown.enter.native="actualizar" required></b-form-input>
							<b-form-invalid-feedback id="cifFeedback">
								{{ errores.cif }}
							</b-form-invalid-feedback> 	
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group label="Gerente:">
							<b-form-input type="text" v-model.trim="item.responsable" aria-describedby="gerenteFeedback" :state="gerenteState"  @keydown.enter.native="actualizar" required></b-form-input>
							<b-form-invalid-feedback id="gerenteFeedback">
								{{ errores.responsable }}
							</b-form-invalid-feedback> 	
						</b-form-group>
					</b-col>
				</b-row>
				<b-row>
					<b-col>
						<b-form-group label="Contraseña:">
							<b-form-input type="password" v-model.trim="item.password" aria-describedby="passFeedback" :state="passState"  @keydown.enter.native="actualizar" required></b-form-input>
							<b-form-invalid-feedback id="passFeedback">
								{{ errores.pass }}
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group label="Repetir contraseña:">
							<b-form-input type="password" v-model.trim="item.password_confirmation" aria-describedby="passFeedback" :state="passState"  @keydown.enter.native="actualizar" required></b-form-input>
							<b-form-invalid-feedback id="passFeedback">
								{{ errores.pass_confirm }}
							</b-form-invalid-feedback> 	
						</b-form-group>
					</b-col>
				</b-row>
			</b-card>
			<b-card class="ml-0" header-tag="header">
				<h5 slot="header" class="mb-0">Datos de contacto:</h5>
				<b-row>
					<b-col>
						<b-form-group label="Teléfono:">
							<b-form-input type="number" v-model.trim="item.telefono" aria-describedby="telefonoFeedback" :state="telefonoState"  @keydown.enter.native="actualizar" required></b-form-input>
							<b-form-invalid-feedback id="telefonoFeedback">
								{{ errores.telefono }}
							</b-form-invalid-feedback> 	
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group label="Móvil:">
							<b-form-input type="number" v-model.trim="item.movil" aria-describedby="movilFeedback" :state="movilState"  @keydown.enter.native="actualizar"></b-form-input>
							<b-form-invalid-feedback id="movilFeedback">
								{{ errores.movil }}
							</b-form-invalid-feedback> 	
						</b-form-group>
					</b-col>
				</b-row>
				<b-row>
					<b-col>
						<b-form-group label="Correo-e:">
							<b-form-input type="email" v-model.trim="item.email" aria-describedby="emailFeedback" :state="emailState"  @keydown.enter.native="actualizar"></b-form-input>
							<b-form-invalid-feedback id="emailFeedback">
								{{ errores.email }}
							</b-form-invalid-feedback> 	
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group label="Web:">
							<b-form-input type="text" v-model.trim="item.web" aria-describedby="urlFeedback" :state="urlState"  @keydown.enter.native="actualizar" required></b-form-input>
							<b-form-invalid-feedback id="urlFeedback">
								{{ errores.web }}
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
				</b-row>
			</b-card>
		</b-card-group>
		<b-card-group>
			<b-card class="mr-1" header-tag="header">
				<h5 slot="header" class="mb-0">Datos de localización:</h5>
				<b-row>
					<b-col>
						<b-form-group label="Dirección:">
							<b-form-input type="text" v-model.trim="item.direccion" aria-describedby="dirFeedback" :state="dirState"  @keydown.enter.native="actualizar" required></b-form-input>
							<b-form-invalid-feedback id="dirFeedback">
								{{ errores.direccion }}
							</b-form-invalid-feedback> 	
						</b-form-group>
					</b-col>
				</b-row>
				<b-row>	
					<b-col>
						<b-form-group label="Código Postal:">
							
							<b-form-input type="number" v-model.trim="item.postal" aria-describedby="postalFeedback" :state="postalState"  @keydown.enter.native="crear"></b-form-input>
							<b-form-invalid-feedback id="postalFeedback">
								{{ errores.postal }}
							</b-form-invalid-feedback> 	
							
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group label="Población:">
							
							<b-form-input type="text" v-model.trim="item.poblacion" aria-describedby="poblacionFeedback" :state="poblacionState" disabled></b-form-input>
							<b-form-invalid-feedback id="poblacionFeedback">
								{{ errores.poblacion }}
							</b-form-invalid-feedback> 	
							
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group label="Provincia:">
							
							<b-form-select v-model.number="item.provincia_id" :options="combo" class="mb-3" disabled/>
							
						</b-form-group>
					</b-col>
				</b-row>
			</b-card>
			<b-card class="ml-0" header-tag="header">
				<h5 slot="header" class="mb-0">Servicios:</h5>
				<b-row>
					<b-col cols="2">
						<b-form-group label="Pistas:">
							<b-form-input type="number" v-model="item.pistas" aria-describedby="pistaFeedback" :state="pistaState"></b-form-input>
							<b-form-invalid-feedback id="pistaFeedback">
								{{ errores.pistas }}
							</b-form-invalid-feedback> 	
						</b-form-group>
					</b-col>
					
					<b-col>
						<b-form-group label="Instalaciones:">
							<div class="checkbox-inline">
								<label v-for="instalacion in comboInstalaciones" style="width: 25%">
									<input type="checkbox" :value="instalacion.id" v-model="item.instalaciones" >
									{{ instalacion.nombre }}
								</label> 
							</div>
							<template v-show="errores.check != ''">
								<span class="error">
									{{ errores.check }}
								</span>
							</template> 	
						</b-form-group>
					</b-col>
				</b-row>
			</b-card>
		</b-card-group>
		<b-card-group>
			<b-card class="mr-1" header-tag="header">
				<h5 slot="header" class="mb-0">Horarios:</h5>
				<span style="color: rgba(0, 0, 0, 0.65)">En caso de horario ininterrumpido marcar la opción/es correcta</span>
				<b-row class="mb-2">
					<b-col v-if="!status.ld && !status.ldmt">
						<b-form-checkbox v-model="status.lv">
							Ininterrumpido Lunes a Viernes
						</b-form-checkbox> 
					</b-col>
					<b-col v-if="!status.ldmt && !status.lv">
						<b-form-checkbox v-model="status.ld">
							Ininterrumpido Lunes a Domingo
						</b-form-checkbox> 
					</b-col>
					<b-col v-if="!status.ld && !status.lv">
						<b-form-checkbox v-model="status.ldmt">
							Horario Lunes a Domingo
						</b-form-checkbox> 
					</b-col>
					<b-col v-if="!status.ld && !status.ldmt">
						<b-form-checkbox v-model="status.fs">
							Ininterrumpido Fin de semana
						</b-form-checkbox> 
					</b-col>
					<b-col>
						<b-form-checkbox v-model="status.f">
							Ininterrumpido Festivo
						</b-form-checkbox> 
					</b-col>
				</b-row>
				<span style="color: rgba(0, 0, 0, 0.65)">Formato 24h</span>
				<b-row id="horario"> 
					<template v-if="status.ld">
						<b-col  sm="6" md="2">
							<b-form-group label="Lunes a Domingo:">
								<b-row>
									<b-col>
										<b-form-input type="time" v-model="item.lvm_start"></b-form-input>
									</b-col>
									<b-col>
										<b-form-input type="time" v-model="item.lvm_end"></b-form-input>
									</b-col>
								</b-row>
							</b-form-group>
							<span v-show="errores.lvm != ''" class="error">
								{{ errores.lvm }}
							</span>
						</b-col>
					</template>
					<template v-else>

						<template v-if="!status.lv">
							<b-col  sm="6" md="2">
								<b-form-group :label="label_manana">
									<b-row>
										<b-col>
											<b-form-input type="time" v-model="item.lvm_start"></b-form-input>
										</b-col>
										<b-col>
											<b-form-input type="time" v-model="item.lvm_end"></b-form-input>
										</b-col>
									</b-row>
								</b-form-group>
								<span v-show="errores.lvm != ''" class="error">
									{{ errores.lvm }}
								</span>
							</b-col>
							<b-col  sm="6" md="2">
								<b-form-group :label="label_tarde">
									<b-row>
										<b-col>
											<b-form-input type="time" v-model="item.lvt_start"></b-form-input>
										</b-col>
										<b-col>
											<b-form-input type="time" v-model="item.lvt_end"></b-form-input>
										</b-col>
									</b-row>
								</b-form-group>
								<span v-show="errores.lvt != ''" class="error">
									{{ errores.lvt }}
								</span>
							</b-col>
						</template>
						<template v-else>
							<b-col  sm="6" md="2">
								<b-form-group label="Lunes a Viernes:">
									<b-row>
										<b-col>
											<b-form-input type="time" v-model="item.lvm_start"></b-form-input>
										</b-col>
										<b-col>
											<b-form-input type="time" v-model="item.lvm_end"></b-form-input>
										</b-col>
									</b-row>
								</b-form-group>
								<span v-show="errores.lvm != ''" class="error">
									{{ errores.lvm }}
								</span>
							</b-col>
						</template>
						<template v-if="!status.fs && !status.ldmt">
							<b-col  sm="6" md="2">
								<b-form-group label="Fin de semana mañana:">
									<b-row>
										<b-col>
											<b-form-input type="time" v-model="item.fsm_start"></b-form-input>
										</b-col>
										<b-col>
											<b-form-input type="time" v-model="item.fsm_end"></b-form-input>
										</b-col>
									</b-row>
								</b-form-group>
								<span v-show="errores.fsm != ''" class="error">
									{{ errores.fsm }}
								</span>

							</b-col>
							<b-col  sm="6" md="2">
								<b-form-group label="Fin de semana tarde:">
									<b-row>
										<b-col>
											<b-form-input type="time" v-model="item.fst_start"></b-form-input>
										</b-col>
										<b-col>
											<b-form-input type="time" v-model="item.fst_end"></b-form-input>
										</b-col>
									</b-row>
								</b-form-group>
								<span v-show="errores.fst != ''" class="error">
									{{ errores.fst }}
								</span>
							</b-col>
						</template>
						<template v-if="status.fs && !status.ldmt">
							<b-col  sm="6" md="2">
								<b-form-group label="Fin de semana:">
									<b-row>
										<b-col>
											<b-form-input type="time" v-model="item.fsm_start"></b-form-input>
										</b-col>
										<b-col>
											<b-form-input type="time" v-model="item.fsm_end"></b-form-input>
										</b-col>
									</b-row>
								</b-form-group>
								<span v-show="errores.fsm != ''" class="error">
									{{ errores.fsm }}
								</span>
							</b-col>
						</template>
					</template>
					<template v-if="!status.f">
						<b-col  sm="6" md="2">
							<b-form-group label="Festivo mañana:">
								<b-row>
									<b-col>
										<b-form-input type="time" v-model="item.fm_start"></b-form-input>
									</b-col>
									<b-col>
										<b-form-input type="time" v-model="item.fm_end"></b-form-input>
									</b-col>
								</b-row>
							</b-form-group>
							<span v-show="errores.fm != ''" class="error">
								{{ errores.fm }}
							</span>
						</b-col>
						<b-col  sm="6" md="2">
							<b-form-group label="Festivo tarde:">
								<b-row class="ulti">
									<b-col>
										<b-form-input type="time" v-model="item.ft_start"></b-form-input>
									</b-col>
									<b-col>
										<b-form-input type="time" v-model="item.ft_end"></b-form-input>
									</b-col>
								</b-row>
							</b-form-group>
							<span v-show="errores.ft != ''" class="error">
								{{ errores.ft }}
							</span>
						</b-col>
					</template>
					<template v-else>
						<b-col sm="6" md="2">
							<b-form-group label="Festivo:">
								<b-row class="ulti">
									<b-col>
										<b-form-input type="time" v-model="item.fm_start"></b-form-input>
									</b-col>
									<b-col>
										<b-form-input type="time" v-model="item.fm_end"></b-form-input>
									</b-col>
								</b-row>
							</b-form-group>
							<span v-show="errores.fm != ''" class="error">
								{{ errores.fm }}
							</span>
						</b-col>
					</template>
				</b-row>
			</b-card>
			
		</b-card-group>
		<div class="float-right">
			<b-btn class="mt-3" variant="outline-primary" @click="crear">Guardar</b-btn>
			<b-btn class="mt-3" variant="outline-primary" @click="cancelar">Cancelar</b-btn>
		</div>

	</b-container>
</template>

<script>
import uploadFile from '../extras/uploadFile.vue';
import Icon from 'vue-awesome/components/Icon';
import validaciones from '../../helpers/validaciones';
import funciones from '../../helpers/funciones';

export default {
	components: {
		uploadFile,
		'icon': Icon,

	},
	mixins: [validaciones,funciones],
	origen:'crear',
	data: ()=>({
		
		pageUrl: 'api/clbs',
		item: {nombre: null, slug: null, cif: null, telefono: null, movil: null, email: null, password: null, password_confirmation: null, responsable: null, pistas: null, horario: null, web: null, direccion: null, provincia: null, poblacion: null, poblacion_id: null, logo: null, instalaciones: [], latidud: 0.00, longitud: 0.00, remember_token: null, postal: null, fm_start: null, fm_end: null, ft_start: null, ft_end: null},
		combo: [],
		comboInstalaciones: [],
		isEdit: false,
		newFile: null,
		label_manana : "Lunes a Viernes mañana",
		label_tarde : "Lunes a Viernes tarde",
		errores: {
			check: '',
			lvm: '',
			lvt: '',
			ldmt: '',
			ld: '',
			fsm: '',
			fst: '',
			fm: '',
			ft: ''
		},
		status:{
			lv: false,
			ld: false,
			ldmt: false,
			fs: false,
			f: false,
		},
		erroresServidor: [],
		pagination: [], 
		cargando: false,

	}),
	watch:{
		item: {
			handler(item) {
				if(item.instalaciones.length == 0 && item.nombre != null){
					this.errores.check = "Selecciona al menos una instalación";
				}else{
					this.errores.check = "";
				}
				
			},
			deep: true
		},
		'status.ldmt'(value){
			value == true ? (this.label_manana = "Lunes a Domingo mañana", this.label_tarde = "Lunes a Domingo tarde") : (this.label_manana = "Lunes a Viernes mañana", this.label_tarde = "Lunes a Viernes tarde");
		},
		'status.ld'(value){
			value == true ? (this.status.lv = false, this.status.fs = false): '';
		},
		'item.nombre'(newVal, oldVal){
			newVal != oldVal? this.erroresServidor.splice(this.erroresServidor.indexOf('nombre'),1) : '';
		},
		'item.email'(newVal, oldVal){
			newVal != oldVal? this.erroresServidor.splice(this.erroresServidor.indexOf('email'),1) : '';
		},
		'item.web'(newVal, oldVal){
			newVal != oldVal? this.erroresServidor.splice(this.erroresServidor.indexOf('web'),1) : '';
		},
		errores: {
			handler(error) {
				
			},
			deep: true
		},
	},
	created(){
		this.pageImage += this.item.id;
		this.combo = this.$store.state.provincias;
		this.comboInstalaciones = this.$store.state.instalaciones;
		
	},
	computed: {
		nameState(){
			return this.validarNombre();
		},
		urlState(){
			return this.validarUrl();
		},
		telefonoState(){
			return this.validarTelefono();
		},
		cifState(){
			return this.validarDocumento();
		},
		dirState(){
			return this.validarDireccion();
		},
		gerenteState(){
			return this.validarGerente();
		},
		movilState(){
			return this.validarMovil();
		},
		emailState(){
			return this.validarMail();
		},
		postalState(){
			return this.validarPostal();
		},
		poblacionState(){
			return this.validarPoblacion();
		},
		pistaState(){
			return this.validarPista();
		},
		checkState(){
			return this.validarCheck();
		},
		passState(){
			return this.validarPass();
		},
	},
	methods:{
		validar(){
			if(this.validarNombre() && (this.validarUrl() || this.validarUrl() == null) && this.validarGerente() && (this.validarTelefono() || this.validarTelefono() == null) && this.validarDocumento() && this.validarDireccion() && this.validarMovil() && this.validarMail() && this.validarPostal() && this.validarPoblacion() && this.validarPista() && this.errores.check == '' && this.errores.lvm == '' && this.errores.lvt == '' && this.errores.ldmt == '' && this.errores.ld == '' && this.errores.fsm == '' && this.errores.fst == '' && this.errores.fm == '' && this.errores.ft == ''){
				return true;
			}else{
				return false;
			}
		},
		nuevaImg(imagen){
			this.item.logo = imagen.img == "" ? "": imagen.img;
			this.newFile = imagen.file == "" ? "" : imagen.file;
		},
		cancelar(){
			this.item = {nombre: null, slug: null, cif: null, telefono: null, movil: null, email: null, password: null, password_confirmation: null, responsable: null, pistas: null, horario: null, web: null, direccion: null, provincia: null, poblacion: null, poblacion_id: null, logo: null, instalaciones: [], latidud: 0.00, longitud: 0.00, remember_token: null, postal: null, fm_start: null, fm_end: null, ft_start: null, ft_end: null};
			this.status = {lv: false, ld: false, ldmt: false, fs: false, f: false};
			this.errores = {check: '', lvm: '', lvt: '', ldmt: '', ld: '', fsm: '', fst: '', fm: '', ft: ''};
			this.erroresServidor = [];
			this.$router.push({name: 'ListClubs'});
		},
		crear(){
			let token = document.head.querySelector('meta[name="csrf-token"]');
			this.item.slug = this.item.nombre == null? '': Slug(this.item.nombre);
			this.item.remember_token = 	token.content;
			this.item.horario = this.formatHorario(this.validarHorario());
			const resError = {check: '', lvm: '', lvt: '', ldmt: '', ld: '', fsm: '', fst: '', fm: '', ft: ''};
			let form = this.toFormData(this.item, this.newFile);
			if(this.validar()){
				axios.post(this.pageUrl, form).then((response) => {
					console.log(response.data);
					this.errores = resError;
					response.data.status == 'success' ? (this.$router.push({name: 'ListClubs'}), toastr.success(response.data.msg)): toastr.warning(response.data.msg);

				}, (error) => {
					console.log(error.response);
					let errores = error.response.data.errors;
					this.erroresServidor = [];
					this.errores = resError;
					
					for (let key in errores){
						this.erroresServidor.push(key);
						this.errores[key] = errores[key][0];
						toastr.warning(errores[key][0]);
					}
				});
			}else{
				const nullables = ['telefono', 'web', 'email'];
				let obj = this.item;
				for (let key in obj){
					if(obj[key] == null){
						if(nullables.includes(key)){
							obj[key] != '' ? obj[key] = obj[key]: obj[key] = null;
							
						}else if(key == 'instalaciones'){
							obj[key] = [];
						}else{
							obj[key] = '';
						}
						
					}else{
						if(nullables.includes(key)){
							obj[key] != null ? obj[key] =  obj[key]: obj[key] = null;
						}else{
							obj[key] = obj[key];
						}
					}
				}
			}
			
		},
	}

	
}
</script>	

<style scoped>
.fieldset{
	border: 1px solid #e9ecef;
}

.form-control-plaintext{
	color: #0031ff;
}
#horario .row{
	border-right : 1px solid rgba(0, 0, 0, 0.125);
}
.ulti{
	border-right : none !important;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button,
input[type=time]::-webkit-inner-spin-button{
	-webkit-appearance: none;
	margin: 0;
}

input[type=number], input[type=time] {
	-moz-appearance:textfield;
}
input[type=time]{
	text-align: center;
}
.card-group{
	padding: 2px 0;
}
.ml-0{
	border-left : 1px solid rgba(0, 0, 0, 0.125) !important;
}
.error{
	width: 100%;
	margin-top: 0.25rem;
	font-size: 80%;
	color: #dc3545;
}
</style>

