<template> 
	<tr>
		<template v-if="isEdit">
			<td>
				<b-form-input type="text" v-model.trim="edit_.id" disabled></b-form-input>
			</td>
			<td>
				<b-form-input type="text" v-model.trim="edit_.nombre" aria-describedby="nombreFeedback" :state="nameState"  @keydown.enter.native="update" required></b-form-input>
				<b-form-invalid-feedback id="nombreFeedback">
				  {{ errores.nombre }}
				</b-form-invalid-feedback>
			</td>
			<td>
				<b-form-input type="text" v-model.trim="edit_.responsable" aria-describedby="responsableFeedback" :state="responsableState"  @keydown.enter.native="update" required></b-form-input>
				<b-form-invalid-feedback id="responsableFeedback">
				  {{ errores.responsable }}
				</b-form-invalid-feedback> 
			</td>
			<td>
				<b-form-input type="number" v-model.trim.lazy="edit_.telefono" aria-describedby="telefonoFeedback" :state="telefonoState"  maxlength="9" @keydown.enter.native="update" required></b-form-input>
				<b-form-invalid-feedback id="telefonoFeedback">
				  {{ errores.telefono }}
				</b-form-invalid-feedback>
			</td>
			<td>
				<b-form-input type="text" v-model.trim="edit_.poblacion" aria-describedby="poblacionFeedback" disabled></b-form-input>
			</td>
			<td>
				<b-button-group>
	              <b-btn variant="success" @click="update"><icon name="check"></icon></b-btn>
	              <b-btn variant="danger" @click="cancelar"><icon name="close"></icon></b-btn>
	            </b-button-group>
			</td>
		</template>
		<template v-else>
			<router-link tag="td" class="click" v-bind:to="{name: 'ShowClub', params: {club: item, slug: item.slug}}">{{item.id}}</router-link>
      		<router-link tag="td" class="click" v-bind:to="{name: 'ShowClub', params: {club: item, slug: item.slug}}">{{item.nombre}}</router-link>
      		<router-link tag="td" class="click" v-bind:to="{name: 'ShowClub', params: {club: item, slug: item.slug}}">{{item.responsable}}</router-link>
      		<router-link tag="td" class="click" v-bind:to="{name: 'ShowClub', params: {club: item, slug: item.slug}}">{{item.telefono}}</router-link>
      		<router-link tag="td" class="click" v-bind:to="{name: 'ShowClub', params: {club: item, slug: item.slug}}">{{item.poblacion}}</router-link>
           	<td>
	            <b-button-group>
	              	<b-btn variant="success" @click="editBtn"><icon name="pencil"></icon></b-btn>
	              	<b-btn variant="danger" @click="deleteBtn"><icon name="trash-o"></icon></b-btn>
	            </b-button-group>
          	</td>
			
		</template>
	</tr>
</template>
<script>
	import Icon from 'vue-awesome/components/Icon';
	import validaciones from '../../helpers/validaciones';

	export default{
		components: {
		   
		    'icon': Icon,
		  
		},
		props: ['item'],
		mixins: [validaciones],
  		origen:'editar',
		data: ()=>({
			edit_: null,
			isEdit: false,
			errores:  [],
			erroresServidor: [],
		}),
		mounted(){
			this.item.password = null;
			this.edit_ = _.clone(this.item);
		},
		computed: {
			nameState () {
        		return this.validarNombre();
		    },
		    responsableState () {
        		return this.validarResponsable();
		    },
		    telefonoState(){
		    	return this.validarTelefono();
		    }
		},
		methods:{
			validar(){
		        if(this.validarNombre() && this.validarResponsable() && this.validarTelefono()){
		          return true;
		        }else{
		          return false;
		        }
		    },
			cancelar(){
		        this.isEdit = false;
		        this.edit_ = _.clone(this.item);
		    },
			editBtn(){
				this.isEdit = !this.isEdit
			},
			update(){
				//let slug = Slug(this.edit_.nombre);
				this.edit_.slug = Slug(this.edit_.nombre);
				//let form = {id: this.edit_.id, nombre : this.edit_.nombre,slug: slug, responsable: this.edit_.responsable, telefono: this.edit_.telefono};
				if(this.validar()){
					this.$emit('update', this.edit_);
					this.isEdit = false;
				}
			},
			deleteBtn(){
				this.$emit('delete', this.edit_);
			},
		}
	}
</script>