<template>
  <div>
    <div class="text-center"><h2>Clubs</h2></div>
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <td colspan="6">
              <b-row>
                <b-col sm="11" lg="6"> 
                  <buscador-component @search="search($event)"></buscador-component>
                </b-col> 
                <b-col sm="1" lg="5">
                  <router-link v-bind:to="{name: 'CreateClub'}">
                    <b-button class="float-right" variant="primary">
                      <icon name="plus"></icon>
                    </b-button>
                  </router-link>
                </b-col>
              </b-row>
            </td>    
          </tr>
          <tr>
            <th width="30">#</th>
            <th class="click" :class="[ sortBy == 'clubs.nombre' ? 'active' : '']"   @click="ordenar('clubs.nombre')" width="250"><icon :name="icoNombre"></icon>  Nombre</th>
            <th class="click" :class="[ sortBy == 'responsable' ? 'active' : '']"   @click="ordenar('responsable')" width="250"><icon :name="icoResponsable"></icon>  Responsable</th>
            <th class="click" :class="[ sortBy == 'telefono' ? 'active' : '']"   @click="ordenar('telefono')" width="250"><icon :name="icoTelefono"></icon>  Teléfono</th>
            <th class="click" :class="[ sortBy == 'poblaciones.nombre' ? 'active' : '']"   @click="ordenar('poblaciones.nombre')" width="250"><icon :name="icoPoblacion"></icon>  Población</th>
            <th width="200">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr align="center" v-show="cargando"><td colspan="3"><icon name="refresh" scale="5" spin></icon></td></tr>
          <crud-component v-for="(item, index) in filtro" :item="item" :key="item.id" @update="actualizar($event)" @delete="tipoAccion('eliminar', $event)"></crud-component>
      </tbody>
    </table>
    <Paginate :pagination="pagination" @pagina="getItems"></Paginate>
    <component :is="modal" @accion="acciones" :formulario="formulario" :select="select" :key="select.id"></component>
  </div>
 </div>

</template>

<script>

import Formulario from './DeleteClub.vue';
import crud from './EditClub.vue';
import EventBus from '../../helpers/event-bus.js';
import Icon from 'vue-awesome/components/Icon';
import Paginate from '../layouts/paginate.vue';
import Buscador from '../extras/buscador.vue';

export default {
  components: {
    'app-form' : Formulario,
    'crud-component': crud,
    'icon': Icon,
    'buscador-component':Buscador,
    Paginate
  },
  data: ()=>({
      
    pageUrl: 'api/clbs',
    items: [],
    pagination: [], 
    cargando: false,
    busqueda: '',
    sortBy: 'clubs.nombre',
    orden: 'ASC',
    Snombre:'DESC',
    Sresponsable: 'DESC',
    Stelefono:'DESC',
    Spoblacion: 'DESC',
    modal:'',
    select:[],
    formulario:'',

  }),
  created() {
    this.getItems();
  },
  computed: {
    filtro(){ 
      if(this.items.length) {
        return this.items;
      }
    },
    icoNombre(){
      if(this.sortBy != 'clubs.nombre' || (this.sortBy == 'clubs.nombre' && this.orden == '')){
        return 'sort';
      }
      return (this.sortBy == 'clubs.nombre' && this.orden == 'ASC') ? 'sort-down': 'sort-up';
    },

    icoResponsable(){
      if(this.sortBy != 'responsable' || (this.sortBy == 'responsable' && this.orden == '')){
        return 'sort';
      }
      return (this.sortBy == 'responsable' && this.orden == 'ASC') ? 'sort-down': 'sort-up';
    },

    icoTelefono(){
      if(this.sortBy != 'telefono' || (this.sortBy == 'telefono' && this.orden == '')){
        return 'sort';
      }
      return (this.sortBy == 'telefono' && this.orden == 'ASC') ? 'sort-down': 'sort-up';
    },

    icoPoblacion(){
      if(this.sortBy != 'poblaciones.nombre' || (this.sortBy == 'poblaciones.nombre' && this.orden == '')){
        return 'sort';
      }
      return (this.sortBy == 'poblaciones.nombre' && this.orden == 'ASC') ? 'sort-down': 'sort-up';
    },
  },
  methods:{
    search(busqueda){
      this.busqueda = busqueda;
      this.getItems();
    },
    ordenar(columna){
        switch(columna){
        case 'clubs.nombre':
          this.Snombre == 'ASC' ? this.Snombre = 'DESC': this.Snombre = 'ASC';
          break;
        case 'responsable':
          this.Sresponsable == 'ASC' ? this.Sresponsable = 'DESC': this.Sresponsable = 'ASC';
          break;
        case 'telefono':
          this.Stelefono == 'ASC' ? this.Stelefono = 'DESC': this.Stelefono = 'ASC';
          break;
        case 'poblaciones.nombre':
          this.Spoblacion == 'ASC' ? this.Spoblacion = 'DESC': this.Spoblacion = 'ASC';
          break;
       } 
            
      this.sortBy = columna;
      this.getItems();
    },
    tipoAccion(action, data = []){
      this.select = data;
      this.modal = 'app-form'; 
      this.formulario = 2;

      EventBus.$emit('openModal','open'); //mando abrir el modal al seleccionar un elemento
    },
    getItems(page){
      this.cargando = true;
      if(this.sortBy == 'clubs.nombre'){ this.orden = this.Snombre};
      if(this.sortBy == 'responsable'){ this.orden = this.Sresponsable};
      if(this.sortBy == 'telefono'){ this.orden = this.Stelefono};
      if(this.sortBy == 'poblaciones.nombre'){ this.orden = this.Spoblacion};
  
      axios.get(`${this.pageUrl}?page=${page}&busqueda=${this.busqueda}&sortBy=${this.sortBy}&orden=${this.orden}`).then((response)=>{
        this.items = response.data.items.data;
        this.pagination = response.data.pagination;
      }, (error) => {
        console.log(error.response);
      })
      this.cargando = false;
    },
    acciones(item){
      switch(item.accion){
        case 'editar':
          this.actualizar(item.objeto);
          break;
        case 'eliminar':
          this.eliminar(item.objeto);
          break;
      };
    },

    eliminar(eliminarId){
      axios.delete(this.pageUrl + "/" + eliminarId.id).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);
      }, (error) => {
        console.error(error.response);
      })
    },
    actualizar(actualizar){
     
      axios.patch(this.pageUrl + '/' + actualizar.id, actualizar).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);
      }, (error) => {
        console.log(error.response);
      })
    },
    
  }
  
}
</script>

<style scoped>

  .active{
    color: #fff;
    background: #0275d8;
  }

</style>