<template>  
	 
	<b-container fluid>
		<template v-if="!isEdit">
			<b-button variant="link" slot="header" class="float-right" @click="clonar"><icon name="edit" scale="1"></icon></b-button>
		</template>
		<template v-else>
			<b-button variant="link" slot="header" class="float-right" @click="cancelar"><icon name="close" scale="1"></icon></b-button>
			<b-button variant="link" slot="header" class="float-right" @click="actualizar"><icon name="check" scale="1"></icon></b-button>
		</template>
		<b-jumbotron class="text-center">
			<template slot="header" v-if="isEdit">
				
				<b-img :src="edit_.logo" fluid rounded width="75" height="75"/>
				<span class="align-middle">
					<b-form-input type="text" v-model.trim="edit_.nombre" aria-describedby="nombreFeedback" :state="nameState"  @keydown.enter.native="actualizar" required></b-form-input>
					<b-form-invalid-feedback id="nombreFeedback">
					  {{ errores.nombre }}
					</b-form-invalid-feedback>   
				</span>
				<hr>
				<h5><span class="float-right">
					<b-form-input type="text" v-model.trim="edit_.web" aria-describedby="urlFeedback" :state="urlState"  @keydown.enter.native="actualizar" required></b-form-input>
					<b-form-invalid-feedback id="urlFeedback">
					  {{ errores.web }}
					</b-form-invalid-feedback> 
				</span></h5>
			</template>
			<template slot="header" v-else>
				<b-img :src="item.logo" fluid rounded width="75" height="75"/>
				<span class="align-middle"> {{ item.nombre }}  </span><hr>
				<h5><span class="float-right"><b>{{ item.web }}</b></span></h5>
			</template>
			<uploadFile v-if="isEdit" @imagen="nuevaImg($event)" :ver="false" :botones="false"></uploadFile>
		</b-jumbotron>
			<b-row>
				<b-col v-if="item.slug">
					<router-link class="btn btn-primary float-left mb-3" v-bind:to="{name: 'PartidasClub', params: {id: item.id, slug: item.slug, ver: 'club'}}">Partidas</router-link>
				</b-col>
				<b-col>
					<router-link class="btn btn-primary float-right mb-3" v-bind:to="'/clubs'">Volver al listado de Clubs</router-link>
				</b-col>
			</b-row>
		<b-card-group>
			<b-card class="mr-1" header-tag="header">
        		<h5 slot="header" class="mb-0">Datos fiscales: </h5>
        		<b-row>
        			<b-col>
	                	<b-form-group label="CIF:">
	                		<template v-if="isEdit">
								<b-form-input type="text" v-model.trim="edit_.cif" aria-describedby="cifFeedback" :state="cifState"  @keydown.enter.native="actualizar" required></b-form-input>
								<b-form-invalid-feedback id="cifFeedback">
							  		{{ errores.cif }}
								</b-form-invalid-feedback> 	
							</template>
							<template v-else>
	    						<p class="form-control-plaintext">{{ item.cif | nif}}</p>
	    					</template>
	 					</b-form-group>
	 				</b-col>
	 				<b-col>
						<b-form-group label="Dirección:">
							<template v-if="isEdit">
								<b-form-input type="text" v-model.trim="edit_.direccion" aria-describedby="dirFeedback" :state="dirState"  @keydown.enter.native="actualizar" required></b-form-input>
								<b-form-invalid-feedback id="dirFeedback">
							  		{{ errores.direccion }}
								</b-form-invalid-feedback> 	
							</template>
							<template v-else>
        						<p class="form-control-plaintext">{{ item.direccion }}</p>
        					</template>
     					</b-form-group>
     				</b-col>
	 				<b-col>
	 					<b-form-group label="Gerente:">
	 						<template v-if="isEdit">
								<b-form-input type="text" v-model.trim="edit_.responsable" aria-describedby="gerenteFeedback" :state="gerenteState"  @keydown.enter.native="actualizar" required></b-form-input>
								<b-form-invalid-feedback id="gerenteFeedback">
							  		{{ errores.responsable }}
								</b-form-invalid-feedback> 	
							</template>
							<template v-else>
	    						<p class="form-control-plaintext">{{ item.responsable }}</p>
	    					</template>
	 					</b-form-group>
	 				</b-col>
 				</b-row>
	        </b-card>
	        <b-card class="ml-0" header-tag="header">
        		<h5 slot="header" class="mb-0">Datos de contacto:</h5>
            	<b-row>	
					<b-col>
						<b-form-group label="Teléfono:">
							<template v-if="isEdit">
								<b-form-input type="number" v-model.trim="edit_.telefono" aria-describedby="telefonoFeedback" :state="telefonoState"  @keydown.enter.native="actualizar" required></b-form-input>
								<b-form-invalid-feedback id="telefonoFeedback">
							  		{{ errores.telefono }}
								</b-form-invalid-feedback> 	
							</template>
							<template v-else>
        						<p class="form-control-plaintext">{{ item.telefono }}</p>
        					</template>
     					</b-form-group>
     				</b-col>
     				<b-col>
						<b-form-group label="Móvil:">
							<template v-if="isEdit">
								<b-form-input type="number" v-model.trim="edit_.movil" aria-describedby="movilFeedback" :state="movilState"  @keydown.enter.native="actualizar"></b-form-input>
								<b-form-invalid-feedback id="movilFeedback">
							  		{{ errores.movil }}
								</b-form-invalid-feedback> 	
							</template>
							<template v-else>
        						<p class="form-control-plaintext">{{ item.movil }}</p>
        					</template>
     					</b-form-group>
     				</b-col>
     				<b-col>
						<b-form-group label="Correo-e:">
							<template v-if="isEdit">
								<b-form-input type="email" v-model.trim="edit_.email" aria-describedby="emailFeedback" :state="emailState"  @keydown.enter.native="actualizar"></b-form-input>
								<b-form-invalid-feedback id="emailFeedback">
							  		{{ errores.email }}
								</b-form-invalid-feedback> 	
							</template>
							<template v-else>
        						<p class="form-control-plaintext">{{ item.email }}</p>
        					</template>
     					</b-form-group>
     					</b-col>
     			</b-row>
     			<template v-if="isEdit">
	     			<b-row>
						<b-col>
							<b-form-group label="Contraseña:">
								<b-form-input type="password" v-model.trim="edit_.password" aria-describedby="passFeedback" :state="passState"  @keydown.enter.native="actualizar" required></b-form-input>
								<b-form-invalid-feedback id="passFeedback">
								  {{ errores.pass }}
								</b-form-invalid-feedback>
							</b-form-group>
						</b-col>
						<b-col>
			        	<b-form-group label="Repetir contraseña:">
			        		<b-form-input type="password" v-model.trim="edit_.password_confirmation" aria-describedby="passFeedback" :state="passState"  @keydown.enter.native="actualizar" required></b-form-input>
							<b-form-invalid-feedback id="passFeedback">
						  		{{ errores.pass_confirm }}
							</b-form-invalid-feedback> 	
						</b-form-group>
					</b-col>
					</b-row>
				</template>
			</b-card>
        </b-card-group>
        <b-card-group>
        	<b-card class="mr-1" header-tag="header">
        		<h5 slot="header" class="mb-0">Datos de localización:</h5>
        		<b-row>	
					<b-col>
						<b-form-group label="Código Postal:">
							<template v-if="isEdit">
								<b-form-input type="number" v-model.trim="edit_.postal" aria-describedby="postalFeedback" :state="postalState"  @keydown.enter.native="actualizar"></b-form-input>
								<b-form-invalid-feedback id="postalFeedback">
							  		{{ errores.postal }}
								</b-form-invalid-feedback> 	
							</template>
							<template v-else>
        						<p class="form-control-plaintext">{{ item.postal }}</p>
        					</template>
     					</b-form-group>
     				</b-col>
     				<b-col>
						<b-form-group label="Población:">
							<template v-if="isEdit">
								<b-form-input type="text" v-model.trim="edit_.poblacion" aria-describedby="poblacionFeedback" :state="poblacionState" disabled></b-form-input>
								<b-form-invalid-feedback id="poblacionFeedback">
							  		{{ errores.poblacion }}
								</b-form-invalid-feedback> 	
							</template>
							<template v-else>
        						<p class="form-control-plaintext">{{ item.poblacion }}</p>
        					</template>
     					</b-form-group>
     				</b-col>
     				<b-col>
						<b-form-group label="Provincia:">
							<template v-if="isEdit">
								<b-form-select v-model.number="edit_.provincia_id" :options="combo" class="mb-3" disabled/>
							</template>
							<template v-else>
        						<p class="form-control-plaintext">{{ item.provincia }}</p>
        					</template>
     					</b-form-group>
     				</b-col>
     			</b-row>
        	</b-card>
        	<b-card class="ml-0" header-tag="header">
        		<h5 slot="header" class="mb-0">Servicios:</h5>
        		<b-row>
					<b-col>
						<b-form-group label="Pistas:">
							<template v-if="isEdit">
								<b-form-input type="number" v-model="edit_.pistas" aria-describedby="pistaFeedback" :state="pistaState"></b-form-input>
								<b-form-invalid-feedback id="pistaFeedback">
							  		{{ errores.pistas }}
								</b-form-invalid-feedback> 	
							</template>
							<template v-else>
		        				<p class="form-control-plaintext">{{  item.pistas }}</p>
		        			</template>
		     			</b-form-group>
					</b-col>
					<b-col>
						<b-form-group label="Instalaciones:">
							<template v-if="isEdit">
								<div class="checkbox-inline">
								  	<label v-for="instalacion in comboInstalaciones" style="width: 50%">
										<input type="checkbox" :value="instalacion.id" v-model="edit_.instalaciones" >
										{{ instalacion.nombre }}
									</label> 
								</div>
								<template v-show="errores.check">
							  		<span style="width: 100%; margin-top: 0.25rem; font-size: 80%;color: #dc3545;">
							  			{{ errores.check }}
							  		</span>
								</template> 	
							</template>
							<template v-else>
								<template v-for="(instalacion, index) in item.instalaciones">
									<p class="form-control-plaintext">{{ instalacion.nombre }}</p>
			        			</template>
			        		</template>
			        	</b-form-group>
					</b-col>
				</b-row>
        	</b-card>
    	</b-card-group>
    	<b-card-group>
    		<b-card class="mr-1" header-tag="header">
        		<h5 slot="header" class="mb-0">Horarios:</h5>
        		<template v-if="isEdit">
	        		<span style="color: rgba(0, 0, 0, 0.65)">En caso de horario ininterrumpido marcar la opción/es correcta</span>
	        		<b-row class="mb-2">
						<b-col v-if="!status.ld && !status.ldmt">
	    					<b-form-checkbox v-model="status.lv">
							    Ininterrumpido Lunes a Viernes
							</b-form-checkbox> 
						</b-col>
						<b-col v-if="!status.ldmt && !status.lv">
	    					<b-form-checkbox v-model="status.ld">
							    Ininterrumpido Lunes a Domingo
							</b-form-checkbox> 
						</b-col>
						<b-col v-if="!status.ld && !status.lv">
	    					<b-form-checkbox v-model="status.ldmt">
							    Horario Lunes a Domingo
							</b-form-checkbox> 
						</b-col>
						<b-col v-if="!status.ld && !status.ldmt">
	    					<b-form-checkbox v-model="status.fs">
							    Ininterrumpido Fin de semana
							</b-form-checkbox> 
						</b-col>
						<b-col>
	    					<b-form-checkbox v-model="status.f">
							    Ininterrumpido Festivo
							</b-form-checkbox> 
						</b-col>
					</b-row>
					<span style="color: rgba(0, 0, 0, 0.65)">Formato 24h</span>
	        		<b-row id="horario"> 
	        			<template v-if="status.ld">
	        				<b-col  sm="6" md="2">
			 					<b-form-group label="Lunes a Domingo:">
									<b-row>
										<b-col>
											<b-form-input type="time" v-model="edit_.lvm_start"></b-form-input>
										</b-col>
										<b-col>
											<b-form-input type="time" v-model="edit_.lvm_end"></b-form-input>
										</b-col>
									</b-row>
								</b-form-group>
								<span v-show="errores.lvm != ''" class="error">
							  		{{ errores.lvm }}
							  	</span>
							</b-col>
	        			</template>
	        			<template v-else>

		        			<template v-if="!status.lv">
			        			<b-col  sm="6" md="2">
				 					<b-form-group :label="label_manana">
										<b-row>
											<b-col>
												<b-form-input type="time" v-model="edit_.lvm_start"></b-form-input>
											</b-col>
											<b-col>
												<b-form-input type="time" v-model="edit_.lvm_end"></b-form-input>
											</b-col>
										</b-row>
									</b-form-group>
									<span v-show="errores.lvm != ''" class="error">
								  		{{ errores.lvm }}
								  	</span>
								</b-col>
								<b-col  sm="6" md="2">
									<b-form-group :label="label_tarde">
										<b-row>
											<b-col>
												<b-form-input type="time" v-model="edit_.lvt_start"></b-form-input>
											</b-col>
											<b-col>
												<b-form-input type="time" v-model="edit_.lvt_end"></b-form-input>
											</b-col>
										</b-row>
									</b-form-group>
									<span v-show="errores.lvt != ''" class="error">
								  		{{ errores.lvt }}
								  	</span>
								</b-col>
							</template>
							<template v-else>
								<b-col  sm="6" md="2">
				 					<b-form-group label="Lunes a Viernes:">
										<b-row>
											<b-col>
												<b-form-input type="time" v-model="edit_.lvm_start"></b-form-input>
											</b-col>
											<b-col>
												<b-form-input type="time" v-model="edit_.lvm_end"></b-form-input>
											</b-col>
										</b-row>
									</b-form-group>
									<span v-show="errores.lvm != ''" class="error">
								  		{{ errores.lvm }}
								  	</span>
								</b-col>
							</template>
							<template v-if="!status.fs && !status.ldmt">
								<b-col  sm="6" md="2">
									<b-form-group label="Fin de semana mañana:">
										<b-row>
											<b-col>
												<b-form-input type="time" v-model="edit_.fsm_start"></b-form-input>
											</b-col>
											<b-col>
												<b-form-input type="time" v-model="edit_.fsm_end"></b-form-input>
											</b-col>
										</b-row>
									</b-form-group>
									<span v-show="errores.fsm != ''" class="error">
								  		{{ errores.fsm }}
								  	</span>

								</b-col>
								<b-col  sm="6" md="2">
									<b-form-group label="Fin de semana tarde:">
										<b-row>
											<b-col>
												<b-form-input type="time" v-model="edit_.fst_start"></b-form-input>
											</b-col>
											<b-col>
												<b-form-input type="time" v-model="edit_.fst_end"></b-form-input>
											</b-col>
										</b-row>
									</b-form-group>
									<span v-show="errores.fst != ''" class="error">
								  		{{ errores.fst }}
								  	</span>
								</b-col>
							</template>
							<template v-if="status.fs && !status.ldmt">
								<b-col  sm="6" md="2">
				 					<b-form-group label="Fin de semana:">
										<b-row>
											<b-col>
												<b-form-input type="time" v-model="edit_.fsm_start"></b-form-input>
											</b-col>
											<b-col>
												<b-form-input type="time" v-model="edit_.fsm_end"></b-form-input>
											</b-col>
										</b-row>
									</b-form-group>
									<span v-show="errores.fsm != ''" class="error">
								  		{{ errores.fsm }}
								  	</span>
								</b-col>
							</template>
						</template>
						<template v-if="!status.f">
							<b-col  sm="6" md="2">
								<b-form-group label="Festivo mañana:">
									<b-row>
										<b-col>
											<b-form-input type="time" v-model="edit_.fm_start"></b-form-input>
										</b-col>
										<b-col>
											<b-form-input type="time" v-model="edit_.fm_end"></b-form-input>
										</b-col>
									</b-row>
								</b-form-group>
								<span v-show="errores.fm != ''" class="error">
								  	{{ errores.fm }}
								</span>
							</b-col>
							<b-col  sm="6" md="2">
								<b-form-group label="Festivo tarde:">
									<b-row class="ulti">
										<b-col>
											<b-form-input type="time" v-model="edit_.ft_start"></b-form-input>
										</b-col>
										<b-col>
											<b-form-input type="time" v-model="edit_.ft_end"></b-form-input>
										</b-col>
									</b-row>
								</b-form-group>
								<span v-show="errores.ft != ''" class="error">
								  	{{ errores.ft }}
								</span>
							</b-col>
						</template>
						<template v-else>
							<b-col sm="6" md="2">
								<b-form-group label="Festivo:">
									<b-row class="ulti">
										<b-col>
											<b-form-input type="time" v-model="edit_.fm_start"></b-form-input>
										</b-col>
										<b-col>
											<b-form-input type="time" v-model="edit_.fm_end"></b-form-input>
										</b-col>
									</b-row>
								</b-form-group>
								<span v-show="errores.fm != ''" class="error">
								  	{{ errores.fm }}
								</span>
							</b-col>
						</template>
					</b-row>
					<b-button variant="link" class="float-right" @click="cancelar"><icon name="close" scale="1"></icon></b-button>
					<b-button variant="link" class="float-right" @click="actualizar"><icon name="check" scale="1"></icon></b-button>
				</template>
				<template v-else>
					<ul v-for="horario in item.horario.split('|')">
						<li> {{ horario }} </li>
					</ul>
					
				</template>
			</b-card>
		</b-card-group>
	

	</b-container>
</template>

<script>
import uploadFile from '../extras/uploadFile.vue';
import Icon from 'vue-awesome/components/Icon';
import validaciones from '../../helpers/validaciones';
import funciones from '../../helpers/funciones';

   export default { 
   	components: {
	    uploadFile,
	    'icon': Icon,
	},
  	mixins: [validaciones,funciones],
  	origen:'editar',
   	data: ()=>({
	   
	   	//pageUrl: 'clbs',
	   	pageUrl: 'api/clbs/update/',
    	item: [],
      	edit_: null,
      	combo: [],
      	comboInstalaciones: [],
      	isEdit: false,
		newFile: null,
		copiaImg: '',
		label_manana : "Lunes a Viernes mañana",
		label_tarde : "Lunes a Viernes tarde",
		errores: {
			check: '',
			lvm: '',
			lvt: '',
			ldmt: '',
			ld: '',
			fsm: '',
			fst: '',
			fm: '',
			ft: ''
		},
		status:{
			lv: false,
			ld: false,
			ldmt: false,
			fs: false,
			f: false,
		},
		erroresServidor: [],
	    pagination: [], 
	    cargando: false,

  	}),
  	watch:{
		edit_: {
            handler(item) {
            	if(item.instalaciones.length == 0){
            		this.errores.check = "Selecciona al menos una instalación";
				}else{
					this.errores.check = "";
				}
            },
            deep: true
        },
        'status.ldmt'(value){
        	value == true ? (this.label_manana = "Lunes a Domingo mañana", this.label_tarde = "Lunes a Domingo tarde") : (this.label_manana = "Lunes a Viernes mañana", this.label_tarde = "Lunes a Viernes tarde");
        },
        'status.ld'(value){
        	value == true ? (this.status.lv = false, this.status.fs = false): '';
        },
        'edit_.nombre'(newVal, oldVal){
        	newVal != oldVal? this.erroresServidor.splice(this.erroresServidor.indexOf('nombre'),1) : '';
     	},
     	'edit_.email'(newVal, oldVal){
        	newVal != oldVal? this.erroresServidor.splice(this.erroresServidor.indexOf('email'),1) : '';
     	},
     	'edit_.web'(newVal, oldVal){
        	newVal != oldVal? this.erroresServidor.splice(this.erroresServidor.indexOf('web'),1) : '';
     	},
	},
   	created(){

		/*this.$route.params.club == null? this.item = this.$store.state.club  :  (this.item = this.$route.params.club, this.$store.commit('club', this.$route.params.club));*/

		this.$route.params.club == null? this.item = JSON.parse(localStorage.getItem('club'))  :  (this.item = this.$route.params.club, localStorage.setItem('club', JSON.stringify(this.$route.params.club)));

		this.combo = this.$store.state.provincias;
		this.comboInstalaciones = this.$store.state.instalaciones;
	},
	computed: {
		nameState () {
    		return this.validarNombre();
	    },
	    urlState(){
	    	return this.validarUrl();
	    },
	    telefonoState(){
	    	return this.validarTelefono();
	    },
	    cifState(){
	    	return this.validarDocumento();
	    },
	    dirState(){
	    	return this.validarDireccion();
	    },
	    gerenteState(){
	    	return this.validarGerente();
	    },
	    movilState(){
	    	return this.validarMovil();
	    },
	    emailState(){
	    	return this.validarMail();
	    },
	    postalState(){
			return this.validarPostal();
		},
		poblacionState(){
			return this.validarPoblacion();
		},
		pistaState(){
			return this.validarPista();
		},
		checkState(){
			return this.validarCheck();
		},
		passState(){
			return this.validarPass();
		},
	},
	methods:{
		validar(){
	        if(this.validarNombre() && this.validarUrl() && this.validarGerente() && this.validarTelefono() && this.validarDocumento() && this.validarDireccion() && this.validarMovil() && this.validarMail() && this.validarPostal() && this.validarPoblacion() && this.validarPista() && this.errores.check == ''){
	          return true;
	        }else{
	          return false;
	        }
	    },
	    nuevaImg(imagen){
			this.edit_.logo = imagen.img == "" ? "": imagen.img;
			this.newFile = imagen.file == "" ? "" : imagen.file;

		},
		clonar(){
			let datos = [];
			let instalaciones = [];
			const me = this;

			me.isEdit = !me.isEdit;
			me.edit_ = _.clone(me.item);

			me.instalaciones = [];
			datos = me.item.instalaciones;
			datos.forEach((instalacion)=>{
			    instalaciones.push(instalacion.id);	
			});
			
			let horarios = me.item.horario.split('|');
			horarios.forEach((horario)=>{
				me.desgloasarHorarioEditar(horario);
			})

			me.edit_.instalaciones = instalaciones;
			
		},
		cancelar(){
			this.isEdit = false;
		},
		nuevoItem(){
			const datos = this.edit_.instalaciones;
			const instalaciones = this.comboInstalaciones;
			let x = 0;
			let obj = [];
			datos.forEach((instalacion) => {
				for(let i = 0; i < instalaciones.length; i++){
					if(instalaciones[i].id == instalacion){
						obj[x] = instalaciones[i];
						x++;
					}
				};
			});
			this.edit_.instalaciones = obj;
		},
		actualizar(){
			this.edit_.slug = this.edit_.nombre == null? '': Slug(this.edit_.nombre);
			this.edit_.horario = this.formatHorario(this.validarHorario());
	    	const resError = {check: '', lvm: '', lvt: '', ldmt: '', ld: '', fsm: '', fst: '', fm: '', ft: ''};
			let form = this.toFormData(this.edit_, this.newFile);
			
			if(this.validar()){
				axios.post(this.pageUrl + this.edit_.id, form).then((response) => {
					
					if(response.data.status == 'success'){
						this.errores = resError;
						this.item = this.edit_;
						this.nuevoItem();

						localStorage.setItem('club', JSON.stringify(this.edit_));
						this.isEdit = false;
						toastr.success(response.data.msg);
					}else{
						toastr.warning(response.data.msg);
					} 
		      	}, (error) => {
		      		console.error(error.response)
		      		let errores = error.response.data.errors;
			      	this.erroresServidor = [];
			      	this.errores = resError;
			      	
			      	for (let key in errores){
			      		this.erroresServidor.push(key);
			      		this.errores[key] = errores[key][0];
			      		toastr.warning(errores[key][0]);
			      	}
			    });
		    }else{
		    	const nullables = ['telefono', 'web', 'email'];
		      	let obj = this.item;
		    	for (let key in obj){
		    		if(obj[key] == null){
		    			if(nullables.includes(key)){
		    				obj[key] != '' ? obj[key] = obj[key]: obj[key] = null;
		  
		    			}else if(key == 'instalaciones'){
		    				obj[key] = [];
		    			}else{
		    				obj[key] = '';
		    			}
		    			
		    		}else{
		    			if(nullables.includes(key)){
		    				obj[key] != null ? obj[key] =  obj[key]: obj[key] = null;
		    			}else{
							obj[key] = obj[key];
						}
		    		}
	            }
     	    }
		},
	}

	
 }
</script>	

<style scoped>
	.fieldset{
		border: 1px solid #e9ecef;
	}

	.form-control-plaintext{
		color: #0031ff;
	}
	#horario .row{
		border-right : 1px solid rgba(0, 0, 0, 0.125);
	}
	.ulti{
		border-right : none !important;
	}
	input[type=number]::-webkit-outer-spin-button,
	input[type=number]::-webkit-inner-spin-button,
	input[type=time]::-webkit-outer-spin-button,
	input[type=time]::-webkit-inner-spin-button{
		-webkit-appearance: none;
		margin: 0;
	}

	input[type=number], input[type=time] {
		-moz-appearance:textfield;
	}
	input[type=time]{
		text-align: center;
	}
	.card-group{
	    padding: 2px 0;
	}
	.ml-0{
		border-left : 1px solid rgba(0, 0, 0, 0.125) !important;
	}
	.error{
		width: 100%;
		margin-top: 0.25rem;
		font-size: 80%;
		color: #dc3545;
	}
</style>

