<template>
	<tr>
		<template v-if="isEdit">
			<td>
				<b-form-input type="text" v-model.trim="edit_.titulo" aria-describedby="tituloFeedback" :state="tituloState"  @keydown.enter.native="update" required></b-form-input>
				<b-form-invalid-feedback id="tituloFeedback">
				  {{ errores.titulo }}
				</b-form-invalid-feedback>
			</td>
			<td>
				<b-form-radio-group v-model="edit_.status">
		          <b-form-radio value="PUBLICADO">Publicado</b-form-radio>
		          <b-form-radio value="BORRADOR">Borrador</b-form-radio>
		        </b-form-radio-group>
			</td>
			<td>
				<b-button-group>
	              <b-btn variant="success" @click="update"><icon name="check"></icon></b-btn>
	              <b-btn variant="danger" @click="cancelar"><icon name="close"></icon></b-btn>
	            </b-button-group>
			</td>
		</template> 
		<template v-else>
		   <router-link tag="td" class="click" :to="{name: 'ShowNoticia', params: {noticia: item, slug: item.slug}}">{{item.titulo}}</router-link>
           <router-link tag="td" class="click" :to="{name: 'ShowNoticia', params: {noticia: item, slug: item.slug}}">{{item.status}}</router-link>
           <td>
                <b-button-group>
	              	<b-btn variant="success" @click="editBtn"><icon name="pencil"></icon></b-btn>
	              	<b-btn variant="danger" @click="deleteBtn"><icon name="trash-o"></icon></b-btn>
	            </b-button-group>
          </td>
		</template>
	</tr>
</template>
<script>
import Icon from 'vue-awesome/components/Icon';
import validaciones from '../../../helpers/validaciones';
	export default{
		props: ['item'],
		components: {
		   'icon': Icon,
		},
		mixins: [validaciones],
		data: ()=>({
			edit_: null,
			isEdit: false,
			errores:  [],
			erroresServidor: [],
		}),
		computed: {
			tituloState () {
        		return this.validarTitulo();
		    },
		},
		mounted(){
			
		},
		methods:{
			validar(){
		        if(this.validarTitulo()){
		          return true;
		        }else{
		          return false;
		        }
		    },
			cancelar(){
		        this.isEdit = false;
		        this.edit_ = _.clone(this.item);
		    },
			editBtn(){
				this.isEdit = !this.isEdit
				this.edit_ = _.clone(this.item);
			},
			update(){
				if(this.validar()){
					this.$emit('update', this.edit_);
					this.isEdit = false;
				}
			},
			deleteBtn(){
				this.$emit('delete', this.item);
			},
		}
	}
</script>

<style scoped>

</style>