<template>
 
	<b-modal v-model="modalShow" hide-footer :title="titulo" centered>
    <div class="float-right">
      <b-btn class="mt-3" variant="outline-danger" @click="eliminar">Eliminar</b-btn>
      <b-btn class="mt-3" variant="outline-primary" @click="cerrar">Cancelar</b-btn>
    </div>
  </b-modal>

</template>

<script>

import EventBus from '../../../helpers/event-bus.js';

export default {

	props:['select', 'formulario'],
  origen:'crear',
	mounted(){
		this.abrir();

	},
  data: ()=>({

    item: {titulo: null},
    titulo:"",
    modalShow: true,

  }),
  
  created(){
    EventBus.$on('openModal', (modal) => (//dejo un canal de comunicacion abierto con el padre
        modal=='open'?this.abrir():this.cerrar() //evaluo los datos que me envia el padre.
      )
    ); 
  },

  methods: {
    cabeceraModal(){
        this.titulo= 'Eliminar «' + this.select.nombre + '»';
    },
    eliminar(){
      this.$emit('accion',{accion: 'eliminar', objeto: this.select}); //envio al padre la accion y el elemento.
    },

    abrir(){
        this.cabeceraModal();
        this.modalShow = true;
    },
    cerrar(){
      this.item = [];
      this.modalShow = false;
    },
          
  }
}
</script>