<template>
	<div>
    <div class="text-center"><h2>Noticia</h2></div> 
    
    <b-form >
      <b-form-group label="Titulo:*">
        <b-form-input  type="text" v-model="edit_.titulo" required placeholder="Titulo de la noticia" aria-describedby="tituloFeedback" :state="tituloState"></b-form-input>
        <b-form-invalid-feedback id="tituloFeedback">
            {{ errores.titulo }}
        </b-form-invalid-feedback>  
      </b-form-group>
      <b-form-group label="Url amigable">
        <b-form-input type="text" :value="edit_.titulo |  stringSlug" disabled>
        </b-form-input>
      </b-form-group>
      <b-form-group label="Imagen cabecera:" >
        <b-row align-h="center" class="mb-2">
          <b-col cols="3" class="text-center">
            <b-img :src="edit_.imagen" rounded max-width="175" height="175"/>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <uploadFile @imagen="nuevaImg($event)" :ver="false" :botones="false"></uploadFile>
          </b-col>
        </b-row>
      </b-form-group>
      <b-form-group label="Estado">
        <b-form-radio-group v-model="edit_.status">  
          <b-form-radio value="PUBLICADO">Publicado</b-form-radio>
          <b-form-radio value="BORRADOR">Borrador</b-form-radio>
        </b-form-radio-group>
      </b-form-group>
      <b-form-group label="Titular">
      	 <vue-editor id="titular" v-model="edit_.titular" :editor-toolbar="miniToolbar"></vue-editor>
      </b-form-group>
      
      <b-form-group label="Contenido">
        
           <vue-editor id="cuerpo" v-model="edit_.contenido" useCustomImageHandler @imageAdded="handleImageAdded"></vue-editor>

      </b-form-group>
        <div class="float-right">
          <b-btn class="mt-3" variant="outline-primary" @click="actualizar">Actualizar</b-btn>
          <b-btn class="mt-3" variant="outline-primary" @click="cancelar">Cancelar</b-btn>
        </div>
      </b-form>
  </div>
</template>
<script>
  
	import uploadFile from '../../extras/uploadFile'
  import { VueEditor } from 'vue2-editor';
  import validaciones from '../../../helpers/validaciones';
  import funciones from '../../../helpers/funciones';

	const toolbarFull = [
      ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
      ['blockquote', 'code-block'],

      [{ 'header': 1 }, { 'header': 2 }],               // custom button values
      [{ 'list': 'ordered'}, { 'list': 'bullet' }],
      [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
      [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
      [{ 'direction': 'rtl' }],                         // text direction

      [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
      [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

      [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
      [{ 'font': [] }],
      [{ 'align': [] }],

      ['clean']                                         // remove formatting button
    ];

	export default{
		props: [],
    origen: 'editar',
    mixins: [validaciones, funciones],
		components: {
        	VueEditor,
          uploadFile
    	},
		data: ()=>({
      pageUrl: 'ntcs',
			item: {titulo: null, titular: null, contenido: null, imagen: null, status:'BORRADOR'},
    	edit_: null,
    	newFile: null,
    	miniToolbar: [ [{ 'header': 1 }, { 'header': 2 }],['bold', 'italic', 'underline'],[{ 'color': [] }],['clean']],
      errores: [],
      erroresServidor: [],
		}),
    created(){
   	      
      this.$route.params.noticia == null ? this.edit_ = _.clone(JSON.parse(localStorage.getItem('noticia'))) :  (console.log('lleno'), this.edit_ = _.clone(this.item = this.$route.params.noticia), localStorage.setItem('noticia', JSON.stringify(this.$route.params.noticia)));

		},
	  watch:{
      'edit_.titulo'(oldValue, newValue){
        (oldValue != newValue && this.erroresServidor.titulo )? this.erroresServidor.titulo = '': '';
      },

      "edit_.titular"(oldValue, newValue){
       (oldValue != newValue && this.erroresServidor.titular )? this.erroresServidor.titular = '': '';
      },
    },
    computed: {
      tituloState () {
       return this.validarTitulo();
      },
      titularState () {
        return this.validarTitular();
      },
    },
		mounted(){
			
		},
	  methods:{
        handleImageAdded(file, Editor, cursorLocation, resetUploader) {
        var formData = new FormData();
        formData.append('image', file)

        /*axios({
          url: `${this.pageUrl}/imagen`,
          method: 'POST',
          data: formData
        })*/
        axios.post(`${this.pageUrl}/imagen`,formData).then((response) => {
          let url = response.data // Get url from response
          Editor.insertEmbed(cursorLocation, 'image', url);
          resetUploader();
        })
        .catch((err) => {
          console.log(err);
        })
      },
      validar(){
        if(this.validarTitulo() && this.validarTitular()){
          return true
        }else{
          this.edit_.titulo == null? this.edit_.titulo = '': '';
          this.edit_.titular == null? toastr.warning('El titular no puede estar vacío'): '';
          return false;
        }
      },
      actualizar(){
        
        if(this.validar()){
          this.edit_.slug = Slug(this.edit_.titulo);
          let form = this.toFormData(this.edit_, this.newFile);
         
          axios.post(`${this.pageUrl}/update/${this.edit_.id}`, form).then((response) => {
            response.data.status == 'success' ? (toastr.success(response.data.msg), localStorage.setItem('noticia', JSON.stringify(this.edit_))): toastr.warning(response.data.msg);

          }, (error) => {
            let errores = error.response.data.errors;
            this.erroresServidor = [];
            for (let key in errores){
              this.erroresServidor[key] = errores[key][0];
              this.errores[key] = errores[key][0];
              toastr.warning(errores[key][0]);
              }
          }).catch((err) => {
            console.log(err);
          });
        }
           
      },

      cancelar(){
        this.edit_ = _.clone(this.item);
        this.$router.push({name: 'ListNoticias'});
      },
	    nuevaImg(imagen){
        this.edit_.imagen = imagen.img == "" ? "": imagen.img;
        this.newFile = imagen.file == "" ? "" : imagen.file;
	    },
	}
		
}
</script>

<style scoped>

</style>