<template>
	<tr>
	    <td @click="showBtn" class="click">{{ item.club }}</td>
	    <td @click="showBtn" class="click">{{ item.poblacion }}</td>
	    <td @click="showBtn" class="click">{{ item.provincia }}</td>
	    <td @click="showBtn" class="click">{{ item.pista }}</td>
	    <td @click="showBtn" class="click">{{ item.nick }}</td>
	    <!--td @click="showBtn" class="click">{{ item.jugadoresPartida[0].pala }}</td-->
	    <td v-if="vista == 'semana'" @click="showBtn" class="click">{{ item.inicio_alquiler  | formatearFecha }} </td>
	    <td @click="showBtn" class="click">{{ item.inicio_alquiler  | formatearHora }}</td> 
	    <td @click="showBtn" class="click">{{ item.fin_alquiler  | formatearHora }}</td>
	    <td>
            <b-button-group>
            	<b-btn variant="primary" @click="showBtn"><icon name="eye"></icon></b-btn>
              	<b-btn variant="success" @click="editBtn"><icon name="pencil"></icon></b-btn>
              	<b-btn variant="danger" @click="deleteBtn"><icon name="trash-o"></icon></b-btn>
            </b-button-group>
        </td>
	</tr>
</template>
<script>
	import Icon from 'vue-awesome/components/Icon';
	import validaciones from '../../helpers/validaciones';

	export default{
		components: {
		   
		    'icon': Icon,
		  
		},
		props: ['item', 'vista'],
		mixins: [validaciones],
  		origen:'editar',
		data: ()=>({
			edit_: null,
			isEdit: false,
		}),
		watch:{
			item(nuevos){
				this.edit_ = nuevos;
			}
		},
		mounted(){
			this.edit_ = _.clone(this.item);
		},
		
		methods:{
			editBtn(){
				this.$emit('update', this.edit_);
			},
			showBtn(){
				this.$emit('ver', this.edit_);
			},
			deleteBtn(){
				this.$emit('delete', this.edit_);
			},
			
		}
	}
</script>